{% extends "html/home.html" %}
{% load i18n attr %}
{% block pagetitle %}
  {% if object and object.status == co.DRAFT %}
    {% trans "Order Draft Edit" %}
  {% else  %}
    {% trans "Order Edit" %}
  {% endif %}
{% endblock %}
{% block content %}

    <main id="main">
      <div class="container"> 

        {% include 'html/nav.html' %}

        <!-- BEGIN CONTENT -->
        <div class="row">

         {% include 'html/sidebar-account.html' %}

          <!-- BEGIN MIDDLE LAYOUT -->
          <div id="layout-middle" class="col-md-9 col-sm-12 col-xs-12">
          
            <h1 class="page-title pull-left">Order ID: 454545454545</h1>
            
            <div style="margin-top: 16px; margin-bottom: 24px;"><a href="#" class="btn btn-default pull-right btn-back"><i class="fa fa-angle-left"></i> Back</a></div>

            <div class="clearfix"></div>

            <!--BEGIN TABS-->
            <ul class="nav nav-tabs" role="tablist">
              <li class="active"><a href="#details" role="tab" data-toggle="tab">Order details</a></li>
              <li><a href="#files" role="tab" data-toggle="tab">Files</a></li>
              <li><a href="#messages" role="tab" data-toggle="tab">messages (2)</a></li>
            </ul>
            
            <div class="tab-content">
              <!-- Begin Details Tab -->
                <div class="tab-pane active" id="details">
                  <form class="form-horizontal edit-order" role="form">
                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Order</label>
                    <div class="col-md-9 col-sm-9">
                      <input type="text" class="form-control" value="4545454545">
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Topic</label>
                    <div class="col-md-9 col-sm-9">
                      <input type="text" class="form-control" value="sgsdgjosddgj">
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Type of assignment</label>
                    <div class="col-md-9 col-sm-9">
                      <select class="form-control">
                        <option selected>Dissertation chapter - Introduction</option>
                        <option>option 1</option>
                        <option>option 2</option>
                      </select>
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Urgency</label>
                    <div class="col-md-9 col-sm-9">
                      <input type="text" class="form-control" value="14 days">
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Writer level</label>
                    <div class="col-md-9 col-sm-9">
                      <input type="text" class="form-control" value="Master's">
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Style</label>
                    <div class="col-md-9 col-sm-9">
                      <select class="form-control">
                        <option selected>APA</option>
                        <option>option 1</option>
                        <option>option 2</option>
                      </select>
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Sources</label>
                    <div class="col-md-9 col-sm-9">
                      <input type="text" class="form-control" value="5">
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Language</label>
                    <div class="col-md-9 col-sm-9">
                      <select class="form-control">
                        <option selected>English</option>
                        <option>option 1</option>
                        <option>option 2</option>
                      </select>
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Description</label>
                    <div class="col-md-9 col-sm-9">
                      <textarea class="form-control" rows="3">sdflkslkflskkfjlksdmklmlsdmf</textarea>
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Added</label>
                    <div class="col-md-9 col-sm-9">
                      <div class='date datetimepicker'>
                        <input type='text' class="form-control" />
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Delivery</label>
                    <div class="col-md-9 col-sm-9">
                      <div class='date datetimepicker'>
                        <input type='text' class="form-control" />
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Spacing</label>
                    <div class="col-md-9 col-sm-9">
                      <input type="text" class="form-control" value="Single spaced">
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Page price</label>
                    <div class="col-md-9 col-sm-9">
                      <input type="text" class="form-control" value="56$">
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Pages</label>
                    <div class="col-md-9 col-sm-9">
                      <input type="text" class="form-control" value="6">
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Additional services</label>
                    <div class="col-md-9 col-sm-9">
                      <input type="text" class="form-control" value="5">
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Discount</label>
                    <div class="col-md-9 col-sm-9">
                      <input type="text" class="form-control" value="0%">
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Price</label>
                    <div class="col-md-9 col-sm-9">
                      <input type="text" class="form-control" value="356$">
                    </div>
                    </div>

                    <div class="form-group">
                      <label class="col-md-3 col-sm-3 control-label">Payment details</label>
                    <div class="col-md-9 col-sm-9">
                      
                    </div>
                    </div>

                    <div class="form-group writer-id">
                      <label class="col-md-3 col-sm-3 control-label">Writer ID</label>
                    <div class="col-md-9 col-sm-9">
                      
                    </div>
                    </div>

                    <div class="row text-left order-actions">
                      <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modalDelete">Delete</a> 
                      <a href="#" class="btn btn-default">Back</a>
                      <a href="#" class="btn btn-primary">Save changes</a>                    
                    </div>
                  </form>

                  <!-- begin Delete modal-->
                <div class="modal fade order-modal" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-md">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                          <span aria-hidden="true"></span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end Delete modal-->

                </div><!-- End Details Tab -->



                <!-- Begin Files Tab -->
                <div class="tab-pane" id="files">
                  <!-- Begin If no files found CODE -->
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label class="col-sm-3 control-label">No files found</label>
                    <div class="col-sm-9">
                      <a class="btn btn-default" data-toggle="modal" data-target="#modalUploadFile">Upload file</a>
                    </div>
                    </div>
                  </form>
                  <!-- End If no files found CODE -->

                  <!-- Begin If files uploaded -->
                  <br><br><br>
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered tablesorter">
                      <thead>
                        <tr>
                          <th>Date created</th>
                          <th>File name</th>
                          <th>Comment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>05.01.2011</td>
                          <td>546456.rtf</td>
                          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique egestas tortor ut euismod. Curabitur quis sem consectetur</td>
                        </tr>

                        <tr>
                          <td>05.01.2011</td>
                          <td>546456.rtf</td>
                          <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique egestas tortor ut euismod. Curabitur quis sem consectetur</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <a class="btn btn-default" data-toggle="modal" data-target="#modalUploadFile">Upload file</a>
                  <!-- End If files uploaded -->

                </div><!-- End Files Tab -->



                <!-- Begin Messages Tab -->
                <div class="tab-pane" id="messages">
                  <div id="messages-list">
                    <div class="row message-mine">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="user-avatar"><img src="images/thumb-user-default.jpg" alt=""></div>
                      </div>
                      <div class="col-md-10 col-sm-10 col-xs-10 message">
                        <div class="message-time">I am at 22:20</div>
                        <div class="message-subj">Hi</div>
                        <div class="message-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
                      </div>
                    </div>

                    <div class="row message-support">
                      <div class="col-md-10 col-sm-10 col-xs-10 message">
                        <div class="message-time">Support am at 22:20</div>
                        <div class="message-subj">Re: Hi</div>
                        <div class="message-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</div>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="user-avatar"><img src="images/thumb-support-default.png" alt=""></div>
                      </div>
                    </div>

                    <div class="row message-mine">
                      <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="user-avatar"><img src="images/thumb-user-default.png" alt=""></div>
                      </div>
                      <div class="col-md-10 col-sm-10 col-xs-10 message">
                        <div class="message-time">I am at 22:20</div>
                        <div class="message-subj">Hi</div>
                        <div class="message-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</div>
                      </div>
                    </div>
                  </div>

                  <div class="row message-reply-form">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                          <label class="col-md-2 col-sm-2 col-xs-12 control-label">Send to:</label>
                          <div class="col-md-4 col-sm-4 col-xs-12">
                            <select class="form-control">
                              <option>Writter</option>
                              <option>Support</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                          <input type="text" class="form-control" placeholder="Subject">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" placeholder="Type a message here..." rows="3"></textarea>
                        </div>
                      </div>

                      <button class="btn btn-primary">Submit</button>

                    </form>
                  </div>
                </div><!-- End Messages Tab -->
              </div>
            <!--END TABS-->

            <!-- BEGIN MODALS -->
            <!-- begin Extend modal-->
            <div class="modal fade order-modal" id="modalExtend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true"></span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Extend Deadline</h4>
                  </div>

                  <div class="modal-body">
                    <form class="form-inline">
                      <div class="form-group">
                        <label>Add</label>
                        <input type="text" class="form-control" placeholder="1">
                      </div>
                      <div class="form-group">
                        <label>day(s) and</label>
                        <input type="text" class="form-control" placeholder="0">
                        <label>hours</label>
                      </div>
                      <div class="submit-group">
                        <button class="btn btn-primary">Extend</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- end Extend modal-->
            
            <!-- begin Delete modal-->
            <div class="modal fade order-modal" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true"></span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Delete</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- begin Upload File modal-->
            <div class="modal fade order-modal" id="modalUploadFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      <span aria-hidden="true"></span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Upload file</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal">
                      <div class="form-group">
                        <label class="col-sm-4 control-label">File input</label>
                        <div class="col-sm-8">
                          <input type="file" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-4 control-label">Comment</label>
                        <div class="col-sm-8">
                          <textarea class="form-control" rows="3"></textarea>
                        </div>
                      </div>
                      <div class="submit-group">
                        <button type="button" data-toggle="modal" data-target="#modalUploadSuccess" class="btn btn-primary">Upload</button>
                      </div>
                    </form>
                  </div>

                </div>
              </div>
            </div>
            <!-- end Delete modal-->
            
            <!-- begin Upload Success modal-->
            <div class="modal fade order-modal" id="modalUploadSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <div class="modal-body">File uploaded successfull</div>
                </div>
              </div>
            </div>
            <!-- end Upload Success modal-->
            <!-- END MODALS -->


          </div>
          <!-- END MIDDLE LAYOUT -->
        </div>
        <!-- END CONTENT -->
      </div>    
    </main>

{% comment %}
<section class="container-fluid panel panel-default{% if form.errors %} panel-danger{% endif %}">
    <div class="panel-heading">
        <h3 class="panel-title">{% if object %}<i class="fa fa-edit fa-lg" style="margin-right:1em"></i>{% if object and object.status == co.DRAFT %}
          {% trans "Order Draft Edit" %}{% else %}{% trans "Order Edit" %}{% endif %} { Id: {{object.id}} }{% else %}<i class="fa fa-asterisk fa-lg" style="margin-right:1em"></i>{% trans "New Order" %}{% endif %}</h3>
    </div>
    <div class="panel-body">
        <form role="form" action="{% if object %}{% url "task_edit" object.pk %}{% else %}{% url "task_new" %}{% endif %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--
            {% if form.errors  %}
            {{form.errors}}
            {% endif  %}
            -->
            {% if site == "admin" or site == "editor" %}
            <div class="row">
                <div class="col-md-8">
                    {% endif %}
                    <div class="row">
                        <!-- pass some hidden fields to a customer -->
                        {% if site == 'customer' %}
                        <input type="hidden" name="access_level" value="{{co.PRIVATE_ACCESS}}">
                        {% endif %}
                        <!-- left column -->
                        <div class="{% if site == 'customer' or site == 'writer' %}col-md-5 col-md-offset-1{% else %}col-md-6{% endif %}">
                            <div class="form-group{% if form.assigment.errors %} has-error{% endif %}">
                                <label>{% trans "Assigment Type" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-list-alt fa-fw"></i></span>
                                    {{form.assigment|attr:"class:form-control,autocomplete:off,placeholder:Assigment Type"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.urgency.errors %} has-error{% endif %}">
                                <label>{% trans "Urgency" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                                    {{form.urgency|attr:"class:form-control,autocomplete:off,placeholder:Urgency"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.page_number.errors %} has-error{% endif %}">
                                <label>{% trans "Number of pages" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-files-o fa-fw"></i></span>
                                    {{form.page_number|attr:"class:form-control,autocomplete:off,placeholder:Number of pages"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.spacing.errors %} has-error{% endif %}">
                                <label>{% trans "Spacing" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-arrows-v fa-fw"></i></span>
                                    {{form.spacing|attr:"class:form-control,autocomplete:off,placeholder:Spacing"}}
                                </div>
                            </div>
                        </div>
                        <div class="{% if site == 'customer'%}col-md-5{% else %}col-md-6{% endif %}">
                            <div class="form-group{% if form.discipline.errors %} has-error{% endif %}">
                                <label>{% trans "Discipline" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-book fa-fw"></i></span>
                                    {{form.discipline|attr:"class:form-control,autocomplete:off,placeholder:Discipline"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.level.errors %} has-error{% endif %}">
                                <label>{% trans "Level" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-certificate fa-fw"></i></span>
                                    {{form.level|attr:"class:form-control,autocomplete:off,placeholder:Level"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.style.errors %} has-error{% endif %}">
                                <label>{% trans "Academic Styles" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-building-o fa-fw"></i></span>
                                    {{form.style|attr:"class:form-control,autocomplete:off,placeholder:Styles"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.source_number.errors %} has-error{% endif %}">
                                <label>{% trans "Number of sources/references" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                    {{form.source_number|attr:"class:form-control,autocomplete:off,placeholder:Number of sources/references"}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="{% if site == 'customer' or site == 'writer' %}col-md-10 col-md-offset-1{% else %}col-md-12{% endif %}">
                            {% if not object.pk %}
                            <div class="form-group{% if form.attach.errors %} has-error{% endif %}">
                                <div class="file-input form-control">
                                    <div class="input-group margin-bottom-sm">
                                        <span class="input-group-addon"><i class="fa fa-paperclip fa-fw"></i></span>
                                        <input id="id_attach" class="upload-file" type="file" title="Attachment" name="attach" required>
                                        {% if form.attach.value %}
                                        <a href="{{ MEDIA_URL }}{{ form.attach.value }}" style="margin:0 10px">{{ form.attach.value }}</a>
                                        <input id="attach-clear_id" type="checkbox" name="attach-clear" style="virtual-align:middle">
                                        <label for="attach-clear_id">{% trans "Delete" %}</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endif  %}
                            <div class="form-group{% if form.paper_title.errors %} has-error{% endif %}">
                                <label>{% trans "Paper Title" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
                                    {{form.paper_title|attr:"class:form-control,autocomplete:off,placeholder:Paper Title"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.instructions.errors %} has-error{% endif %}">
                                <label>{% trans "Paper Instructions" %}</label>
                                {{form.instructions|attr:"class:form-control,rows:4,autocomplete:off,placeholder:Paper Instructions"}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="{% if site == 'customer' or site == 'writer' %}col-md-5 col-md-offset-1{% else %}col-md-6{% endif %}">
                            <div class="form-group input-group margin-bottom-sm {% if form.accept_terms.errors %} has-error{% endif %}">
                                <span class="input-group-addon"> {{form.accept_terms|attr:"class:accept-chk"}} </span>
                                <span class="form-control" style="overflow:auto">{% trans "I accept terms and conditions" %}</span>
                            </div>
                            <div class="form-group input-group margin-bottom-sm">
                                <span class="input-group-addon"><i class="fa fa-barcode fa-fw"></i></span>
                                {{form.discount|attr:"class:form-control,autocomplete:off,placeholder:Discount Code"}}
                            </div>
                        </div>
                        <div class="form-group col-md-5" style="text-align:right;padding-top:1em">
                            {% if not object or perm.can_edit %}
                            <a href="#" class="btn-cancel btn btn-default btn-lg" data-back-to="/" role="button" style="width:40%"> <i class='fa fa-times-circle-o fa-lg' style="margin-right:.5em"></i>{% trans "Cancel" %} </a>
                            <button type="submit" class="btn btn-primary btn-lg" role="button" style="width:40%">
                                {% trans "Next" %}<i class='fa fa-check-circle-o fa-lg' style="margin-left:.5em"></i>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    {% if site == "admin" or site == "editor" %}
                </div>
                <div class="col-md-4">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Attributes
                        </div>
                        <div class="panel-body">
                            <div class="form-group{% if form.assignee.errors %} has-error{% endif %}">
                                <label>{% trans "Writer" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                    {{form.assignee|attr:"class:form-control,autocomplete:off,placeholder:Writer"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.mark.errors %} has-error{% endif %}">
                                <label>{% trans "Mark" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-star-half-o fa-fw"></i></span>
                                    {{form.mark|attr:"class:form-control,autocomplete:off,placeholder:Mark"}}
                                </div>
                            </div>
                            {% if site == "admin" %}
                            <div class="form-group{% if form.access_level.errors %} has-error{% endif %}">
                                <label>{% trans "Access Level" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-eye fa-fw"></i></span>
                                    {{form.access_level|attr:"class:form-control,autocomplete:off,placeholder:Access Level"}}
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group{% if form.priority.errors %} has-error{% endif %}">
                                <label>&nbsp;</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"> {{form.priority|attr:"class:accept-chk"}} </span>
                                    <span class="form-control" style="overflow:auto;width:100%">{% trans "Priority" %}</span>
                                </div>
                            </div>
                            <div class="form-group{% if form.revision.errors %} has-error{% endif %}">
                                <label>&nbsp;</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"> {{form.revision|attr:"class:accept-chk"}} </span>
                                    <span class="form-control" style="overflow:auto;width:100%">{% trans "Revision" %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</section>
{% endcomment %}
{% endblock %}
{% block info_block %}
{% endblock %}
