{% extends "layout.html" %}
{% load i18n %}
{% block pagetitle %}{% trans "User Details" %}{% endblock %}
{% block content %}
<section class="container-fluid task-details" style="margin: 0 auto">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><abbr title="user name">{{object.username}}</abbr> profile details</h4>
                </div>
                <div class="panel-body" style="margin: 0 1.5em">
                    <div class="form-group">
                        <label>{% trans "User name" %}</label>
                        <div class="input-group input-group-lg margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                            <div class="form-control">
                                {{object.username}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% trans "First name" %}</label>
                        <div class="input-group input-group-lg margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-circle-o fa-fw"></i></span>
                            <div class="form-control">
                                {{object.first_name}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Last name" %}</label>
                        <div class="input-group input-group-lg margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-circle-o fa-fw"></i></span>
                            <div class="form-control">
                                {{object.last_name}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Email" %}</label>
                        <div class="input-group input-group-lg margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                            <div class="form-control">
                                {{object.email}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Phone" %}</label>
                        <div class="input-group input-group-lg margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                            <div class="form-control">
                                {{object.phone}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Country" %}</label>
                        <div class="input-group input-group-lg margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i></span>
                            <div class="form-control">
                                {{object.get_country}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
{% block info_block %}
<section class="info">
    <h2><i class="fa fa-user irm"></i>{% trans "User Details" %}
    {% if request.user.get_group == co.ADMIN_GROUP %} <a href="{% url "user_edit" object.pk %}" title="{% trans "Edit profile" %}"><i class="fa fa-pencil-square-o" style="margin-left:.5em"></i></a> {% endif %} </h2>
</section>
{% endblock %}
