{% extends "layout.html" %}
{% load i18n render_status %}
{% block pagetitle %}All Users{% endblock %}
{% block info_block %}
<section class="info">
    {% if request.user.get_group == co.ADMIN_GROUP %}
    {% if action_label == "writers" %}
    <a href="{% url 'user_new_writer' %}?group_name={{co.WRITER_GROUP}}" class="btn btn-info btn-lg pull-right" role="button"> <i class='fa fa-plus-circle fa-lg irm'></i>add writer</a>
    {% endif %}
    {% if action_label == "editors" %}
    <a href="{% url 'user_new_editor' %}?group_name={{co.EDITOR_GROUP}}" class="btn btn-info btn-lg pull-right" role="button"> <i class='fa fa-plus-circle fa-lg irm'></i>add editor</a>
    {% endif %}
    {% endif %}
    <h2><i class="fa fa-users irm"></i> {{action_label}} <span class="badge" style="font-size:.6em;text-shadow:none;margin-left:1em;vertical-align:middle">{{users|length}}</span></h2>
</section>
{% endblock %}
{% block content %}
{% if users %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover tablesorter">
            <thead>
                <tr>
                    <th>{% trans 'Login' %}</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Surname' %}</th>
                    <th>{% trans 'Phone Number' %}</th>
                    <th>{% trans 'Email' %}</th>
                    <th>{% trans 'Amount of orders' %}</th>
                    <th>{% trans 'Site' %}</th>
                    <th>{% trans 'Created' %}</th>
                    {% if request.user.get_group == co.ADMIN_GROUP %}
                    <th>{% trans "Actions" %}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="{% url 'user_details' user.pk %}">{{user.username}}</a></td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    <td>{{ user_tasks|dget:user.pk|default:0 }}</td>
                    <td>users site</td>
                    <td>{{user.date_joined}}</td>
                    {% if request.user.get_group == co.ADMIN_GROUP %}
                    <td><a href="#" title="Delete {{user.username}}" class="user_delete_action" data-user="{{user.username}}" data-url="{% url "user_remove" user.pk %}"><i class="fa fa-times-circle fa-lg text-danger"></i></a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
    </div>
</div>
<form id="dynamic_form" style="display:none">
    {% csrf_token %}
</form>
{% endif  %}
{% endblock %}
