<section id="pre-header">
 <div class="container">
	  <div class="row">
		  <!-- BEGIN TOP BAR LEFT PART -->
		  <div class="col-md-6 col-sm-6 additional-info">
			  <ul>
				  <li><i class="fa fa-phone"></i><span>+1 000 000 0000</span></li>
				  <li><i class="fa fa-envelope-o"></i><span>info@essaycoffee.com</span></li>
			  </ul>
		  </div>
		  <!-- END TOP BAR LEFT PART -->
		  <!-- BEGIN TOP BAR MENU -->
		  <div class="col-md-6 col-sm-6 additional-nav">
			<ul class="pull-right">
			  {% if request.user.is_authenticated %}
				<li><a href="{% url 'my-orders' %}">My Orders</a></li>
				<li><a href="{% url 'logout' %}">Exit</a></li>
			  {% else %}
				<li><a href="{% url 'login' %}">Log In</a></li>
				<li><a href="{% url 'registration' %}">Registration</a></li>
			  {% endif %}
			</ul>

		  </div>
		  <!-- END TOP BAR MENU -->
	  </div>
  </div>        
</section><!--pre-header-->

<header id="header">
 <div class="container">
   <div id="logo"><a href="{% url 'home' %}"><img src="{{ STATIC_URL }}images/demo/logo.png"></a></div>

   <a href="javascript:void(0);" class="mobi-toggler"></a>

   <!-- BEGIN NAVIGATION -->
   <div id="main-navigation" class="pull-right">
	<ul>
		<li class="active"><a href="{% url 'home' %}">Home</a></li>
		<li class="dropdown">
			<a href="#">Our Services</a>
			<ul class="dropdown-menu">
				<li class="active"><a href="{% url 'service' %}">Services</a></li>
				<li><a href="{% url 'service' %}">Prices</a></li>
			</ul>
		</li>
		<li><a href="{% url 'pricing' %}">Pricing</a></li>
		<li><a href="{% url 'guarantees' %}">Guarantees</a></li>
		<li><a href="{% url 'faq' %}">FAQ</a></li>
		<li><a href="{% url 'contact' %}">Contact</a></li>
	</ul>
   </div>
   <!-- END NAVIGATION -->
 </div>
</header><!--header-->