<div id="top-line" style="margin:0;padding:3px 0">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <i class="fa fa-phone rm"></i> +1 123 456 789
            </div>
            <div class="col-md-2 lb">
                <i class="fa fa-envelope-o rm"></i> info@somehost.com
            </div>
            <div class="col-md-5">
               
            </div>
            <div class="col-md-1">
                <a href="{% url 'login'%}">Log In <i class="fa fa-sign-in lm"></i></a>
            </div>
            <div class="col-md-2 lb">
                <a href="{% url 'login'%}">Registration</a>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default" role="navigation" style="border-radius:0" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LOGO</a>
        </div>
    </div>
</nav>
