{% load webdesign %}
<div class="conatiner" style="padding:2.5em 4em 4em">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="big_title">Advantages of our custom <b>writting services</b></h1>
                    <hr class="divider">
                    <p class="text-center">
                        Good knowledge of such citation styles as MLA, APA, Harvard, Chicago and Turabian is a must for all our writers.
                        They can help you format your paper in any of those styles. We are a flexible and convenient writing service, you ask - we do!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="big_icon">
                        <i class="fa fa-file-text-o red"></i>
                    </div>
                    <p class="text-center clearfix">
                        <span style="text-transform: capitalize;">Get Help with Your Required Format</span>
                    </p>
                    <p class="text-center small">
                        Good knowledge of such citation styles as MLA, APA, Harvard, Chicago and Turabian is a must for all our writers. They can help you format your paper in any of those styles. We are a flexible and convenient writing service, you ask - we do!
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="big_icon">
                        <i class="fa fa-university green"></i>
                    </div>
                    <p class="text-center clearfix">
                        <span style="text-transform: capitalize;">We Are NOT a Database of Pre-Written Essays</span>
                    </p>
                    <p class="text-center small">
                        We sell only products that were written from scratch. We do not resell previously written papers to our customers, and we do not work with any essay databases.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="big_icon">
                        <i class="fa fa-pencil yellow"></i>
                    </div>
                    <p class="text-center clearfix">
                        <span style="text-transform: capitalize;">Writing from Scratch Is Our Specialization</span>
                    </p>
                    <p class="text-center small">
                        Our skilled and experienced writers produce custom paper from scratch and accourding to the requirements and instructions you set. This helps avoid plagiarism in the papers. Moreover, our writers team is a big one; therefore, we can match you up with the right writer.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="big_icon">
                        <i class="fa fa-certificate blue"></i>
                    </div>
                    <p class="text-center clearfix">
                        <span style="text-transform: capitalize;">name.com Offers High Quality Papers</span>
                    </p>
                    <p class="text-center small">
                        We always aim at good quality to maintain our high palace on the market. You can make sure of that by trying out our custom writing service. http://essayhave.com/#sthash.F7vJgidg.dpuf
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="big_title">How it <b>Works</b>?</h1>
                    <hr class="divider">
                    <p class="text-center">
                        Good knowledge of such citation styles as MLA, APA, Harvard, Chicago and Turabian is a must for all our writers. They can help you format your paper in any of those styles. We are a flexible and convenient writing service, you ask - we do!
                    </p>
                    <table class="red_bar">
                        <tbody>
                            <tr>
                                <td class="card card1"><strong class="idigit" style="opacity:.3; margin-right:-24px">1</strong><i class="fa fa-envelope-o icard"></i>
                                <p>
                                    <span class="title">Goal Definition</span>
                                    <br>
                                    Fill out an inquiry with all instructions and specifications
                                </p></td>
                                <td class="card card2"><strong class="idigit" style="opacity:.3; margin-right:-22px">2</strong><i class="fa fa-info icard" style="width:64px;text-align:center;"></i>
                                <p>
                                    <span class="title">Goal Definition</span>
                                    <br>
                                    Provide all information a writer needs  to work on your thesis
                                </p></td>
                                <td class="card card3"><strong class="idigit" style="opacity:.2; margin-right:-22px">3</strong><i class="fa fa-wechat icard" style="width:64px;text-align:center;"></i>
                                <p>
                                    <span class="title">Goal Definition</span>
                                    <br>
                                    Stay in controll by answering writers' questions and requests
                                </p></td>
                                <td class="card card4"><strong class="idigit" style="opacity:.2; margin-right:-18px">4</strong><i class="fa fa-download icard"></i>
                                <p>
                                    <span class="title">Goal Definition</span>
                                    <br>
                                    Download a custom thesis paper or dissertation
                                </p></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--
                    <ul class="red_bar">
                    <li class="card1">
                    <strong class="idigit">1</strong>
                    <i class="fa fa-envelope-o icard"></i>
                    <p>
                    <span class="title">Goal Definition</span>
                    <br>
                    Fill out an inquiry with all instructions and specifications
                    </p>
                    </li>
                    <li class="card2">
                    <strong class="idigit" style="opacity:.4">2</strong>
                    <i class="fa fa-info icard" style="width:74px;text-align:center;"></i>
                    <p>
                    <span class="title">Goal Definition</span>
                    <br>
                    Provide all information a writer needs  to work on your thesis
                    </p>
                    </li>
                    <li class="card3">
                    <strong class="idigit" style="opacity:.3">3</strong>
                    <i class="fa fa-wechat icard"></i>
                    <p>
                    <span class="title">Goal Definition</span>
                    <br>
                    Stay in controll by answering writers' questions and requests
                    </p>
                    </li>
                    <li class="card4">
                    <strong class="idigit" style="opacity:.2">4</strong>
                    <i class="fa fa-download icard"></i>
                    <p>
                    <span class="title">Goal Definition</span>
                    <br>
                    Download a custom thesis paper or dissertation
                    </p>
                    </li>
                    </ul>
                    -->
                    <h1 class="big_title">Our <b>Prices</b></h1>
                    <hr class="divider">
                    <p class="text-center" style="margin-bottom:2em;">
                        Good knowledge of such citation styles as MLA, APA, Harvard, Chicago and Turabian is a must for all our writers. They can help you format your paper in any of those styles. We are a flexible and convenient writing service, you ask - we do!
                    </p>
                    <table class="price_bar">
                        <tr>
                            <td>
                            <div class="price_holder">
                                <p class="title text-center">
                                    High School<span>High School</span>
                                </p>
                                <p class="control text-center">
                                    <span>some text</span>
                                    <div class="text-center">
                                        <i class="fa fa-clock-o" style="margin-right:5px;font-size:2.2em;color:#AAAAAA"></i>
                                        <select class="duration">
                                            <option>14 days</option>
                                            <option>21 days</option>
                                            <option>30 days</option>
                                        </select>
                                    </div>
                                </p>
                                <p class="price text-center">
                                    $<big>8</big>.69<span>Per Month</span>
                                    <a class="btn btn-default" href="#">Order Now</a>
                                </p>
                            </div></td>
                            <td>
                            <div class="price_holder">
                                <p class="title text-center">
                                    College<span>College</span>
                                </p>
                                <p class="control text-center">
                                    <span>some text</span>
                                    <div class="text-center">
                                        <i class="fa fa-clock-o" style="margin-right:5px;font-size:2.2em;color:#AAAAAA"></i>
                                        <select class="duration">
                                            <option>14 days</option>
                                            <option>21 days</option>
                                            <option>30 days</option>
                                        </select>
                                    </div>
                                </p>
                                <p class="price text-center">
                                    $<big>10</big>.69<span>Per Month</span>
                                    <a class="btn btn-default" href="#">Order Now</a>
                                </p>
                            </div></td>
                            <td>
                            <div class="price_holder">
                                <p class="title text-center">
                                    University<span>University</span>
                                </p>
                                <p class="control text-center">
                                    <span>some text</span>
                                    <div class="text-center">
                                        <i class="fa fa-clock-o" style="margin-right:5px;font-size:2.2em;color:#AAAAAA"></i>
                                        <select class="duration">
                                            <option>14 days</option>
                                            <option>21 days</option>
                                            <option>30 days</option>
                                        </select>
                                    </div>
                                </p>
                                <p class="price text-center">
                                    $<big>28</big>.69<span>Per Month</span>
                                    <a class="btn btn-default" href="#">Order Now</a>
                                </p>
                            </div></td>
                            <td>
                            <div class="price_holder">
                                <p class="title text-center">
                                    High School<span>High School</span>
                                </p>
                                <p class="control text-center">
                                    <span>some text</span>
                                    <div class="text-center">
                                        <i class="fa fa-clock-o" style="margin-right:5px;font-size:2.2em;color:#AAAAAA"></i>
                                        <select class="duration">
                                            <option>14 days</option>
                                            <option>21 days</option>
                                            <option>30 days</option>
                                        </select>
                                    </div>
                                </p>
                                <p class="price text-center">
                                    $<big>8</big>.69<span>Per Month</span>
                                    <a class="btn btn-default" href="#">Order Now</a>
                                </p>
                            </div></td>
                            <td>
                            <div class="price_holder">
                                <p class="title text-center">
                                    High School<span>High School</span>
                                </p>
                                <p class="control text-center">
                                    <span>some text</span>
                                    <div class="text-center">
                                        <i class="fa fa-clock-o" style="margin-right:5px;font-size:2.2em;color:#AAAAAA"></i>
                                        <select class="duration">
                                            <option>14 days</option>
                                            <option>21 days</option>
                                            <option>30 days</option>
                                        </select>
                                    </div>
                                </p>
                                <p class="price text-center">
                                    $<big>8</big>.69<span>Per Month</span>
                                    <a class="btn btn-default" href="#">Order Now</a>
                                </p>
                            </div></td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="big_title hr"> What Our <b>Customers Say</b>?</h1>
                        <p>
                            Are there times when you have multiple assignments from different classes that are due all around the same times? Are there times when you feel like you are just too swamped with all of the school work that you have to do? Are you worried about your GPA because there are times when you do not get all of your work completed for lack of time? If you answered "yes" to these questions, then you are not the only one. Many students get weighed down with their school work, but many of them have also found help with their assignments, particularly with their essays. How do they do it? They buy essay online help. This solves their dilemmas of having way too much work to do and not enough time to do it.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h1 class="big_title hr">Our <b>Free Features</b></h1>
                        <ul class="fa-ul home-list">
                            <li>
                                <i class="fa-li fa fa-check"></i> Free revisions according to our Revision Policy
                            </li>
                            <li>
                                <i class="fa-li fa fa-check"></i> Free title page
                            </li>
                            <li>
                                <i class="fa-li fa fa-check"></i> Free bibliography &amp; reference
                            </li>
                            <li>
                                <i class="fa-li fa fa-check"></i> Free formating
                                <br>
                                (APA, MLA, Chicago, Harvard and others)
                            </li>
                        </ul>
                    </div>
                </div>
                <h1 class="big_title">Our <b>Benefits</b></h1>
                <hr class="divider">
                <p class="text-center">
                    Good knowledge of such citation styles as MLA, APA, Harvard, Chicago and Turabian is a must for all our writers. They can help you format your paper in any of those styles. We are a flexible and convenient writing service, you ask - we do!
                </p>
                <div class="row benefits">
                    <div class="col-md-3 big_icon">
                        <i class="fa fa-clock-o"></i><span>Quick Delivery</span>
                    </div>
                    <div class="col-md-3 big_icon">
                        <i class="fa fa-reply-all"></i><span>100% Money Back</span>
                    </div>
                    <div class="col-md-3 big_icon">
                        <i class="fa fa-support"></i><span>24/7 Live Support</span>
                    </div>
                    <div class="col-md-3 big_icon">
                        <i class="fa fa-tag"></i><span>Affordable Price</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h1 class="big_title"> Essay <b>Online</b></h1>
                <p>
                    Are there times when you have multiple assignments from different classes that are due all around the same times? Are there times when you feel like you are just too swamped with all of the school work that you have to do? Are you worried about your GPA because there are times when you do not get all of your work completed for lack of time? If you answered "yes" to these questions, then you are not the only one. Many students get weighed down with their school work, but many of them have also found help with their assignments, particularly with their essays. How do they do it? They buy essay online help. This solves their dilemmas of having way too much work to do and not enough time to do it.
                </p>
            </div>
            <div class="col-md-5">
                <h1 class="big_title"> Online Essay <b>Writing Services</b></h1>
                <p>
                    There are several essay writing services where you can buy essays online. You should just be sure to choose the most qualified service, so that you will get the best assignment for the best price. All essay writing services are not all the same. Be sure to do some research and ask questions before you use a particular service, so that you are not scammed.
                </p>
                <h1 class="big_title"> Writing <b>Essays</b></h1>
                <p>
                    Writing essays is a necessary part of your academic curriculum and they can be a problem, especially if you do not have the time to do them, or if you are not yet experienced enough to produce essays with the type of quality you want. The answer to your essay writing problems will cease if you buy essay help on the Internet.
                </p>
            </div>
        </div>
    </div>
</div>
