{% extends 'index.html' %}

{% block start_main_wrapper %}{% endblock %}
{% block start_content %}{% endblock %}
{% block content %}
{% include 'html/slider.html' %}
<main id="main">

   <!-- BEGIN SERVICE BOX -->
   <section id="service">
    <div class="container">
     <div class="row text-center">
      <div class="col-md-12">
       <span class="section-title">Advantages of our custom <span>writing services</span></span>
       <p class="section-description">Good knowledge of such citation styles as MLA, APA, Harvard, Chicago and Turabian is a must for all our writers. They can help you format your paper in any of those styles. We are a flexible and convenient writing service, you ask – we do!</p>
      </div>
     </div>

     <div class="row iconboxes">
      <div class="iconbox col-md-6 col-sm-6">
       <div class="box-heading text-center">
        <i class="box-icon icon-page"></i>
        <h3>Get Help with Your Required Format</h3>
       </div>

       <div class="box-description text-center">
        Good knowledge of such citation styles as MLA, APA, Harvard, Chicago and Turabian is a must for all our writers. They can help you format your paper in any of those styles. We are a flexible and convenient writing service, you ask – we do!
       </div>
      </div>

      <div class="iconbox col-md-6 col-sm-6">
       <div class="box-heading text-center">
        <i class="box-icon icon-inkwell"></i>
        <h3>We Are NOT a Database of Pre-Written Essays</h3>
       </div>

       <div class="box-description text-center">
        We sell only products that were written from scratch. We do not resell previously written papers to our customers, and we do not work with any essay databases.
       </div>
      </div>
     </div>

     <div class="row iconboxes">
      <div class="iconbox col-md-6 col-sm-6">
       <div class="box-heading text-center">
        <i class="box-icon icon-pen"></i>
        <h3>Writing from Scratch Is Our Specialization</h3>
       </div>

       <div class="box-description text-center">
        Our skilled and experienced writers produce custom paper from scratch and accourding to the requirements and instructions you set. This helps avoid plagiarism in the papers. Moreover, our writers team is a big one; therefore, we can match you up with the right writer.
       </div>
      </div>

      <div class="iconbox col-md-6 col-sm-6">
       <div class="box-heading text-center">
        <i class="box-icon icon-badge"></i>
        <h3>name.com Offers High Quality Papers</h3>
       </div>

       <div class="box-description text-center">
        We always aim at good quality to maintain our high palace on the market. You can make sure of that by trying out our custom writing service.
       </div>
      </div>
     </div>
    </div>
   </section>
   <!-- END SERVICE BOX -->


   <!-- BEGIN BLOCKQUOTE BLOCK -->
   <section class="quote">
    <div class="container">
     <div class="row">
      <div class="col-md-9"><span>Metronic - The Most Complete &amp; Popular Admin &amp; Frontend Theme</span></div>
      <div class="col-md-3 text-right"><a href="order" class="btn-transparent">Order Now</a></div>
     </div>
    </div>
   </section>
   <!-- END BLOCKQUOTE BLOCK -->


   <!-- BEGIN STEPS BOX -->
   <section id="steps">
    <div class="container">
     <div class="row text-center">
      <div class="col-md-12">
       <span class="section-title">How it <span>works</span>?</span>
       <p class="section-description">Good knowledge of such citation styles as MLA, APA, Harvard, Chicago and Turabian is a must for all our writers. They can help you format your paper in any of those styles. We are a flexible and convenient writing service, you ask – we do!</p>
      </div>
     </div>

     <div class="row steps-wrapper">
      <div class="col-md-12">
       <div class="col-md-3 col-sm-6 step-col step-col-1">
        <i class="step-icon icon-mail"></i>
        <h4>Goal definition</h4>
        <p>Fill out an inquiry with all instructions and specifications</p>
       </div>

       <div class="col-md-3 col-sm-6 step-col step-col-2">
        <i class="step-icon icon-info"></i>
        <h4>Goal definition</h4>
        <p>Provide all information a writer needs to work on your thesis</p>
       </div>

       <div class="col-md-3 col-sm-6 step-col step-col-3">
        <i class="step-icon icon-chat"></i>
        <h4>Goal definition</h4>
        <p>Stay in control by answering writers' questions and requests</p>
       </div>

       <div class="col-md-3 col-sm-6 step-col step-col-4">
        <i class="step-icon icon-arrow-down"></i>
        <h4>Goal definition</h4>
        <p>Download a custom thesis paper or dissertation</p>
       </div> 
      </div>     
     </div>
    </div>
   </section>
   <!-- END STEPS BOX -->

   <!-- BEGIN BLOCKQUOTE BLOCK -->
   <section class="quote">
    <div class="container">
     <div class="row">
      <div class="col-md-9"><span>Metronic - The Most Complete &amp; Popular Admin &amp; Frontend Theme</span></div>
      <div class="col-md-3 text-right"><a href="order" class="btn-transparent">Order Now</a></div>
     </div>
    </div>
   </section>
   <!-- END BLOCKQUOTE BLOCK -->
   


   <!-- BEGIN TARIFFS BOX -->
   <section id="tariffs">
    <div class="container">
     <div class="row text-center">
      <div class="col-md-12">
       <span class="section-title">Our <span>Prices</span></span>
       <p class="section-description">Good knowledge of such citation styles as MLA, APA, Harvard, Chicago and Turabian is a must for all our writers. They can help you format your paper in any of those styles. We are a flexible and convenient writing service, you ask – we do!</p>
      </div>
     </div>
     <div class="row">
      <div class="col-md-12">
       <div class="col-tariff">
        <div class="tariff-title">High School<span>High School</span></div>
        <div class="tariff-description">Text</div>
        <div class="tariff-period">
         <div class="tariff-period-wrapper">
          <form>
           <select name="tariff-period" class="tariff-period-select">
            <option data-price="8.69">14 days</option>
            <option data-price="21.69">21 days</option>
           </select>
          </form>
         </div>
        </div>
        <div class="tafiff-price">
         $<span class="text-large">0</span><span class="text-small">.00</span>
         <span>Per Month</span>
         <a href="order" class="btn-grey-bg">Order Now</a>
        </div>
        
       </div><!--col-tariff-->

       <div class="col-tariff">
        <div class="tariff-title">College<span>College</span></div>
        <div class="tariff-description">Text</div>
        <div class="tariff-period">
         <div class="tariff-period-wrapper">
          <form>
           <select name="tariff-period" class="tariff-period-select">
            <option data-price="8.79">14 days</option>
            <option data-price="22.69">21 days</option>
           </select>
          </form>
         </div>
        </div>
        <div class="tafiff-price">
         $<span class="text-large">0</span><span class="text-small">.00</span>
         <span>Per Month</span>
         <a href="order" class="btn-grey-bg">Order Now</a>
        </div>
       </div><!--col-tariff-->

       <div class="col-tariff">
        <div class="tariff-title">High School<span>High School</span></div>
        <div class="tariff-description">Text</div>
        <div class="tariff-period">
         <div class="tariff-period-wrapper">
          <form>
           <select name="tariff-period" class="tariff-period-select">
            <option data-price="10.69">14 days</option>
            <option data-price="30.69">21 days</option>
           </select>
          </form>
         </div>
        </div>
        <div class="tafiff-price">
         $<span class="text-large">0</span><span class="text-small">.00</span>
         <span>Per Month</span>
         <a href="order" class="btn-grey-bg">Order Now</a>
        </div>
       </div><!--col-tariff-->

       <div class="col-tariff">
        <div class="tariff-title">High School<span>High School</span></div>
        <div class="tariff-description">Text</div>
        <div class="tariff-period">
         <div class="tariff-period-wrapper">
          <form>
           <select name="tariff-period" class="tariff-period-select">
            <option data-price="8.69">14 days</option>
            <option data-price="21.69">21 days</option>
           </select>
          </form>
         </div>
        </div>
        <div class="tafiff-price">
         $<span class="text-large">0</span><span class="text-small">.00</span>
         <span>Per Month</span>
         <a href="order" class="btn-grey-bg">Order Now</a>
        </div>
       </div><!--col-tariff-->

       <div class="col-tariff">
        <div class="tariff-title">High School<span>High School</span></div>
        <div class="tariff-description">Text</div>
        <div class="tariff-period">
         <div class="tariff-period-wrapper">
          <form>
           <select name="tariff-period" class="tariff-period-select">
            <option data-price="8.69">14 days</option>
            <option data-price="21.69">21 days</option>
           </select>
          </form>
         </div>
        </div>
        <div class="tafiff-price">
         $<span class="text-large">0</span><span class="text-small">.00</span>
         <span>Per Month</span>
         <a href="order" class="btn-grey-bg">Order Now</a>
        </div>
       </div><!--col-tariff-->
      </div>
     </div>
     <div class="row text-center full-price-wrapper"><a href="pricing" class="btn-transparent btn-grey">Full Price Table</a></div>
    </div>
   </section>
   <!-- END TARIFFS BOX -->

   <!-- BEGIN TESTIMONIALS & FEATURES BOX -->
   <section id="testimonials-features">
    <div class="container">
     <div class="row">
      <div id="testimonials" class="col-md-6 col-sm-6">
       <span class="section-title">What Our <span>Customers Say</span>?</span>
       <div id="testimonials-carousel" class="owl-carousel">
        <div class="testimonial">
         <div class="testimonial-meta">
          <span>Discipline:</span> Political Science<br>
          <span>Topic title:</span> Chicano
         </div>
         <div class="testimonial-text">
          Our skilled and experienced writers produce custom paper from scratch and accourding to the requirements and instructions you set. This helps avoid plagiarism in the papers. Moreover, our writers team is a big one; therefore,
         </div>
         <div class="testimonial-customer-id"><span>Customer id:</span> #77878</div>
        </div>

        <div class="testimonial">
         <div class="testimonial-meta">
          <span>Discipline:</span> Political Science<br>
          <span>Topic title:</span> Chicano
         </div>
         <div class="testimonial-text">
          Our skilled and experienced writers produce custom paper from scratch and accourding to the requirements and instructions you set. This helps avoid plagiarism in the papers. Moreover, our writers team is a big one; therefore,
         </div>
         <div class="testimonial-customer-id"><span>Customer id:</span> #77878</div>
        </div>
       </div>
       <a href="#" class="btn-transparent btn-grey">More testimonials</a>
      </div><!--testimonials-->

      <div id="features" class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
       <span class="section-title">Our <span>Free Features</span></span>
       <ul class="list-checked">
        <li>Free revisions according to our Revision Policy</li>
        <li>Free title page</li>
        <li>Free bibliography & reference</li>
        <li>Free formating<br>(APA, MLA, Chicago, Harvard and others)</li>
       </ul>
      </div><!--features-->
     </div>
    </div>
   </section>
   <!-- END TESTIMONIALS & FEATURES BOX -->

   
   <!-- BEGIN BLOCKQUOTE BLOCK -->
   <section class="quote">
    <div class="container">
     <div class="row ">
      <div class="col-md-9"><span>Metronic - The Most Complete &amp; Popular Admin &amp; Frontend Theme</span></div>
      <div class="col-md-3 text-right"><a href="order" class="btn-transparent">Order Now</a></div>
     </div>
    </div>
   </section>
   <!-- END BLOCKQUOTE BLOCK -->


   <!-- BEGIN SKILLS BLOCK -->
   <section id="skills">
    <span class="section-title white-title">Our skills</span>
    <div class="container">
     <div class="row center counters">
      <div class="col-md-4 col-sm-4">
       <div class="counter counter-int">
        <strong><span data-to="327">0</span></strong>
        <label>writers active</label>
       </div>
      </div>
      
      <div class="col-md-4 col-sm-4">
       <div class="counter counter-demical-2">
        <strong><span data-to="95.66">0</span>%</strong>
        <label>of orders delivered on time</label>
       </div>
      </div>

      <div class="col-md-4 col-sm-4">
       <div class="counter counter-demical-1">
        <strong><span data-to="8.5">0</span></strong>
        <label>out of 10 current<br>average quality<br>score</label>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!-- END SKILLS BLOCK -->

   
   <!-- BEGIN BLOCKQUOTE BLOCK -->
   <section class="quote">
    <div class="container">
     <div class="row">
      <div class="col-md-9"><span>Metronic - The Most Complete &amp; Popular Admin &amp; Frontend Theme</span></div>
      <div class="col-md-3 text-right"><a href="order" class="btn-transparent">Order Now</a></div>
     </div> 
    </div>
   </section>
   <!-- END BLOCKQUOTE BLOCK -->


   <!-- BEGIN BENEFITS BLOCK -->
   <section id="benefits">
    <div class="container">
     <div class="row text-center">
      <div class="col-md-12">
       <span class="section-title">Our <span>Benefits</span></span>
       <p class="section-description">Good knowledge of such citation styles as MLA, APA, Harvard, Chicago and Turabian is a must for all our writers. They can help you format your paper in any of those styles. We are a flexible and convenient writing service, you ask – we do! </p>
      </div>
     </div>

     <div class="row benefit-points">
      <div class="col-md-3 col-sm-3 iconbox-small">
       <i class="icon-timer box-icon-small"></i>
       <span>Quick Delivery</label>
      </div>

      <div class="col-md-3 col-sm-3 iconbox-small">
       <i class="icon-arrow box-icon-small"></i>
       <span>100% Money Back</label>
      </div>

      <div class="col-md-3 col-sm-3 iconbox-small">
       <i class="icon-livechat box-icon-small"></i>
       <span>24/7 Live Support</label>
      </div>

      <div class="col-md-3 col-sm-3 iconbox-small">
       <i class="icon-tag box-icon-small"></i>
       <span>Affordable Price</label>
      </div>
     </div>
    </span>
   </section>
   <!-- END BENEFITS BLOCK -->
  
</main>
{% endblock %}
{% block end_content %}{% endblock %}
{% block end_main_wrapper %}{% endblock %}