{% extends 'index.html' %}

{% block start_main_wrapper %}{% endblock %}
{% block start_content %}{% endblock %}
{% block content %}
{% include 'html/slider.html' %}
<main id="main">

   <!-- BEGIN SERVICE BOX -->
   <section id="service">
    <div class="container">
     <div class="row text-center">
      <div class="col-md-12">
       <span class="section-title">Advantages of EssayCoffee custom <span>writing services</span></span>
       <p class="section-description">At EssayCoffee we provide customers only with the best custom written  papers as well as all kinds of additional services students can imagine. Become one of our customers to get the best solution market can provide!</p>
      </div>
     </div>

     <div class="row iconboxes">
      <div class="iconbox col-md-6 col-sm-6">
       <div class="box-heading text-center">
        <i class="box-icon icon-page"></i>
        <h3>Get Help with the formatting!</h3>
       </div>
       <div class="box-description text-center">
		Perfect understanding of referencing styles like MLA, APA, Harvard, Chicago and Turabian is a must for all writers working at EssayCoffee. They will closely follow all your requirements and will format your paper in any style you choose. Don’t wait and place an order!
       </div>
      </div>

      <div class="iconbox col-md-6 col-sm-6">
       <div class="box-heading text-center">
        <i class="box-icon icon-inkwell"></i>
        <h3>We Do Not Store Your Essays!</h3>
       </div>
       <div class="box-description text-center">
        All our papers are written from scratch by writers that are highly skilled in their fields of knowledge. We never resell papers that were previously written for our customers and we do not use any databases to write papers for you. 
       </div>
      </div>
     </div>

     <div class="row iconboxes">
      <div class="iconbox col-md-6 col-sm-6">
       <div class="box-heading text-center">
        <i class="box-icon icon-pen"></i>
        <h3>Writing from Scratch Is Our Specialization!</h3>
       </div>
       <div class="box-description text-center">
        Our team of highly experienced writers produces only original papers and according to the instructions and requirements you set; thus we avoid plagiarism in our papers. We spent years looking for devoted professionals who can write quality papers that match our high standards.
       </div>
      </div>
	  
      <div class="iconbox col-md-6 col-sm-6">
       <div class="box-heading text-center">
        <i class="box-icon icon-badge"></i>
        <h3>EssayCoffee Offers Only High Quality Papers!</h3>
       </div>
       <div class="box-description text-center">
        We strive to achieve excellence in all areas of academic expertise, that is why we have one of the highest returning customers rate in the industry. You can become one of our happy customers this day by just placing an order and getting the best custom written essay money can offer!
       </div>
      </div>
     </div>
    </div>
   </section>
   <!-- END SERVICE BOX -->


   <!-- BEGIN BLOCKQUOTE BLOCK -->
   <section class="quote">
    <div class="container">
     <div class="row">
      <div class="col-md-9"><span>Metronic - The Most Complete &amp; Popular Admin &amp; Frontend Theme</span></div>
      <div class="col-md-3 text-right"><a href="{% url 'new-order' %}" class="btn-transparent">Order Now</a></div>
     </div>
    </div>
   </section>
   <!-- END BLOCKQUOTE BLOCK -->


   <!-- BEGIN STEPS BOX -->
   <section id="steps">
    <div class="container">
     <div class="row text-center">
      <div class="col-md-12">
       <span class="section-title">How it <span>works</span>?</span>
       <p class="section-description">Placing order has never been easier than it is with EssayCoffee. Just click the  “Order Now” button, proceed to order form and fill out all the necessary information and choose payment system that suits you the best. After this relax and have a coffee while our team of professionals will handle your task and deliver it to you in due time.</p>
      </div>
     </div>

     <div class="row steps-wrapper">
      <div class="col-md-12">
       <div class="col-md-3 col-sm-6 step-col step-col-1">
        <i class="step-icon icon-mail"></i>
        <h4>Create a New Order</h4>
        <p>Fill out an inquiry with your instructions and specifications</p>
       </div>

       <div class="col-md-3 col-sm-6 step-col step-col-2">
        <i class="step-icon icon-info"></i>
        <h4>Provide Information</h4>
        <p>Provide all the need information so writer can start working on your paper</p>
       </div>

       <div class="col-md-3 col-sm-6 step-col step-col-3">
        <i class="step-icon icon-chat"></i>
        <h4>Stay in Touch</h4>
        <p>Stay in touch to answer writer's questions and requests</p>
       </div>

       <div class="col-md-3 col-sm-6 step-col step-col-4">
        <i class="step-icon icon-arrow-down"></i>
        <h4>Download paper</h4>
        <p>Download your custom written paper</p>
       </div> 
      </div>     
     </div>
    </div>
   </section>
   <!-- END STEPS BOX -->

   <!-- BEGIN BLOCKQUOTE BLOCK -->
   <section class="quote">
    <div class="container">
     <div class="row">
      <div class="col-md-9"><span>Metronic - The Most Complete &amp; Popular Admin &amp; Frontend Theme</span></div>
      <div class="col-md-3 text-right"><a href="{% url 'new-order' %}" class="btn-transparent">Order Now</a></div>
     </div>
    </div>
   </section>
   <!-- END BLOCKQUOTE BLOCK -->

   <!-- BEGIN TARIFFS BOX -->
   <section id="tariffs">
    <div class="container">
     <div class="row text-center">
      <div class="col-md-12">
       <span class="section-title">Our <span>Prices</span></span>
       <p class="section-description">By choosing our service you will get the best solution for the price. If you want to check how much your exact custom written paper will cost you, just use one of our calculators below:</p>
      </div>
     </div>
     <div class="row">
      <div class="col-md-12">
       <div class="col-tariff">
        <div class="tariff-title">High School</div>
        <div class="tariff-description">Choose deadline</div>
        <div class="tariff-period">
         <div class="tariff-period-wrapper">
          <form>
           <select name="tariff-period" class="tariff-period-select">
			<option value="10800">3 hours</option>
			<option value="21600">6 hours</option>
			<option value="28800">8 hours</option>
			<option value="43200">12 hours</option>
			<option value="86400">24 hours</option>
			<option value="172800">48 hours</option>
			<option value="259200">3 days</option>
			<option value="345600">4 days</option>
			<option value="604800">7 days</option>
			<option value="950400">11 days</option>
           </select>
          </form>
         </div>
        </div>
        <div class="tafiff-price">
         $<span class="text-large">0</span><span class="text-small">.00</span>
         <span>Per Month</span>
         <a href="{% url 'new-order' %}" class="btn-grey-bg">Order Now</a>
        </div>
        
       </div><!--col-tariff-->

       <div class="col-tariff">
        <div class="tariff-title">College</div>
        <div class="tariff-description">Choose deadline</div>
        <div class="tariff-period">
         <div class="tariff-period-wrapper">
          <form>
           <select name="tariff-period" class="tariff-period-select">
			<option value="10800">3 hours</option>
			<option value="21600">6 hours</option>
			<option value="28800">8 hours</option>
			<option value="43200">12 hours</option>
			<option value="86400">24 hours</option>
			<option value="172800">48 hours</option>
			<option value="259200">3 days</option>
			<option value="345600">4 days</option>
			<option value="604800">7 days</option>
			<option value="950400">11 days</option>
           </select>
          </form>
         </div>
        </div>
        <div class="tafiff-price">
         $<span class="text-large">0</span><span class="text-small">.00</span>
         <span>Per Month</span>
         <a href="{% url 'new-order' %}" class="btn-grey-bg">Order Now</a>
        </div>
       </div><!--col-tariff-->

       <div class="col-tariff">
        <div class="tariff-title">University</div>
        <div class="tariff-description">Choose deadline</div>
        <div class="tariff-period">
         <div class="tariff-period-wrapper">
          <form>
           <select name="tariff-period" class="tariff-period-select">
			<option value="10800">3 hours</option>
			<option value="21600">6 hours</option>
			<option value="28800">8 hours</option>
			<option value="43200">12 hours</option>
			<option value="86400">24 hours</option>
			<option value="172800">48 hours</option>
			<option value="259200">3 days</option>
			<option value="345600">4 days</option>
			<option value="604800">7 days</option>
			<option value="950400">11 days</option>
           </select>
          </form>
         </div>
        </div>
        <div class="tafiff-price">
         $<span class="text-large">0</span><span class="text-small">.00</span>
         <span>Per Month</span>
         <a href="{% url 'new-order' %}" class="btn-grey-bg">Order Now</a>
        </div>
       </div><!--col-tariff-->

       <div class="col-tariff">
        <div class="tariff-title">Master's</div>
        <div class="tariff-description">Choose deadline</div>
        <div class="tariff-period">
         <div class="tariff-period-wrapper">
          <form>
           <select name="tariff-period" class="tariff-period-select">
			<option value="10800">3 hours</option>
			<option value="21600">6 hours</option>
			<option value="28800">8 hours</option>
			<option value="43200">12 hours</option>
			<option value="86400">24 hours</option>
			<option value="172800">48 hours</option>
			<option value="259200">3 days</option>
			<option value="345600">4 days</option>
			<option value="604800">7 days</option>
			<option value="950400">11 days</option>
           </select>
          </form>
         </div>
        </div>
        <div class="tafiff-price">
         $<span class="text-large">0</span><span class="text-small">.00</span>
         <span>Per Month</span>
         <a href="{% url 'new-order' %}" class="btn-grey-bg">Order Now</a>
        </div>
       </div><!--col-tariff-->

       <div class="col-tariff">
        <div class="tariff-title">PHD</div>
        <div class="tariff-description">Choose deadline</div>
        <div class="tariff-period">
         <div class="tariff-period-wrapper">
          <form>
           <select name="tariff-period" class="tariff-period-select">
			<option value="10800">3 hours</option>
			<option value="21600">6 hours</option>
			<option value="28800">8 hours</option>
			<option value="43200">12 hours</option>
			<option value="86400">24 hours</option>
			<option value="172800">48 hours</option>
			<option value="259200">3 days</option>
			<option value="345600">4 days</option>
			<option value="604800">7 days</option>
			<option value="950400">11 days</option>
           </select>
          </form>
         </div>
        </div>
        <div class="tafiff-price">
         $<span class="text-large">0</span><span class="text-small">.00</span>
         <span>Per Month</span>
         <a href="{% url 'new-order' %}" class="btn-grey-bg">Order Now</a>
        </div>
       </div><!--col-tariff-->
      </div>
     </div>
     <div class="row text-center full-price-wrapper"><a href="{% url 'pricing' %}" class="btn-transparent btn-grey" rel="nofollow">Full Price Table</a></div>
    </div>
   </section>
   <!-- END TARIFFS BOX -->

   <!-- BEGIN TESTIMONIALS & FEATURES BOX -->
   <section id="testimonials-features">
    <div class="container">
     <div class="row">
      <div id="testimonials" class="col-md-6 col-sm-6"> 
       <span class="section-title">What our <span>Customers think</span>?</span>
       <div id="testimonials-carousel" class="owl-carousel">
        <div class="testimonial">
         <div class="testimonial-meta">
          <span>Discipline:</span> Sociology<br>
          <span>Topic title:</span> Sporting Event Observation and Report
         </div>
         <div class="testimonial-text">
          Dear Writer, This is great!<br>
		  Thank you so much.
         </div>
         <div class="testimonial-customer-id"><span>Customer id:</span> #78</div>
        </div>

        <div class="testimonial">
         <div class="testimonial-meta">
          <span>Discipline:</span> Literature<br>
          <span>Topic title:</span> American Literature
         </div>
         <div class="testimonial-text">
          Thank you very much for this essay and for having the consideration to write me back. Have a nice day.
         </div>
         <div class="testimonial-customer-id"><span>Customer id:</span> #35</div>
        </div>
       </div>
       {# <a href="#" class="btn-transparent btn-grey">More testimonials</a> #}
      </div><!--testimonials-->

      <div id="features" class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
       <span class="section-title">Our <span>Free Features</span></span>
       <ul class="list-checked">
        <li>Free revisions according to our Revision Policy</li>
        <li>Free title page</li>
        <li>Free bibliography & reference</li>
        <li>Free formating<br>(APA, MLA, Chicago, Harvard and others)</li>
       </ul>
      </div><!--features-->
     </div>
    </div>
   </section>
   <!-- END TESTIMONIALS & FEATURES BOX -->

   
   <!-- BEGIN BLOCKQUOTE BLOCK -->
   <section class="quote">
    <div class="container">
     <div class="row ">
      <div class="col-md-9"><span>Why wait?</span></div>
      <div class="col-md-3 text-right"><a href="{% url 'new-order' %}" class="btn-transparent">Order Now</a></div>
     </div>
    </div>
   </section>
   <!-- END BLOCKQUOTE BLOCK -->


   <!-- BEGIN SKILLS BLOCK -->
   <section id="skills">
    <span class="section-title white-title">Our skills</span>
    <div class="container">
     <div class="row center counters">
      <div class="col-md-4 col-sm-4">
       <div class="counter counter-int">
        <strong><span data-to="253">0</span></strong>
        <label>writers active</label>
       </div>
      </div>
      
      <div class="col-md-4 col-sm-4">
       <div class="counter counter-demical-2">
        <strong><span data-to="95.67">0</span>%</strong>
        <label>of orders delivered on time</label>
       </div>
      </div>

      <div class="col-md-4 col-sm-4">
       <div class="counter counter-demical-1">
        <strong><span data-to="8.6">0</span></strong>
        <label>out of 10 current<br>average quality<br>score</label>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!-- END SKILLS BLOCK -->

   
   <!-- BEGIN BLOCKQUOTE BLOCK -->
   <section class="quote">
    <div class="container">
     <div class="row">
      <div class="col-md-9"><span>Metronic - The Most Complete &amp; Popular Admin &amp; Frontend Theme</span></div>
      <div class="col-md-3 text-right"><a href="{% url 'new-order' %}" class="btn-transparent">Order Now</a></div>
     </div> 
    </div>
   </section>
   <!-- END BLOCKQUOTE BLOCK -->


   <!-- BEGIN BENEFITS BLOCK -->
   <section id="benefits">
    <div class="container">
     <div class="row text-center">
      <div class="col-md-12">
       <span class="section-title">Our <span>Benefits</span></span>
       {# <p class="section-description">Good knowledge of such citation styles as MLA, APA, Harvard, Chicago and Turabian is a must for all our writers. They can help you format your paper in any of those styles. We are a flexible and convenient writing service, you ask – we do! </p> #}
      </div>
     </div>

     <div class="row benefit-points">
      <div class="col-md-3 col-sm-3 iconbox-small">
       <i class="icon-timer box-icon-small"></i>
       <span>Quick Delivery</label>
      </div>

      <div class="col-md-3 col-sm-3 iconbox-small">
       <i class="icon-arrow box-icon-small"></i>
       <span>100% Money Back</label>
      </div>

      <div class="col-md-3 col-sm-3 iconbox-small">
       <i class="icon-livechat box-icon-small"></i>
       <span>24/7 Live Support</label>
      </div>

      <div class="col-md-3 col-sm-3 iconbox-small">
       <i class="icon-tag box-icon-small"></i>
       <span>Affordable Price</label>
      </div>
     </div>
    </span>
   </section>
   <!-- END BENEFITS BLOCK -->
  
</main>
{% endblock %}
{% block end_content %}{% endblock %}
{% block end_main_wrapper %}{% endblock %}