<!-- BEGIN SLIDER -->
<div id="slider">
	<div id="fullwidthbanner-container">
		<div id="fullwidthbanner">
			<ul>
			  <li data-transition="fade" data-slotamount="7">
			   <img src="{{ STATIC_URL }}images/demo/slider/slide-1.jpg">
				<div class="caption lft slide-title main-title"  
				data-x="70" 
				data-y="44" 
				data-speed="400" 
				data-start="600" 
				data-easing="easeOutBack">Essay Coffee</div>
				
				<div class="caption lft slide-description"  
				data-x="76" 
				data-y="132" 
				data-speed="400" 
				data-start="1200" 
				data-easing="easeOutBack">Good knowledge doesn’t always come with good writing skills… We, at Essay Coffee, understand that and offer you our help so you can achieve your well-deserved academic success!</div>
				
				<a href="{% url 'new-order' %}" class="caption lft slide-btn btn-transparent btn-orage"
				data-x="190" 
				data-y="226" 
				data-speed="400" 
				data-start="1800" 
				data-easing="easeOutBack">Order Now</a>
			  </li>

			  <li data-transition="fade" data-slotamount="7">
			   <img src="{{ STATIC_URL }}images/demo/slider/slide-2.jpg">
				<div class="caption lft slide-title main-title"  
				data-x="70" 
				data-y="44" 
				data-speed="400" 
				data-start="600" 
				data-easing="easeOutBack">Essay Coffee</div>
				
				<div class="caption lft slide-description"  
				data-x="76" 
				data-y="132" 
				data-speed="400" 
				data-start="1200" 
				data-easing="easeOutBack">We offer the best professional custom research help for English speaking students! If you are struggling with writing your assignment than don’t wait and ask us to help you!</div>
				
				<a href="{% url 'new-order' %}" class="caption lft slide-btn btn-transparent btn-orage"
				data-x="190" 
				data-y="226" 
				data-speed="400" 
				data-start="1800" 
				data-easing="easeOutBack">Order Now</a>
			  </li>
			</ul>
		</div>
	</div>
</div><!--slider-->
<!-- END SLIDER -->