<!-- BEGIN SLIDER -->
<div id="slider">
	<div id="fullwidthbanner-container">
		<div id="fullwidthbanner">
			<ul>
			  <li data-transition="fade" data-slotamount="7">
			   <img src="{{ STATIC_URL }}images/demo/slider/slide-1.jpg">
				<div class="caption lft slide-title main-title"  
				data-x="70" 
				data-y="44" 
				data-speed="400" 
				data-start="1000" 
				data-easing="easeOutBack">LOREM IPSUM</div>
				
				<div class="caption lft slide-description"  
				data-x="76" 
				data-y="132" 
				data-speed="400" 
				data-start="1500" 
				data-easing="easeOutBack">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
				
				<a href="{% url 'new-order' %}" class="caption lft slide-btn btn-transparent"
				data-x="190" 
				data-y="226" 
				data-speed="400" 
				data-start="2000" 
				data-easing="easeOutBack">Order Now</a>
			  </li>

			  <li data-transition="fade" data-slotamount="7">
			   <img src="{{ STATIC_URL }}images/demo/slider/slide-2.jpg">
				<div class="caption lft slide-title main-title"  
				data-x="70" 
				data-y="44" 
				data-speed="400" 
				data-start="1000" 
				data-easing="easeOutBack">simply dummy</div>
				
				<div class="caption lft slide-description"  
				data-x="76" 
				data-y="132" 
				data-speed="400" 
				data-start="1500" 
				data-easing="easeOutBack">Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
				
				<a href="{% url 'new-order' %}" class="caption lft slide-btn btn-transparent"
				data-x="190" 
				data-y="226" 
				data-speed="400" 
				data-start="2000" 
				data-easing="easeOutBack">Order Now</a>
			  </li>
			</ul>
		</div>
	</div>
</div><!--slider-->
<!-- END SLIDER -->