{% extends "layout.html" %}
{% load i18n %}
{% block pagetitle %}{% trans "Terms &amp; Conditions of Site Use"%}{% endblock %}
{% block info_block %}
<section class="info">
    <h2><i class="fa fa-info-circle irm"></i> Terms &amp; Conditions of Site Use</h2>
</section>
{% endblock %}
{% block content %}
<section class="container-fluid task-details" style="margin: 0 auto">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 plain-text">
            <p>
                These terms and conditions apply to anyone who accesses, uses or purchases products and/or services through the <em>{{site_domain}}</em> website. By accessing, using, or making purchases, you agree that you have read, understood and agree to be bound by all of the terms and conditions that are included here.
            </p>
            <h3>Use of Site Content</h3>
            <ul class="fa-ul">
                <li>
                    <i class="fa-li fa fa-check-square"></i>Accessing and/or using our website is the sole choice of the visitor/user. Should any issue arise regarding privacy, that issue is governed by these terms and conditions, along with our published privacy policy. Such conditions include company limitation regarding damages, disputes and laws of an applicable state. If a customer has a question regarding our privacy policy, after having read it, along with these terms and conditions, customer should contact our customer service department for further clarification.
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>Our policies and terms and conditions are subject to change at any time and we therefore suggest that the customer read through these each time he/she visits our essay writing services site.
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>The company does collect anonymous, aggregate information as visitors and customers navigate our site. Such information includes such things as pages visited, time on each page, time involved in the download process, because such information allows us to determine the effectiveness of both our site and our professional essay services. We use this information in order to improve our site and our marketing, and we do not collect information on individual customers, other than perhaps their browser type and other anonymous information.
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>We would also caution customers that any text, content, graphics, pictures, icons, which constitute the "contents" of our site, are copyrighted and trademarked and, as such, we own the intellectual property rights to all of these things.&nbsp;
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>All contents and/or products contained on or downloaded from the company website are for non-commercial and personal use only. The company transfers no rights to any content to the customer, and the customer may not sell, distribute, transfer, display, modify or otherwise exploit such content.
                </li>
            </ul>
            <h3>Electronic Communications</h3>
            <p>
                Once an individual accesses the company website and sends an email communication to anyone in the company, that individual is setting up electronic communication by both parties. When the company subsequently continues email communication with the customer in any way, all communication from either party constitutes a legal statement. As well, the customer is immediately bound by these terms and conditions and any rules, regulations, practices, and policies as published by the company in this document and on the website.
            </p>
            <p>
                The customer also agrees that <em>{{site_domain}}</em> shall not be held liable for any electronic communication that should come from any email address other than our company email address or that may be communicated from any telephone number other than those published on our website. <em>{{site_domain}}</em> &nbsp;is not liable for any communication from non-website sources that may cause injury or damage to the customer.
            </p>
            <h3>Trademarks and Copyrights</h3>
            <p>
                Website content shall include text, logos, icons, digital downloads, software, graphics, and images. All such items belong to the company or to the companies that have supplied them. As such, all of these things are protected by international copyright laws, along with the trademark names used by and on the site. None of these items or trademarks may be used for any service or product that is not a part of our website, our affiliates, our subsidiaries, or the companies that have supplied such items to us.
            </p>
            <h3>Modification and Severability of Site Policies</h3>
            <p>
                All customers are bound by these terms and conditions and any policies and/or rules and regulations that are published on our website. We recommend that customers periodically review all of these things, as any modifications apply as soon as they are published. Should, for any reason, any part of any of these terms and conditions, policies, rules and/or regulations be deemed null and void, all other conditions of any of these published terms and conditions will remain in force.
            </p>
            <h3>Policy on Delivery</h3>
            <p>
                Any online custom essay or other type of research essay writing, or any other product or service that has been ordered by a customer shall be delivered to that customer via that customer's personal account page housed on our site. The product shall be delivered based upon the delivery date established by the customer, and the date and time of delivery shall be used for any additional action, either by the customer or the company. The customer shall receive a personal email notification when a product has been delivered to his/her account. It is the customer's responsibility to access his/her account page to retrieve the product.&nbsp;
            </p>
            <p>
                Every order has an ID number, and any communication with the company regarding that order should be accompanied by this ID number. Subsequent revisions, refund requests, and deadlines shall all be based upon the original delivery date and time.
            </p>
            <h3>Quality Control</h3>
            <p>
                Prior to delivery to a customer, all ordered work passes through an editing process to ensure quality, adherence to customer's instructions, and non-plagiarized content. While the company guarantees the quality of the finally delivered work, it does not guarantee a specific grade on said product.
            </p>
            <p>
                The editing process includes specific software scans for plagiarism, so that we may guarantee the authenticity of all research and writing and so that we may maintain our reputation as the best essay and paper writing service.
            </p>
            <h3>Student Account Area</h3>
            <p>
                Every customer is provided a password-protected personal account/order page in the student area of our website. It is through this account that all communication with one's writer and with the company should occur. As well, this account should be used to retrieve and download all product ordered. It is the responsibility of the customer to check his/her account page frequently, so as to retrieve communication that may have been sent. The company is not responsible for any deadline missed as a result of customer failure to check his/her order page. If any customer has difficulty using or navigating the personal order page, s/he should contact the customer service center for assistance.
            </p>
            <h3>Revision Policy</h3>
            <p>
                Our essay writing services include free unlimited revisions when a customer is dissatisfied with any part of a delivered product, so long as those revisions do not change any of the original instructions which were provided to the writer. If revisions are requested, they must be requested within twenty (20) days after the customer has received the product. If those revisions alter the original instructions, an additional charge may apply. For large orders (thesis or dissertations), we recommend progressive delivery; however, a customer will have 45 days to request revisions after the final and complete product has been delivered.
            </p>
            <p>
                Should a customer request a revision because of plagiarism, the customer must provide the proof of plagiarism, and a detailed scan report demonstrating such.
            </p>
            <p>
                A new deadline for completed revisions shall be given by the customer, with turnaround times as follows:
            </p>
            <ul class="fa-ul">
                <li>
                    <i class="fa-li fa fa-check-square"></i>Up to 24 hours for original deadline, revisions will be delivered within 24 hours
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>From 24-48 hours for original deadline, revision turnaround will be 48 hours
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>For orders that were originally given more than 48 hours, the revision turnaround will be 72 hours
                </li>
            </ul>
            <h3>Policy on Amendments</h3>
            <p>
                A customer can certainly ask for additions to a delivered product, and we will certainly consider such amendments, although the topic for the original work must be the same. Should a customer request additional pages to a delivered product, we will certainly do this for additional fees; a paper may never be decreased and a price lowered.&nbsp; &nbsp; For customers to receive free revisions, they are required to provide such request with 20 days of the initial order delivery. Again, in the case of major and long works, a 45-day time period for revisions will be granted.
            </p>
            <p>
                The company will assume that the customer is satisfied when the stipulated time period has passed, and the customer has not requested any revisions. All amendment requests pertaining to customers order will be completed as per the urgency of the order with 24 hours as standard minimum turnaround time.
            </p>
            <h2>Policy on Refunds</h2>
            <p>
                Customers may add or alter their original instructions through the use of their personal account/order page, and should do so prior to the writer beginning on the work in order to avoid any additional charges.
            </p>
            <p>
                There are also circumstances in which a customer is entitled to a refund, as follows:
            </p>
            <ul class="fa-ul">
                <li>
                    <i class="fa-li fa fa-check-square"></i>If, by mistake, a customer is charged twice for the same order, the customer should upload the two receipts and request an immediate refund. Of course, we shall process that refund immediately.
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>All other refund requests must be made on the customer order/account page, using the tab provided and indicating the reasons for the request. If your refund request reason pertains to the quality of the work, we are happy to investigate your dissatisfaction. Refunds are based upon percentages and are determined by our Dispute Department. Refund requests should be made within five (5) days of receipt of the product.
                </li>
            </ul>
            <h3>Process for Submission of a Refund Request</h3>
            <p>
                To have your refund request considered, the customer must contact the company via his/her personal account page or via telephone, email, or live chat.
            </p>
            <p>
                If you are granted a refund request, we will process that refund and our refund department will email you with a notification.&nbsp;
            </p>
            <p>
                <strong>Please note: </strong>If you are granted a refund, you are obligated to destroy the product, and you may not use it for any purpose whatsoever. Full copyright to the product reverts to the company, and we may do any or all of the following with it:
            </p>
            <ul class="fa-ul">
                <li>
                    <i class="fa-li fa fa-check-square"></i>We have the right to re-use any or all of the research essay writing.
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>We may publish the work on the Internet and allow students to buy the work as a sample as they write essay and/or research works on their own.
                </li>
            </ul>
            <p>
                If you submit your own writing for editing essay help, it will be professionally edited, proofread and revised. However, we do not check these works for plagiarism, and customer therefore bears responsibility for any plagiarism that such works contain. There will be no refunds issued should these works contain plagiarism.
            </p>
            <p>
                If you would like further clarification regarding our refund policy, contact our service department.
            </p>
            <h3>Your Personal Account</h3>
            <p>
                The customer bears full responsibility for the confidentiality of his/her account and any activity on that account. Further, customer bears full responsibility for maintaining secrecy relative to password. Any activity that occurs on a personal account shall be considered to be that of the customer.
            </p>
            <h3>Best Pricing</h3>
            <p>
                <em>{{site_domain}}</em> offers essay writing services at the very best cost possible, along with many other free features. As well, we offer discounts and special pricing offers, as published on our site. Should a customer find another cheap price essay service that offers the same free features and benefits, we will provide a 10% additional discount on his/her next order.
            </p>
            <h3>Customer Ownership Rights</h3>
            <p>
                Once a customer receives and accepts a product from the company, that product belongs exclusively to the customer. Each order is original and uniquely produced for the customer. As such, it will never be sold to another individual, nor will it be transferred, displayed, or published again.
            </p>
            <h3>Company Disclaimers</h3>
            <ul class="fa-ul">
                <li>
                    <i class="fa-li fa fa-check-square"></i>All product delivered to a customer is for the purposes of research, study and reference and is not intended to be rewarded in any way as the customer's original work.
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>Customer agrees and understands that his/her use of any product is at his/her own personal risk and that the company, its affiliates, its employees, its partners, and its subsidiaries bear no responsibility for customer use and consequences thereof of any product.
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>Company does not warrant that a delivered product will meet customer's requirements or result in any grade.
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>Company does not guarantee that customer use of its site and/or services will be uninterrupted, secure, or error-free.
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>Company does not guarantee that any counsel, advice, or service will be error-free.
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>Any product, text, materials or service obtained and/or downloaded from the company site shall be done so at the customer's own risk, including damage to software or hardware belonging to the customer.
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>Any advice or information obtained by the customer from the company bears no warranty unless stated in these terms and conditions.
                </li>
            </ul>
            <h3>Company Liability Limitations</h3>
            <p>
                The customer understands and agrees that the company shall not be held liable in any instance, should the customer suffer any loss, damage, injury or consequences, either legal or personal, as a result of the use of the company site, products or services. Further the customer agrees that the company shall not be held liable for any damage, loss, injury or consequences, either legal or personal, except up to the amount that the customer has paid in fees to the company for the product or service which as resulted in such loss, damage, injury or consequences.
            </p>
            <h3>Methods by which a Customer Contacts the Company</h3>
            <p>
                The customer has the following methods of communicating with the company:
            </p>
            <ul class="fa-ul">
                <li>
                    <i class="fa-li fa fa-check-square"></i>Calling the toll free number published on the site
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>Leaving a telephone message and requesting a call back
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>Engaging in live chat with a company representative on the website
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>Leaving messages on the customer's personal account page
                </li>
                <li>
                    <i class="fa-li fa fa-check-square"></i>Email to the company
                </li>
            </ul>
            <h3>Fraud</h3>
            <p>
                Customer understands that to fraudulently use the credit/debit, banking or online financial account of any individual without that individual's express permission is against state and federal laws. The company will cooperate with all law enforcement organizations in the identification, arrest, and prosecution of anyone engaging in fraud in the use of company services or products.
            </p>
        </div>
    </div>
</section>
{% endblock %}