{% extends 'index.html' %}

{% block head_meta %}<meta name="robots" content="nofollow, noindex" />{% endblock %}

{% block meta_title %}Contact us | EssayCoffee.com{% endblock %}
{% block meta_description %}EssayCoffee Contact us{% endblock %}
{% block meta_keywords %}essaycoffee contact us, essaycoffee livechat, to contact, how to contact, call{% endblock %}

{% block breadcrump %}
<div class="breadcrumbs">
	<a href="{% url 'home' %}">Home</a>
	<span class="separator"><i class="fa fa-angle-right"></i></span>
	<a href="{% url 'contact' %}" class="active">Contact</a>
</div>
{% endblock %}
			
{% block content %}
<!-- BEGIN MIDDLE LAYOUT -->
<div id="layout-middle" class="col-md-9 col-sm-9 content-page">

	<h1 class="page-title margin-top">Contacts</h1>

	<section>
		<h4>Phone</h4>
		<p class="page-descr">Tel: +1 888 243 7406</p>
		<p class="page-descr">Phone working hours: Monday 00:00 AM – Saturday 01:00 PM (UTC).</p>
		<p class="page-descr">Toll-free for US & Canada (1-888…) only. International callers are charged for incoming calls.</p>
	</section>
	<br/>
	
	<section>
		<h4>Email</h4>
		<a href="mailto:support@essaycoffee.com">support@essaycoffee.com</a><br>
		<a href="mailto:info@essaycoffee.com">info@essaycoffee.com</a>
	</section>
	<br/>
	
	<section>
		<h4>Chat</h4>
		<p>Chat working hours: Monday 00:00 AM – Saturday 01:00 PM (UTC)</p>
	</section>
	<br/>
	
	<section>
		<h4>Feedback</h4>
		<form id="contacts" action="{% url 'contact' %}" method="post">
			{% csrf_token %}
			<div class="form-group {% if form.name.errors %} has-error{% endif %}">
				<label for="contacts-name">Name</label>
				<input name="name" type="text" class="form-control" id="contacts-name" {% if request.user.is_authenticated %}value="{{request.user.first_name}}"{% endif %}>
				{% if form.name.errors %}<span class="validation-message">{{form.name.errors|striptags}}</span>{% endif %}
			</div>
			<div class="form-group{% if form.email.errors %} has-error{% endif %}">
				<label for="contacts-email">Your Email</label>
				<input name="email" type="email" class="form-control" id="contacts-email" {% if request.user.is_authenticated %}value="{{request.user.email}}"{% endif %}>
				{% if form.email.errors %}<span class="validation-message">{{form.email.errors|striptags}}</span>{% endif %}
			</div>
			<div class="form-group {% if form.comment.errors %} has-error{% endif %}">
				<label for="contacts-message">Message</label>
				<textarea name="comment" class="form-control" id="contacts-message"></textarea>
				{% if form.comment.errors %}<span class="validation-message">{{form.comment.errors|striptags}}</span>{% endif %}
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Send</button>		
			</div>
		</form>
	</section>

</div>
<!-- END MIDDLE LAYOUT -->

<!-- BEGIN LEFT SIDEBAR LAYOUT -->
<div id="layout-left" class="col-md-3 col-sm-12">
	{% include 'html/sidebar-left.html' %}
</div>
<!-- END LEFT SIDEBAR LAYOUT -->

{% comment %}
<div id="layout-left" class="col-md-3 col-sm-9">
	
	<address>
		<h3>Our location</h3>
		795 Park Ave, Suite 120<br>
		San Francisco, CA 94107<br>
		<abbr title="Phone">P:</abbr> +1 888 243 7406
	</address>
	
	<address>
		<strong>Email</strong>
		<a href="mailto:support@essaycoffee.com">support@essaycoffee.com</a><br>
		<a href="mailto:info@essaycoffee.com">info@essaycoffee.com</a>
	</address>

	<section class="sibebar-section">
		<ul class="social-icons">
			<li><a href="#" title="Facebook" class="facebook"></a></li>
			<li><a href="#" title="Github" class="github"></a></li>
			<li><a href="#" title="Goole Plus" class="googleplus"></a></li>
			<li><a href="#" title="Linkedin" class="linkedin"></a></li>
			<li><a href="#" title="RSS" class="rss"></a></li>
		</ul>
	</section>

	<section id="sidebar-about" class="sibebar-section">
		<h3>About Us</h3>
		<p>Sediam nonummy nibh euismod tation ullamcorper suscipit</p>
		<ul class="list-unstyled">
			<li><i class="fa fa-check"></i> Officia deserunt molliti</li>
			<li><i class="fa fa-check"></i> Consectetur adipiscing </li>
			<li><i class="fa fa-check"></i> Deserunt fpicia</li>
		</ul>
	</section>
</div>
{% endcomment %}

{% endblock %}
