{% extends 'index.html' %}

{% block head_meta %}<meta name="robots" content="nofollow, noindex" />{% endblock %}

{% block meta_title %}Disclaimer{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block breadcrump %}
<div class="breadcrumbs">
	<a href="{% url 'home' %}">Home</a>
	<span class="separator"><i class="fa fa-angle-right"></i></span>
	<a href="{% url 'disclaimer' %}" class="active">Disclaimer</a>
</div>
{% endblock %}
			
{% block content %}
<!-- BEGIN MIDDLE LAYOUT -->

<div id="layout-middle" class="col-md-9 col-sm-9 content-page">

	<h1 class="page-title margin-top">Disclaimer</h1>
	
	<section>
		<h4>General Disclaimer</h4>
		<p>This site is intended to enable applicants to write better application essays. To offer admission to it's applicants is the sole discretion of the concerned university and it will make this decision based on numerous factors. Using the advice on this site by no means guarantees admission. The creators of this site will accept no responsibility for the acceptance or denial of admission to the users of this site. If you find this policy unacceptable, please refrain from using this site. If you have any questions or comments regarding this disclaimer, please email us at <a href="mailto:info@essaycoffee.com" class="more">info@essaycoffee.com</a>.</p>
	</section>
</div>
<!-- END MIDDLE LAYOUT -->

<!-- BEGIN LEFT SIDEBAR LAYOUT -->
<div id="layout-left" class="col-md-3 col-sm-12">
	{% include 'html/sidebar-left.html' %}
</div>
<!-- END LEFT SIDEBAR LAYOUT -->
{% endblock %}