{% extends 'index.html' %}

{% block head_meta %}<meta name="robots" content="nofollow, noindex" />{% endblock %}

{% block meta_title %}Money back guarantee | EssayCoffee.com{% endblock %}
{% block meta_description %}Money back guarantee for essay orders. Get to know more about our trusted essay writing service!{% endblock %}
{% block meta_keywords %}money back guarantee, essaycoffee guarantees{% endblock %}

{% block breadcrump %}
<div class="breadcrumbs">
	<a href="{% url 'home' %}">Home</a>
	<span class="separator"><i class="fa fa-angle-right"></i></span>
	<a href="{% url 'money-back-guarantee' %}" rel="nofollow" class="active">Money Back Guarantee</a>
</div>
{% endblock %}
			
{% block content %}
<!-- BEGIN MIDDLE LAYOUT -->

<div id="layout-middle" class="col-md-9 col-sm-9 guarantees-page content-page">

	<h1 class="page-title margin-top">Money Back Guarantee</h1>
	
	<section>
		<p>BEWARE! Most companies in the academic writing industry DO NOT offer a specific Money Back Guarantee. They often tend not to keep their promise to return your money if you are not satisfied with the order. At EssayCoffee.com, <strong>we want you to FEEL SAFE when placing your order!</strong></p>
		<p>Our Money Back Guarantee gives you the right to request and receive a refund at any stage of your order, if anything goes wrong. This includes any possible problems you might encounter, and secures your interests. Our company enjoys a high customer satisfaction rate, while refund requests are rare, which is partly due to our crystal-clear Money Back Guarantee. All refund requests are processed within 4-6 business days.</p>
	</section>
	
		<!-- BEGIN FAQ ACCORDION -->
	<div class="panel-group" id="faq-accordion">
		
		<!-- Question 1 -->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#question-1">I want to cancel my order</a>
			  </h4>
			</div>
			<div id="question-1" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>If you decide to cancel your order before we assign a writer to work on it, you receive a 100% refund. If a writer has already been assigned, and it is confirmed by order's status bar at the top of your order page, the refund amount depends on your deadline. You can claim a 70% refund if half or less of the period has passed, and up to 50% thereafter. This is because the writer who starts on your assignment should receive the compensation for the work done.</p>
				<p>Please note that you cannot receive a refund for order cancellation if the paper has been completed and delivered to your order page on time. If the paper has been delivered within the deadline you stipulate and pay for, you can only request a refund due to quality concerns, through the "Refund" button on your order page.</p>
			  </div>
			</div>
		</div>
		
		<!-- Question 2 -->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#question-2">I paid for one order twice</a>
			  </h4>
			</div>
			<div id="question-2" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>If you notice that you were charged twice, and you receive two receipts from the payment processing system (that is, 2checkout.com or skrill.com), do not hesitate to contact us. Forward both receipts to our email and the extra payment will be refunded in full within the shortest possible time.</p>
			  </div>
			</div>
		</div>
		
		<!-- Question 3 -->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#question-3">I accidentally placed two identical orders</a>
			  </h4>
			</div>
			<div id="question-3" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>If you complete the payment for two identical orders by mistake, please contact us immediately to clarify the situation before we proceed with both orders. It is your responsibility to cancel any orders you do not need, before we assign a writer to work on them. Otherwise, they are regarded as regular orders and standard refund procedures apply (see *I want to cancel my order*).</p>
			  </div>
			</div>
		</div>
		
		<!-- Question 4 -->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#question-4">No writer was found to work on my order</a>
			  </h4>
			</div>
			<div id="question-4" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>We always do our best to assign the most appropriate writer to work on your paper; however, it is still possible that on rare occasions the writer is not found. If this does occur, we issue a full refund for you.</p>
				<p>If you request for the revision of the finished paper to be completed by a different writer, and a suitable one is not found, our Dispute Resolution Specialist reviews your claim and proceeds with an appropriate refund after you request it.</p>
			  </div>
			</div>
		</div>
		
		<!-- Question 5 -->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#question-5">My paper was late</a>
			  </h4>
			</div>
			<div id="question-5" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>If lateness occurs due to the late upload of extra materials on your part, you cannot apply for a lateness refund. Please make sure all paper details and additional materials are provided upon placing the order.</p>
				<p>If due to some other reason the first version of a paper is delivered after the original deadline, you can request recalculation of the order price, according to the deadline for delivery. For example, an 8-hour delivery paper completed an hour late now falls into the 24-hour delivery category, and should cost less. The difference in price is refunded. If lateness occurs with a long-term order (11-14 days or longer) we refund 7% upon your request.</p>
				<p>If the first version of a paper is late and is not approved by you, you are eligible for a full refund as you might not need the paper anymore.</p>
				<p>All lateness refund requests should be submitted in a note on your personal order page, within 14 days from the time the paper was delivered.</p>
			  </div>
			</div>
		</div>
		
		<!-- Question 6 -->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#question-6">The revision of my paper was late</a>
			  </h4>
			</div>
			<div id="question-6" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>Lateness refunds and price recalculation do not apply to revisions, since revision deadlines are set separately.</p>
				<p>In order to avoid confusion, please make sure you choose the correct deadline when placing an order. Your final submission deadline should correspond to the date when your paper is due, and should exceed your first draft deadline by at least 30%, so that we are given a leeway for any possible revisions of your order.</p>
				<p>For your convenience, when you select a deadline, the system automatically calculates the time frame given and shows an estimate of your final submission deadline. If your final submission deadline does not exceed your first draft deadline by at least 30%, you should choose another option from the time frames we offer.</p>
			  </div>
			</div>
		</div>
		
		<!-- Question 7 -->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#question-7">I am not fully satisfied with the quality of the paper. However, I accept it and will revise it myself. I request a partial refund.</a>
			  </h4>
			</div>
			<div id="question-7" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>If you are not completely satisfied with the quality of the paper you receive, you may request a free revision, or ask for a different writer to be assigned to your order. Alternatively, <strong>you can request a partial refund by clicking the "Refund" button</strong> on your personal order page and choosing <em>"I am not fully satisfied with the quality of the paper. However, I accept it and will revise it myself. I request a partial refund"</em>.</p>
				<p>If you choose this option, you are automatically provided with the MS Word version of the paper. You then have <strong>14 days to provide strong reasons and examples</strong> to back up your claim, or your own revised version of our paper as supporting evidence. As soon as you do that,&nbsp;<strong>up to 40% could be refunded</strong> at the Dispute Department’s discretion. To request a partial refund after you have already approved the last version of your order, contact our support team in chat, over the phone, or through your personal order page for assistance.</p>
				<p>Failure to provide information required for dispute resolution <strong>within 14 days</strong> results in cancellation of the dispute, after which no refund is possible.</p>
				<p>All partial refund requests should be submitted&nbsp;using the&nbsp;"Refund" button on your personal order page <strong>within 14 days from the time the paper is approved.</strong></p>
			  </div>
			</div>
		</div>
		
		<!-- Question 8 -->
		<div class="panel panel-default">
			<div class="panel-heading">
			  <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#question-8">I am completely dissatisfied with the quality of the paper, so I have decided to write it myself. I request a full refund.</a>
			  </h4>
			</div>
			<div id="question-8" class="panel-collapse collapse">
			  <div class="panel-body">
				<p>If you are completely dissatisfied with the quality of the paper you receive, you may request a <strong>free revision</strong>, or ask for a different writer to beassigned to your order. Alternatively, <strong>if you haven’t previously approved the paper, you can request a&nbsp;full refund by clicking the "Refund"</strong> button on your personal order page, and choosing&nbsp;<em>"I am completely dissatisfied with the quality of the paper, so I have decided to write it myself. I request a full refund"</em>.</p>
				<p>Please note that if you choose this option, the paper we created is immediately posted online for commercial purposes. You then have <strong>14 days to provide strong reasons and examples</strong> to back up your claim. You could also upload a copy of your own version of the paper as supporting evidence that our writer’s work did not meet  any of your expectations. The paper you provide is discarded immediately after our review, and is not stored in our internal database or shared with any third party. As soon as you do that,&nbsp;<strong>up to 100% could be refunded</strong> at the Dispute Department’s discretion.</p>
				<p>Failure to provide information required for the dispute resolution <strong>within 14 days</strong> results in cancellation of the dispute, after which no refund is possible.</p>
				<p>In case of a full refund request, the Company reserves the right to publish the paper online for commercial purposes. We do not keep any kind of essay databases, and "publish online" means that if the paper is googled, searched for in a search engine, or checked by any kind of anti-plagiarism software, it links back to our website. It may also be published as content or as a sample essay. This is done to protect our writer’s work in cases when a customer claims a refund after the work has been completed and used.</p>
				<p>Customers have the opportunity to review their order and request additional corrections if necessary. <strong class="red">However, once you press the "Approve order" button, which provides access to an editable and printable version of the paper, you cannot request a full refund. If you have at least once approved either the initial, or the revised version of your paper using the "Approve Order" button, you are only eligible for a partial refund.</strong></p>
				<p>All full&nbsp;refund requests should be submitted through the&nbsp;<strong>"Refund"</strong> button on your personal order page <strong>within 14 days from the time the paper is delivered</strong>.</p>
			  </div>
			</div>
		</div>

	</div>
</div>
<!-- END MIDDLE LAYOUT -->

<!-- BEGIN LEFT SIDEBAR LAYOUT -->
<div id="layout-left" class="col-md-3 col-sm-12">
	{% include 'html/sidebar-left.html' %}
</div>
<!-- END LEFT SIDEBAR LAYOUT -->
{% endblock %}