{% extends 'index.html' %}

{% block head_meta %}<meta name="robots" content="nofollow" />{% endblock %}

{% block meta_title %}Password change{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block breadcrump %}
<div class="breadcrumbs">
  <a href="{% url 'home' %}">Home</a>
  <span class="separator"><i class="fa fa-angle-right"></i></span>
  <a href="{% url 'change' %}" class="active">Password change</a>
</div>
{% endblock %}

{% block sidebar_right %}
<!-- BEGIN RIGHT SIDEBAR LAYOUT -->
<div id="layout-right" class="col-md-3 col-sm-12">
	<section class="sibebar-section">
		<ul class="list-group">
			<li class="list-group-item"><a href="{% url 'my-orders' %}">My Orders</a></li>
			<li class="list-group-item"><a href="{% url 'my-account' %}">My account</a></li>
			<li class="list-group-item active"><a href="{% url 'password-change' %}">Password change</a></li>
			<li class="list-group-item"><a href="{% url 'logout' %}">Exit</a></li>
		</ul>
	</section>
</div>
<!-- END RIGHT SIDEBAR LAYOUT -->
{% endblock %}

{% block content %}
   <!-- BEGIN MIDDLE LAYOUT -->
   <div id="layout-middle" class="col-md-9 col-sm-9">
    <h1 class="page-title">Password change</h1>
    <div class="col-md-8 col-sm-8">
     <form action="{% url 'password-change' %}" method="post" id="registration-form" class="form-horizontal">
      {% csrf_token %}
      <fieldset>
       <legend>Old password</legend>
       <div class="form-group {% if form.password.errors %} has-error {% endif %}">
        <label class="col-sm-4 control-label">Password <span class="require">*</span></label>
        <div class="col-sm-8">
         <input type="password" name="password" required class="form-control" value="{{form.password.value|default:''}}">
        </div>
       </div>
       <legend>New password</legend>
       <div class="form-group {% if form.new_password.errors %} has-error {% endif %}">
        <label class="col-sm-4 control-label">New password <span class="require">*</span></label>
        <div class="col-sm-8">
         <input type="password" name="new_password" required class="form-control" value="{{form.new_password.value|default:''}}">
        </div>
       </div>
       <div class="form-group {% if form.new_password.errors %} has-error {% endif %}">
        <label class="col-sm-4 control-label">Confirm password <span class="require">*</span></label>
        <div class="col-sm-8">
         <input type="password" name="new_password2" required class="form-control" value="{{form.new_password2.value|default:''}}">
         {% if form.new_password.errors %}<span class="validation-message">{{form.new_password.errors|striptags}}</span>{% endif %}
        </div>
       </div>
      </fieldset>
      <div class="form-group submit-group">
       <label class="col-sm-4 control-label">&nbsp;</label>
       <div class="col-sm-8">
         <button type="submit" class="btn btn-primary">Password change</button>
       </div>
      </div>
     </form>
    </div>
   </div>
   <!-- END MIDDLE LAYOUT -->
{% endblock %}