{% extends 'index.html' %}

{% block head_meta %}<meta name="robots" content="nofollow, noindex" />{% endblock %}

{% block meta_title %}Prices{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block breadcrump %}
<div class="breadcrumbs">
	<a href="{% url 'home' %}">Home</a>
	<span class="separator"><i class="fa fa-angle-right"></i></span>
	<a href="{% url 'pricing' %}" class="active">Prices</a>
</div>
{% endblock %}
			
{% block content %}
<!-- BEGIN MIDDLE LAYOUT -->
<div id="layout-middle" class="col-md-9 col-sm-9 pricing-page content-page">

	<h1 class="page-title margin-top">Prices</h1>
	
	<p>The price for each assignment is based on several factors:</p>
	<ul class="red-bullets">
		<li>Academic level;</li>
		<li>Number of pages;</li>
		<li>Urgency;</li>
		<li>Type of paper needed.</li>
	</ul>

	<!-- BEGIN PRICE -->
	<div class="row tariffs">
		<div class="col-tariff">
			<div class="tariff-title">High School<span>High School</span></div>
			<div class="tariff-description">Text</div>
			<div class="tariff-period">
				<div class="tariff-period-wrapper">
					<form>
						<select name="tariff-period" class="tariff-period-select">
							<option data-price="8.69">14 days</option>
							<option data-price="21.69">21 days</option>
						</select>
					</form>
				</div>
			</div>
			<div class="tafiff-price">
				$<span class="text-large">0</span><span class="text-small">.00</span>
				<span>Per Month</span>
				<a href="{% url 'new-order' %}" class="btn-grey-bg">Order Now</a>
			</div>
			
		</div><!--col-tariff-->

		<div class="col-tariff">
			<div class="tariff-title">College<span>College</span></div>
			<div class="tariff-description">Text</div>
			<div class="tariff-period">
				<div class="tariff-period-wrapper">
					<form>
						<select name="tariff-period" class="tariff-period-select">
							<option data-price="8.69">14 days</option>
							<option data-price="21.69">21 days</option>
						</select>
					</form>
				</div>
			</div>
			<div class="tafiff-price">
				$<span class="text-large">0</span><span class="text-small">.00</span>
				<span>Per Month</span>
				<a href="{% url 'new-order' %}" class="btn-grey-bg">Order Now</a>
			</div>
		</div><!--col-tariff-->

		<div class="col-tariff">
			<div class="tariff-title">High School<span>High School</span></div>
			<div class="tariff-description">Text</div>
			<div class="tariff-period">
				<div class="tariff-period-wrapper">
					<form>
						<select name="tariff-period" class="tariff-period-select">
							<option data-price="8.69">14 days</option>
							<option data-price="21.69">21 days</option>
						</select>
					</form>
				</div>
			</div>
			<div class="tafiff-price">
				$<span class="text-large">0</span><span class="text-small">.00</span>
				<span>Per Month</span>
				<a href="{% url 'new-order' %}" class="btn-grey-bg">Order Now</a>
			</div>
		</div><!--col-tariff-->

		<div class="col-tariff">
			<div class="tariff-title">High School<span>High School</span></div>
			<div class="tariff-description">Text</div>
			<div class="tariff-period">
				<div class="tariff-period-wrapper">
					<form>
						<select name="tariff-period" class="tariff-period-select">
							<option data-price="8.69">14 days</option>
							<option data-price="21.69">21 days</option>
						</select>
					</form>
				</div>
			</div>
			<div class="tafiff-price">
				$<span class="text-large">0</span><span class="text-small">.00</span>
				<span>Per Month</span>
				<a href="{% url 'new-order' %}" class="btn-grey-bg">Order Now</a>
			</div>
		</div><!--col-tariff-->

		<div class="col-tariff">
			<div class="tariff-title">High School<span>High School</span></div>
			<div class="tariff-description">Text</div>
			<div class="tariff-period">
				<div class="tariff-period-wrapper">
					<form>
						<select name="tariff-period" class="tariff-period-select">
							<option data-price="8.69">14 days</option>
							<option data-price="21.69">21 days</option>
						</select>
					</form>
				</div>
			</div>
			<div class="tafiff-price">
				$<span class="text-large">0</span><span class="text-small">.00</span>
				<span>Per Month</span>
				<a href="{% url 'new-order' %}" class="btn-grey-bg">Order Now</a>
			</div>
		</div><!--col-tariff-->
	</div>
	<!-- END PRICE -->

	<div class="order-btn-wrapper">
		<a href="#" class="btn btn-primary">Place Your Order for Writing From Scratch Now!</a>
	</div>

	<p class="note">All prices are presented in US dollars for writing 1 page. You are able to choose different currency during checkout. If you happen to have a coupon discount code – please paste it in the appropriate field.</p>

	<p class="bg-warning text-center">These prices do not include the <strong>Value Added TAX</strong>. Prices for EU customers will be 20% higher.</p>
	<p class="bg-warning">The prices for writing do not include conducting any primary research. Our writers will not be able to gather primary data for your academic work using such data collection methods as questionnaires,interviews, focus groups interviews, observations and others due to geographical reasons and time/resources required. In case such methods are essential for your academic work our writers will be glad to assist you in creating questionnaires as well as analyzing and discussing the results.</p>

	<!-- BEGIN PRICE FORM -->
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<form class="form-horizontal price-form-wrapper">
				<div class="price-form">
					<div class="form-group">
						<label class="col-sm-5 control-label">Type of Paper Needed</label>
						<div class="col-sm-5">
							<select class="form-control">
								<option>Select One</option>
								<option>Select Two</option>
							</select>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-sm-5 control-label">Academic Level</label>
						<div class="col-sm-5">
							<select class="form-control">
								<option>Please select</option>
								<option>SLorem ipsum</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-5 control-label">
							Pages
							<span class="tooltip-wrapper">
								<a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pages tooltip">
									<i class="icon-info-popup"></i>
								</a>
							</span>
						</label>
						<div class="col-sm-5">
							<select class="form-control">
								<option>Please select</option>
								<option>Sorem ipsum</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-5 control-label">
							Deadline
							<span class="tooltip-wrapper">
								<a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Deadline tooltip">
									<i class="icon-info-popup"></i>
								</a>
							</span>
						</label>
						<label class="col-sm-5 control-label text-left">Select <a href="#">Academic Level</a> first!</label>
					</div>

					<div class="form-group total">
						<label class="col-sm-5 control-label large-text">Total Price</label>
						<label class="col-sm-5 control-label text-left">Select <a href="#">type of paper</a> first!</label>
					</div>

					<div class="form-note">The price for any of the additional services, such as progressive delivery, writer's samples and/or any extra charge for selecting a particular category of writer will be calculated and added automatically as you fill in the order form.</div>
				</div>

				<div class="text-center submit-group"><button class="btn btn-primary">Continue To Order</button></div>

			</form>
		</div>
	</div>
	<!-- END PRICE FORM -->

	<section>
		<h3>About the Pricing Policy</h3>
		<p>Prices at EssayCoffee.com are set to the industry average, allowing us to employ writers who meet the high standard demands applied to your work, using the US and European writers who have professional experience developing the best quality research for all your coursework, even your written dissertations and thesis work.</p>

		<p>We provide assistance in a wide range of assignments, from personal letters to book/music reviews, from ordinary research papers to Master’s Degree theses. Some clients simply ask us to revise the papers they finished themselves - to meet specific grammar or formatting standards, while others give us detailed outlines to ensure the paper meets a clearly defined set of standards and requirements. These details are important to your success, your success is about meeting higher standards, accomplishing better work, and overcoming the challenges of school.</p>

		<p>Your free inquiry provides you with an estimated price and deadline for your work, including a writer «on-hold» for you - it’s better than putting a book on-hold at the library, because you know your writer will be there for you when pay for your assignment. You’re a marketing student - we look for a marketing professional. You want a nursing paper, we use a nurse who writes for our company. Our writers are professionals in their industry and their quotes and availability are designed to meet your specific needs.</p>

		<p>If you provide all the necessary data and articulate your order properly, your writer will quickly be able to assess and complete your order in a timely manner. A clear order is more likely to receive a paper that fits all requirements. This is key to providing that exceptional quality that makes our organization a top choice for students looking for professional services.</p>

		<p>We’re very flexible, and discuss each assignment on a personal basis; above all, we value communication. If you help us, we’ll help you, and the benefit will of course be mutual.</p>
	</section>
	
</div>
<!-- END MIDDLE LAYOUT -->

<!-- BEGIN LEFT SIDEBAR LAYOUT -->
<div id="layout-left" class="col-md-3 col-sm-12">
	{% include 'html/sidebar-left.html' %}
</div>
<!-- END LEFT SIDEBAR LAYOUT -->
{% endblock %}