{% extends 'index.html' %}

{% block head_meta %}<meta name="robots" content="nofollow, noindex" />{% endblock %}

{% block meta_title %}Privacy Policy | EssayCoffee.com{% endblock %}
{% block meta_description %}Privacy policy review.{% endblock %}
{% block meta_keywords %}privacy policy, essay service, essaycoffee, essaycoffee.com{% endblock %}

{% block breadcrump %}
<div class="breadcrumbs">
	<a href="{% url 'home' %}">Home</a>
	<span class="separator"><i class="fa fa-angle-right"></i></span>
	<a href="{% url 'privacy-policy' %}" rel="nofollow" class="active">Privacy Policy</a>
</div>
{% endblock %}
			
{% block content %}
<!-- BEGIN MIDDLE LAYOUT -->

<div id="layout-middle" class="col-md-9 col-sm-9 content-page">

	<h1 class="page-title margin-top">Privacy Policy</h1>
	
	<section>
		<h4>1. Introduction</h4>
		<p>The following privacy notice explains our policy regarding the personal information we collect about you in the process of your cooperation with <strong>EssayCoffee.com</strong> website (<strong>EssayCoffee.com</strong>). It applies to the information we collect about:</p>
		<ul class="red-bullets">
			<li>Visitors of our website;</li>
			<li>People who use our services.</li>
		</ul>
	</section>
	
	<section>
		<h4>2. Information we may collect from you as you browse our website</h4>
		<p>The information we collect (“Information”) may include:</p>
		<ul class="red-bullets">
			<li>Your name, address, e-mail address and telephone number(s).</li>
			<li>Your credit or debit card number and expiry date.</li>
			<li>Details of orders you place through the Site and of the fulfilment of your orders.</li>
			<li>Records of correspondence (including any further information we may request from you) when you contact us to request information, report a problem, or provide feedback on our services.</li>
			<li>Standard information automatically collected by our web server including your IP address. Further details are set out in paragraph 4 below.</li>
			<li>Details of your visits to our site, including access time.</li>
		</ul>
	</section>
	
	<section>
		<h4>3. How we use your information</h4>
		<p>We never sell, rent or share any of your Information (except anonymous aggregate information) with any third party. We only use the Information you provide as follows:</p>
		<ul class="red-bullets">
			<li>to provide you with the services that you wish to use;</li>
			<li>for internal record keeping, billing, accounting and market research purposes;</li>
			<li>to respond to any queries, complaints or requests for further information;</li>
			<li>to improve the content of our Site;</li>
			<li>to customise the content and/or layout of page on our Site;</li>
			<li>to notify you about important functionality changes and alterations to the Site (including changes to this Privacy Policy and/or the Terms of Use), and to provide you with information about our services.</li>
		</ul>
		<p>We may also use your data, or permit selected third parties to use your data, to provide you with information about goods and services which may be of interest to you and we or they may contact you about these by post or telephone.</p>
		<p>If you are an existing customer, we will only contact you by electronic means (e-mail or SMS) with information about goods and services similar to those which were the subject of a previous sale to you.</p>
		<p>If you are a new customer, and where we permit selected third parties to use your data, we (or they) will contact you by electronic means only if you have consented to this.</p>
		<p>If you do not want us to use your data in this way, or to pass your details on to third parties for marketing purposes, please tick the relevant box situated on the form on which we collect your data. If you have opt-in but in the future change your mind and no longer want your information to be used for this purpose, you can opt out by emailing us at info@essaycoffee.com.</p>
		<p>We do not disclose information about identifiable individuals to our advertisers, but we may provide them with aggregate information about our users (for example, we may inform them that 500 men aged under 30 have clicked on their advertisement on any given day). We may also use such aggregate information to help advertisers reach the kind of audience they want to target (for example, women in SW1). We may make use of the personal data we have collected from you to enable us to comply with our advertisers' wishes by displaying their advertisement to that target audience.</p>
		<p>We may provide your personal information to companies that provide services such as our chat feature, to help us with our business activities such as shipping your order or offering customer service. These companies are authorized to use your personal information only as necessary to provide these services to us.</p>
		<p>Except as set out above and in paragraph 7 below, we will not sell, distribute or disclose your Information without your consent, unless required or permitted to do so by law such as to comply with a subpoena, or similar legal process or when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</p>
	</section>
	
	<section>
		<h4>4. User Access and Choice</h4>
		<p>If your personal information changes, or if you no longer desire our service, you may correct, update, amend, delete/remove or deactivate it by contacting our Customer Support by email or telephone at the contacts listed on our <a href="{% url 'contact' %}" class="more" target="_blank">Contact Us</a> page.</p>
		<p>We will retain your information for as long as your account is active or as needed to provide you services. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
	</section>
	
	<section>
		<h4>5. IP Addresses</h4>
		<p>Our web server automatically collects standard information, including your IP address, browser type, operating system for system administration and to report aggregate information to our advertisers. This is statistical data about our users' browsing actions and patterns, and does not identify any individual.</p>
	</section>
	
	<section>
		<h4>6. Cookies</h4>
		<p>Cookies are text files that identify your computer to our server. Cookies in themselves do not identify the individual user, only the computer used. Many websites do this, whenever a user visits their site, in order to monitor visitor traffic.</p>
		<p>Cookies only record those areas of the site that have been visited by the computer in question, and for how long. Users have the opportunity to set their computers to accept all cookies to be notified when a cookie is issued, or not to receive cookies at any time. If the last of these options is taken, some personalized services cannot be provided to that user. We use both session and persistent cookies.</p>
		<p>Session cookies are temporary files stored only until you close your browser. They help our web site to remember your activity on the previous page, for example, when you are making an order for the first time. Persistent cookies are long term. They remain on your device for a period of time after you close your browser.</p>
	</section>
	
	<section>
		<h4>3rd Party Tracking Technologies</h4>
		<p>The use of cookies by our [partners, affiliates, tracking utility company, service providers] is not covered by our privacy policy. We do not have access or control over these cookies. Our [partners, affiliates, tracking utility company, service providers] use session ID and persistent cookies [to make it easier for you to navigate our site, in order for you to use the shopping cart, etc.]</p>
		<p>Our third party partners employ clear gifs (a.k.a. Web Beacons/Web Bugs), images, and scripts that help them better manage content on our site. We do [not] tie the information gathered to our Customers’ or Users’ personally identifiable information.</p>
		<h5>3rd Party Tracking Technologies</h5>
		<p>We partner with a third party ad network to either display advertising on our Web site or to manage our advertising on other sites. Our ad network partner uses cookies and Web beacons to collect non-personally identifiable information about your activities on this and other Web sites to provide you targeted advertising based upon your interests. If you wish to not have this information used for the purpose of serving you targeted ads, you may opt-out by clicking <a href="http://preferences.truste.com" class="more" target="_blank">Here</a>. Please note this does not opt you out of being served advertising. You will continue to receive generic ads.</p>
		<p>NOTE: Participant may also link to the NAI opt-out mechanism <a href="http://www.networkadvertising.org/managing/opt_out.asp" class="more" target="_blank">http://www.networkadvertising.org/managing/opt_out.asp</a>.</p>
		<p>(Google AdSense/Adwords) We use Google AdSense to publish ads on this site. When you view or click on an ad a cookie will be set to help better provide advertisements that may be of interest to you on this and other Web sites. You may opt-out of the use of this cookie by visiting Google’s Advertising and Privacy page: <a href="http://www.networkadvertising.org/managing/opt_out.asp" class="more" target="_blank">http://www.google.com/privacy_ads.html</a>. Please visit our <a href="http://preferences.truste.com" class="more" target="_blank">Cookies Policy</a> web page for more information.</p>
	</section>
	
	<section>
		<h4>7. Storage of data and security</h4>
		<p>The Information that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area (‘EEA’) for our own administration purposes. It may also be processed by staff operating outside the EEA who work for us or for one of our suppliers. Such staff may be engaged in, among other things, the provision of the Services that you wish to use, the processing of your payment details, and the provision of support services. By submitting your Information, you agree to this transfer, storing or processing. We will take all steps reasonably necessary to ensure that your Information is treated securely and in accordance with this Privacy Policy.</p>
		<p>Please, bear in mind that our company is not responsible for any information provided directly to our writers, including: the topic, deadline, number of pages ordered, instructions, and uploaded files. This information is made available to our freelance writers and, thus, our company cannot control it or offer any guarantees over its future distribution.</p>
		<p>The Information you provide to us is stored on our secure servers. Any payment transactions will be encrypted using SSL technology. Where we have given you (or where you have chosen) a password which enables you to access certain parts of our site, you are responsible for keeping this password confidential. We ask you not to share a password with anyone. If you have any questions about security on our Web site, you can contact us at <a href="mailto:info@essaycoffee.com" class="more">info@essaycoffee.com</a></p>
	</section>
	
	<section>
		<h4>8. Transfer to third parties</h4>
		<p>If we or substantially all of our assets are acquired by a third party, personal data held by us about our customers may be one of the transferred assets. You will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of your personal information, as well as any choices you may have regarding your personal information.</p>
	</section>
	
	<section>	
		<h4>9. Internet</h4>
		<p>The Site uses a security system that protects your Information from unauthorised use. However, as no data transmissions over the Internet can be guaranteed to be 100% secure, we cannot take responsibility for any unauthorised access or loss of personal information that is beyond our control. Please remember that other methods of Internet communication, such as emails and messages sent via a website, are not secure unless they are encrypted. We take no responsibility for any unauthorised access or loss of personal information that is beyond our control.</p>
	</section>
	
	<section>	
		<h4>10. Links Disclaimer</h4>
		<p>To provide visitors with specific information, this website provides links to websites of other organizations. A link does not constitute an endorsement of the content, viewpoint, accuracy, opinions, policies, products, services, or accessibility of that website. Once you link to another website from this one, including any maintained by the any government or state, you are subject to the terms and conditions of that website, including, but not limited to, its privacy policy.</p>
		<p>Before supplying any personal information to any other website, we recommend that you check that website’s Privacy Policy. We do not accept responsibility for the protection of any data supplied to other sites.</p>
		<p>Our Web site includes Social Media Features, such as the Facebook Like button and Widgets, such as the Share this button or interactive mini-programs that run on our site. These Features may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the Feature to function properly. Social Media Features and Widgets are either hosted by a third party or hosted directly on our Site. Your interactions with these Features are governed by the privacy policy of the company providing it.</p>
	</section>
	
	<section>
		<h4>11. Disclosures Prohibited</h4>
		<p>Use of information acquired from employers or employees pursuant to this article shall be for the exclusive use and information of the commissioner in the discharge of his or her duties hereunder. It shall not be open to the public, nor be used in any court in any action or proceeding pending therein, unless the commissioner is a party to such action or proceeding, notwithstanding any other provisions of law. Such information insofar as it is material to the making and determination of a claim for benefits, shall be available to the parties affected and, at the commissioner’s discretion, may be made available to the parties affected in connection with effecting placement.</p>
	</section>
	
	<section>
		<h4>12. Changes to Privacy Policy & Future developments</h4>
		<p>We continually improve and update our website to enhance your experience. As a result, our policies continue to evolve. As we implement new technology and provide new services, we update our Privacy Policy accordingly. We encourage you to refer to this page on an ongoing basis for our most current policy and practices.</p>
		<p>From time to time, we may use your information for new, unanticipated uses not previously disclosed in our privacy policy. If our information practices change at any time in the future, we will post the policy changes on this page. If we make any material changes we will notify you by means of a notice on this Site prior to the change becoming effective.</p>
		<p>If you are concerned about how your information is used, you must check this page from time to time. We only use data collected from the time of the policy change onwards, for any new purposes put into place.</p>
	</section>
	
	<section>
		<h4>13. Use of samples for Quality Assurance Policy</h4>
		<p>Every customer at our service has an option to request a work sample of the assigned writer at the cost of $5. This service mean that the customer may view three random pages previously completed by the assigned writer. <strong>This option serves for quality assurance purposes only;</strong> the work sample must NOT be copied or distributed.</p>
		<p>You will be asked to accept our Privacy Policy at a later stage. By accepting, you agree to allow us to use your order for quality assurance purposes. We only use a short abstract from your paper (not more than one page) to provide other clients with a work sample from their writer. The copy of the extract from your order is protected, so it cannot be copied or distributed.</p>
	</section>
	
	<section>
		<h4>14. Contact Us</h4>
		<p>You can contact us via email or by phone:</p>
		<p>Phone: +1 888 243 7406</p>
		<p>Email: <a href="mailto:info@essaycoffee.com" class="more">info@essaycoffee.com</a></p>
	</section>
</div>
<!-- END MIDDLE LAYOUT -->

<!-- BEGIN LEFT SIDEBAR LAYOUT -->
<div id="layout-left" class="col-md-3 col-sm-12">
	{% include 'html/sidebar-left.html' %}
</div>
<!-- END LEFT SIDEBAR LAYOUT -->
{% endblock %}