{% extends 'index.html' %}

{% block head_meta %}<meta name="robots" content="nofollow, noindex" />{% endblock %}

{% block meta_title %}Terms & Conditions{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block breadcrump %}
<div class="breadcrumbs">
	<a href="{% url 'home' %}">Home</a>
	<span class="separator"><i class="fa fa-angle-right"></i></span>
	<a href="{% url 'terms-conditions' %}" rel="nofollow" class="active">Terms and conditions</a>
</div>
{% endblock %}
			
{% block content %}
<!-- BEGIN MIDDLE LAYOUT -->
<div id="layout-middle" class="col-md-9 col-sm-9 content-page">

	<h1 class="page-title margin-top">Terms and conditions</h1>
	
	<section>
		<h4>We would like to thank you for choosing services provided by EssayCoffe.com</h4>
		<p>When you place an order within our system, we become responsible not only for the on-time delivery of your essay or other document, but also for providing the highest quality academic writing services available. For you it means the best value for money and the best return on the investment you make with us.</p>
		<p>By entering into a relationship with us you agree on the following Terms and Conditions implemented by our company. Please read them carefully so as to be aware of the rules that will be applied during your cooperation with us.</p>
		<p><strong>Our 24/7 Customer Care Support</strong> is always available to address any concerns you may have or any questions that may arise in regards to these Terms and Conditions.</p>
	</section>
	
	
	<section>
		<h4>Payment</h4>
		<p>By placing an order with our company you indicate your acceptance of our Terms and Conditions and provide <strong>authorization of your credit card charge</strong> (or any other payment method) for the amount specified in our website quoting system.</p>
		<p>Unauthorized use of a credit card or other payment method is prohibited by law and considered to be a serious crime. <strong>EssayCoffee.com</strong> closely cooperates with our payment processing service provider and applicable government agencies to prevent, combat and prosecute online fraud and cyber crime. Beware and be forewarned that any unauthorized usage of a stolen card will be reported to law enforcement authorities for further investigation.</p>
	</section>
	
	<section>
		<h4>Product Usage</h4>
		<p>All dissertations, research papers, book reports, term papers and all other types of written assignments provided by <strong>EssayCoffee.com</strong> are intended for research/reference purposes only and must not be used in contravention of international copyright limitations. <strong>EssayCoffee.com</strong> is not responsible for failure to learn the material covered by the assignment or improper usage of research contained therein.</p>
		<p>Due to the fact that our papers are not for submission and are intended to be used to assist you in writing your own essay, <strong>EssayCoffee.com</strong> does not hold any responsibility for or provide any guarantees in relation to the outcome or consequences of submission to any academic institution. <strong>We only guarantee the writing and research standards of our essays.</strong></p>
	</section>
	
	<section>
		<h4>Source Materials</h4>
		<p><strong>EssayCoffee.com</strong> reserves the right <strong>to use any relevant materials available in the completion of the requested document</strong> – books, journals, newspapers, interviews, online publications and others – unless you indicate in the order instructions some specific sources to be used or others to be ignored. Any supplementary information that might be useful for the writing process is highly welcomed.</p>
		<p>If you specify that <strong>certain sources are required</strong> or are essential to the completion of your assignment, we expect you to provide them to us within the shortest time-frame possible. <strong>EssayCoffee.com will not be held responsible for any delays caused due to non-receipt of the additional material</strong> or the unresponsiveness of clients in general. Since we operate online, we assume that you have access to all the equipment essential for sending and receiving information via Internet.</p>
	</section>
	
	<section>
		<h4>Instructions</h4>
		<p>Our main goal is to provide you with an essay or other document that meets and/or exceeds your expectations. In order for this to be achieved it is important to realize that your instructions will form the only basis of all research and writing undertaken by the writer, therefore it is in your interests to be <strong>as clear and specific as possible when adding your requirements</strong> in the order form.</p>
		<p>Please be advised that you will be asked to <strong>give final confirmation to the Instructions</strong> you provide for the writer in order details. This will allow avoiding misunderstandings and unfair claims regarding non-clear or non- full instructions that sometimes cause disputes after order completion.</p>
		<p>The procedure is quite simple. Kindly do the following:</p>
		<ul class="red-bullets">
			<li>Post your specific <strong>Instructions in the Order Form.</strong></li>
			<li>Afterwards, please <strong>login to your Order Tracking Area</strong>, check your instructions to the order, add/edit if necessary and <strong>hit “FINAL CONFIRMATION”</strong> button.</li>
			<li>Final Confirmation of your requirements gives your Writer the <strong>“green light” to start working on your paper.</strong></li>
			<li>Please note that your Writer should also confirm their understanding of your requirements and if something is not clear – they <strong>may ask for some clarifications or additional information</strong>. Therefore we highly advise you to keep in touch with your Writer until all the instructions are confirmed on both sides.</li>
		</ul>
		<p>Your paper instructions should be confirmed in your Order Tracking Area within 3 hours after your order placement. </p>
		<p><strong>Orders with non-confirmed instructions will not be worked on and may be delayed.</strong></p>
		<p><strong>EssayCoffee.com</strong> guarantees that the delivered paper will meet confirmed and <strong>only confirmed requirements</strong>. It is impermissible to change the instructions once you have confirmed them. Any alterations to these instructions will be considered as additional work, thereby requiring additional payment.</p>
	</section>
	
	<section>
		<h4>Guarantees</h4>
		<p>Upon placing an order for an essay, dissertation we assure you every confidence in our services and the final product we deliver. For this reason we extend to you the following guarantees, so as to give the best value for your money:</p>
		<ul class="red-bullets">
			<li>Assignments provided by <strong>EssayCoffee.com</strong> are original in their entirety, free of plagiarism and customized to you and your requirements.</li>
			<li>Your paper will never be distributed, resold or reproduced in any form or for any reason.</li>
			<li>Your order will be completed within the timeframe that you specify when submitting the order form.</li>
			<li>All personal information, including information which identifies you as a present or previous client of <strong>EssayCoffee.com</strong> is secure and confidential. This information will never be disclosed to other parties without consent.</li>
		</ul>
	</section>
	
	<section>
		<h4>Revisions</h4>
		<p>Upon receiving your completed assignment you are entitled to a <strong>free revision</strong> should the paper fail to meet your instructions or defined requirements in any way. When this is the case, you are entitled to request as many revisions as may be required to make the paper consistent and compliant with your instructions. This entitlement, however, expires <strong>14 days after the delivery</strong> of the first copy of your paper. During this period the request for revision may be made at any time. </p>
		<p><strong>EssayCoffee.com</strong> recognizes that orders will vary in size and complexity, as a result, <strong>dissertation, thesis and other sufficiently large assignments</strong> will be granted a free revision entitlement period of 30 days from delivery of the first copy of the paper. Sufficiency in the size of the paper will be determined by designated <strong>EssayCoffee.com</strong> administrative personnel.</p>
		<p><strong>All revisions will be based on the original order instructions.</strong> If at the time of the revision request you provide new, additional or differing instructions, this will be interpreted as an application for new work and thus, will require additional payment. Furthermore, should you request a revision after the free revision entitlement period (i.e. 14 days), it will also be considered as a request for new work requiring additional payment.</p>
		<p>In case a request for revision is not submitted within <strong>the free revision entitlement period, EssayCoffee.com</strong> tacitly accepts <strong>that the customer is satisfied with the work</strong> and requires <strong>no further actions</strong> to be taken in regards to the paper unless extra payment is provided or a new order is placed.</p>
	</section>
	
	<section>
		<h4>Verification</h4>
		<p><strong>EssayCoffee.com</strong> strives to protect your personal and credit information and in order to do this more effectively we have a verification procedure in place. Essentially, this involves confirming that the order is authentic and that the cardholder is aware of the charges by placing a phone call to them, and in certain cases by requesting some additional documents to be submitted for verification with our Risk Department. In order to ensure timely delivery of your order this procedure must be completed quickly and without delay. Therefore it is vital to <strong>provide accurate and valid phone numbers</strong>. Unverified orders may result in their cancelation or the order being placed on hold indefinitely.</p>
		<p>Please note that in case you do not feel comfortable with submitting any documents of yours with security reasons, you may <strong>pay via PayPal</strong> which is not subject to any additional verification procedure withheld by our company. All orders paid via PayPal are subject to automatic <strong>verification by phone call only.</strong></p>
		<p>Should <strong>credit card fraud</strong> be determined as a result of this procedure, appropriate <strong>government authorities will be contacted immediately.</strong></p>
		<p>Based on the Priority of company interests protection against fraudulent acts and disorderly dispute of charge, please be informed of the following measures. By doing a <strong>chargeback</strong>, you agree to automatically give up all your rights to the project. At the same time, you authorize the company to publish the completed paper and start an <strong>authorship</strong> procedure that will allow us to determine if you have ever used any parts of the project. The procedure may include contacting your school officials and/or posting your full details along with the completed project online.</p>
	</section>
	
</div>
<!-- END MIDDLE LAYOUT -->

<!-- BEGIN LEFT SIDEBAR LAYOUT -->
<div id="layout-left" class="col-md-3 col-sm-12">
	{% include 'html/sidebar-left.html' %}
</div>
<!-- END LEFT SIDEBAR LAYOUT -->
{% endblock %}