html, body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#top-line {
	font-size: .9em;
	color: #555;
}
i.rm {
	margin-right: .5em;
}
i.lm {
	margin-left: .5em;
}

.lb {
	border-left: 2px solid #aaa;
}