{% extends "layout.html" %}
{% load i18n %}
{% block pagetitle %}All Tasks{% endblock %}
{% block info_block %}
<section class="info">
    <h4>In order to access, please login or register</h4>
</section>
{% endblock %}
{% block content %}
<div class="panel panel-default" style="width:430px;margin:3em auto">
    <!-- Default panel contents -->
    <div class="panel-heading" style="font-size:1.5em">
        <i class="fa fa-key" style="margin-right:1em;font-size:1.2em"></i> {% trans "Login" %}
    </div>
    <div class="panel-body">
        <form action="{% url "login" %}" method="post" class="form-horizontal" role="form">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{next}}">
            <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                <div class="input-group margin-bottom-sm"  style="width:90%;margin:.5em auto">
                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                    <input id="user_input" type="text" name="username" class="form-control" placeholder="{% trans "Enter username" %}">
                </div>
            </div>
            <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                <div class="input-group margin-bottom-sm"  style="width:90%;margin: 0 auto">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input id="passwd_input" type="password" name="password" class="form-control" placeholder="{% trans "Enter password" %}">
                </div>
            </div>
            <div class="form-group">
                <div style="text-align:center;margin: .5em auto 0">
                    <button type="submit" class="btn btn-primary btn-lg" role="button">
                        {% trans "Sign in" %}<i class='fa fa-sign-in fa-lg' style="margin-left:.5em"></i>
                    </button>
                </div>
            </div><!--
            {% if form.errors %}
            <div class="alert alert-danger" style="margin-bottom:.2em">
                {{form.errors}}
            </div>
            {% endif %}-->
        </form>
    </div>
</div>
{% endblock %}
