{% extends "layout.html" %}
{% load i18n attr %}
{% block pagetitle %}All Tasks{% endblock %}

{% block content %}

<p>
    {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
</p>
<form action="{% url "pswd_reset" %}" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    {{ form.email.errors }}
    <div class="form-group">
        <div class="col-sm-5">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                {{ form.email|attr:"class:form-control,placeholder:Email address" }}
            </div>
        </div>
        <div class="col-sm-7">
            <button type="submit" class="btn btn-primary">
                {% trans 'Reset my password' %} <i class="fa fa-arrow-circle-o-right"></i>
            </button>
        </div>
    </div>
</form>
{% endblock %}
{% block info_block %}
<section class="info">
    <h3>{% trans "Password reset" %} {{user.username}}</h3>
</section>
{% endblock %}