{% load i18n tags %}
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><i class="fa fa-font fa-lg" style="margin-right:.5em"></i>Translation Portal <sup> <small>{{site}}</small></sup></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if site == 'customer' %}
                    {% if user.username %}
                    <li class="{% active request 'tasks/' %}">
                        <a href="{% url "task_list" %}"><i class='fa fa-tasks fa-lg' style="margin-right:.5em"></i>{% trans "My Orders" %}</a>
                    </li>
                    <li class="{% active request 'task/' %}">
                        <a href="{% url "task_new" %}"><i class='fa fa-asterisk fa-lg' style="margin-right:.5em"></i>{% trans "Order Now" %}</a>
                    </li>
                    <li class="{% active request 'messages' %}">
                        <a href="{% url "msgs_list" %}"><i class='fa fa-envelope fa-lg' style="margin-right:.5em"></i>{% trans "Messages" %}</a>
                    </li>
                    {% endif %}
                    {% elif site == 'admin' or site == 'editor' %}
                    {% if user.username %}
                    <li class="dropdown {% active request 'order' %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='fa fa-tasks fa-lg' style="margin-right:.5em"></i>{% trans "Orders "%} <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="min-width:400px">
                            {% if site == 'admin' %}
                            <li>
                                <a href="{% url 'tasks_all' %}"><span class="badge pull-right">{{stats.all|default:0}}</span> {% trans "All tasks" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'tasks_draft' %}"><span class="badge pull-right">{{stats.draft|default:0}}</span> {% trans "All draft tasks" %}</a>
                            <li class="divider"></li>
                            {% endif  %}
                            <li>
                                <strong style="margin-left: .8em;font-size:1.2em;">{% trans "Free orders" %}</strong>
                            </li>
                            {% if site == 'admin' %}
                            <li>
                                <a href="{% url 'tasks_unprocessed' %}"><span class="badge pull-right">{{stats.unproc|default:0}}</span> {% trans "Unprocessed" %}</a>
                            </li>
                            {% endif  %}
                            <li>
                                <a href="{% url 'tasks_suspicious' %}"><span class="badge pull-right">{{stats.suspect|default:0}}</span> {% trans "Suspicious/Untrustworthy/Incomplete"%} </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <strong style="margin-left: .8em;font-size:1.2em;">{% trans "Active orders" %}</strong>
                            </li>
                            <li>
                                <a href="{% url 'tasks_active' %}"><span class="badge pull-right">{{stats.process|default:0}}</span> {% trans "Processing" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'tasks_expired' %}"><span class="badge pull-right">{{stats.expired|default:0}}</span> {% trans "Late" %}</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <strong style="margin-left: .8em;font-size:1.2em;">{% trans "Done orders" %}</strong>
                            </li>
                            <li>
                                <a href="{% url 'tasks_finished' %}"><span class="badge pull-right">{{stats.completed|default:0}}</span>{% trans "Completed" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'tasks_sent' %}"><span class="badge pull-right">{{stats.sent|default:0}}</span>{% trans "Sent" %}</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <strong style="margin-left: .8em;font-size:1.2em;">{% trans "Rejected orders" %}</strong>
                            </li>
                            <li>
                                <a href="{% url 'tasks_rejected'  %}"><span class="badge pull-right">{{stats.rejected|default:0}}</span> {% trans "Rejected" %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% active request 'writers' %}">
                        <a href="{% url 'writers'  %}"><i class='fa fa-pencil fa-lg' style="margin-right:.5em"></i>{% trans "Writers" %}</a>
                    </li>
                    {% if site == 'admin'  %}
                    <li class="{% active request 'customers' %}">
                        <a href="{% url 'customers'  %}"><i class='fa fa-users fa-lg' style="margin-right:.5em"></i>{% trans "Customers" %}</a>
                    </li>
                    <li class="{% active request 'customers' %}">
                        <a href="{% url 'editors'  %}"><i class='fa fa-users fa-lg' style="margin-right:.5em"></i>{% trans "Editors" %}</a>
                    </li>
                    <li class="{% active request 'customers' %}">
                        <a href="{% url 'admins'  %}"><i class='fa fa-users fa-lg' style="margin-right:.5em"></i>{% trans "Admins" %}</a>
                    </li>
                    {% endif %}
                    <!-- <li class="{% active request 'messages' %}">
                    <a href="{% url "msgs_list" %}"><i class='fa fa-envelope fa-lg' style="margin-right:.5em"></i>{% trans "Messages" %}</a>
                    </li> -->
                    {% endif %}
                    {% elif site == 'writer' %}
                    {% if user.username %}
                    <li class="{% active request 'gudelines/' %}">
                        <a href="#"><i class='fa fa-book fa-lg' style="margin-right:.5em"></i>{% trans "Guidelines" %}</a>
                    </li>
                    <li class="{% active request 'orders_free/' %}">
                        <a href="{% url 'tasks_unprocessed'  %}"><i class='fa fa-tasks fa-lg' style="margin-right:.5em"></i>{% trans "Free assignments" %}</a>
                    </li>
                    <li class="dropdown {% active request 'orders' %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='fa fa-list fa-lg' style="margin-right:.5em"></i>{% trans "My assignments"%} <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="min-width:400px">
                            <li>
                                <a href="{% url 'tasks_all' %}"><span class="badge pull-right">{{stats.all|default:0}}</span>{% trans "All" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'tasks_active' %}"><span class="badge pull-right">{{stats.active|default:0}}</span>{% trans "Processing" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'tasks_expired' %}"><span class="badge pull-right">{{stats.expired|default:0}}</span>{% trans "Late" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'tasks_finished' %}"><span class="badge pull-right">{{stats.finished|default:0}}</span>{% trans "Finished" %}</a>
                            </li>
                            <li>
                                <a href="{% url 'tasks_sent' %}"><span class="badge pull-right">{{stats.sent|default:0}}</span>{% trans "Sent" %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% active request 'payments' %}">
                        <a href="#"><i class='fa fa-money fa-lg' style="margin-right:.5em"></i>{% trans "Payments" %}</a>
                    </li>
                    <li class="{% active request 'messages' %}">
                        <a href="{% url "msgs_list" %}"><i class='fa fa-envelope fa-lg' style="margin-right:.5em"></i>{% trans "Messages" %}</a>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.username %}
                    <li class="{% active request 'profile' %}">
                        <a href="{% url "user_details" user.pk %}"><i class='fa fa-male fa-lg' style="margin-right:.5em"></i>{% trans "Profile" %} <sup style="border-bottom: 1px dotted">{{user.username}}</sup></a>
                    </li>
                    {% endif %}
                    {% if user.username %}
                    <li>
                        <a href="{% url 'logout' %}">{% trans "Log out" %}<i class='fa fa-sign-out fa-lg' style="margin-left:.5em"></i></a>
                    </li>
                    {% else %}
                      {% if site == 'admin' or site == 'customer' %}
                        <li>
                          <a href="{% url 'user_new' %}">{% trans "Register" %}<i class='fa fa-lg' style="margin-left:.5em"></i></a>
                        </li>
                      {% endif %}
                    <li>
                        <a href="{% url 'login' %}">{% trans "Sign in" %}<i class='fa fa-sign-in fa-lg' style="margin-left:.5em"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
