  <div class="tab-pane {% if request.GET.messages %}active{% endif %}" id="messages">
   <div id="messages-list">
    {% for msg in msgs %}
      {% if request.user.pk == msg.mowner.pk %}
      <div class="row message-mine">
       <div class="col-md-2 col-sm-2 col-xs-2">
  <div class="user-avatar"><img src="{{ STATIC_URL }}images/thumb-user-default.jpg" alt=""></div>
       </div>
       <div class="col-md-10 col-sm-10 col-xs-10 message">
        <div class="message-time">I am at: {{msg.created}}</div>
        <div class="message-subj">{{msg.title}}</div>
        <div class="message-text">{{msg.body}}</div>
       </div>
      </div>
      {% else %}
      <div class="row message-support">
       <div class="col-md-10 col-sm-10 col-xs-10 message">
        <div class="message-time">Support at: {{msg.created}}</div>
        <div class="message-subj">{{msg.title}}</div>
        <div class="message-text">{{msg.body}}</div>
       </div>
       <div class="col-md-2 col-sm-2 col-xs-2">
        <div>{{msg.mowner.username}}</div>
       <div class="user-avatar">
       {% if msg.mowner.get_group == co.ADMIN_GROUP %}
         <img src="{{ STATIC_URL }}images/thumb-support-default.png" alt=""></div>
       {% else %}
         <img src="{{ STATIC_URL }}images/thumb-writter-default.png" alt=""></div>
       {% endif %}
       </div>
      </div>
      {% endif %}
    {% endfor %}
   </div>

   <div class="row message-reply-form">
    <form action="{% url 'order-msg-new' order.pk %}" class="form-horizontal" method="post">
     {% csrf_token %}
   
     <div class="form-group">
      <div class="col-md-12 col-sm-12">
       <label class="col-md-2 col-sm-2 col-xs-12 control-label">Send to:</label>
       <div class="col-md-4 col-sm-4 col-xs-12">
        <select name="visibility" class="form-control">
         <option value="{{co.MSGS_WRITER}}" >Writer</option>
         <option value="{{co.MSGS_ADM}}" >Admin&Editor</option>
        </select>
       </div>
      </div>
     </div>

     <div class="form-group">
      <div class="col-md-12 col-sm-12">
       <input type="text" name="title" class="form-control" placeholder="Subject">
      </div>
     </div>

     <div class="form-group">
      <div class="col-md-12 col-sm-12">
      <textarea name="body" class="form-control" placeholder="Type a message here..." rows="3"></textarea>
      </div>
     </div>
   
     <button type="submit" class="btn btn-primary">Submit</button>
    </form>
   </div>
  </div><!-- End Messages Tab -->
