{% extends 'index.html' %}

{% load render_status %}

{% block meta_title %}Order Essay Online | EssayCoffee.com{% endblock %}
{% block meta_description %}Order 200% high quality custom Essays Online{% endblock %}
{% block meta_keywords %}Order, online, essay, buy, buy custom essay, buy quality Order Essays Online, buy affordable essay, buy successful essay, buy essay papers, buy essay writer, buy fast essay, essays to buy, buy essays, purchase Order Essays Online, buy an essay, purchase an essay, purchase essays, buy essay paper, buy best essay, buy cheap essay, custom essay to buy, buy custom written essay, buy a essay, buy essay now, buy essay writing, buy essay online, buy original essay, buy non-plagiarized essay, where to buy essay, buy a+ essay, buy a good essay, buy essay writer, buy a perfect essay, buy unique essay, to buy essay{% endblock %}

{% block breadcrump %}
<div class="breadcrumbs">
 <a href="{% url 'home' %}">Home</a>
 <span class="separator"><i class="fa fa-angle-right"></i></span>
 <a href="{% url 'new-order' %}" class="active">New Order</a>
</div>
{% endblock %}

{% block content %}
<!-- BEGIN MIDDLE LAYOUT -->
<div id="layout-middle" class="col-md-9 col-sm-9 pricing-page content-page">

 <h1 class="page-title margin-top">Place a new order</h1>



 <p><strong>Please fill out all the required fields below to proceed with your order.<br>
 Provide maximum details about your future paper. This will help us complete it with maximum accuracy.</strong></p>
 <!-- BEGIN PRICE FORM -->
 <div class="row">
  <div class="col-md-12 col-sm-12">
   <form action="{% url 'new-order' %}" method="post" class="form-horizontal new-order-form-wrapper" novalidate >
     {% csrf_token %}
    <div class="price-form">
     <ul class="nav nav-tabs margin10353530" role="tablist">
      <li class="active"><a href="#paper_details" role="tab" data-toggle="tab">Paper details</a></li>
     </ul>
     {% comment %}
     {% if form.errors %}
        {% for error in form.non_field_errors %}
          <span class="validation-message">{{error|striptags}}</span>
        {% endfor %}
     {% endif %}
     {% endcomment %}
     <div class="form-group {% if form.assigment.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       Assigment Type
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Please, choose the most suitable assignment type of assignment you need.">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <select name="assigment" class="form-control" onchange="onAssigmentChange(); displayPrice(); clearPrice();">
         {% for val in co.ASSIGMENTS %}
           {% if forloop.first %}
             <option value="{{val.0}}" {% if not form.assigment.value %}selected{% endif %} disabled>{{val.1}}</option>
           {% else %}
             <option value="{{val.0}}" {% if form.assigment.value == val.0 %}selected{% endif %}>{{val.1}}</option>
           {% endif %}
         {% endfor %}
       </select>
       {% if form.assigment.errors %}<span class="validation-message">{{form.assigment.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.level.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">Academic Level</label>
      <div class="col-sm-5">
       <select name="level" class="form-control" onchange="displayPrice();">
         {% for val in co.LEVELS %}
           {% if forloop.first %}
             <option value="{{val.0}}" {% if not form.level.value %}selected {% endif %} disabled>{{val.1}}</option>
           {% else %}
             <option value="{{val.0}}" {% if form.level.value|to_int == val.0 %}selected{% endif %}>{{val.1}}</option>
           {% endif %}
         {% endfor %}
	   </select>
       {% if form.level.errors %}<span class="validation-message">{{form.level.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.urgency.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       First Draft Deadline
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Please specify when you need your first draft. Make sure that your final submission deadline exceed your first draft deadline by 30% so our writer can make needed corrections before it, if necessary.">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <select name="urgency" class="form-control" onchange="displayPrice();">
         {% for val in co.URGENCY %}
           {% if forloop.first %}
             <option value="{{val.0}}" {% if not form.urgency.value %}selected {% endif %} disabled>{{val.1}}</option>
           {% else %}
             <option value="{{val.0}}" {% if form.urgency.value|to_int == val.0 %}selected{% endif %}>{{val.1}}</option>
           {% endif %}
         {% endfor %}
	   </select>
       {% if form.urgency.errors %}<span class="validation-message">{{form.urgency.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.spacing.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">Spacing</label>
      <div class="col-sm-5">
       <select name="spacing" class="form-control" onchange="displayPrice();">
         {% for val in co.SPACING %}
           {% if forloop.first %}
             <option value="{{val.0}}" {% if not form.spacing.value %}selected {% endif %} disabled>{{val.1}}</option>
           {% else %}
             <option value="{{val.0}}" {% if form.spacing.value|to_int == val.0 %}selected{% endif %}>{{val.1}}</option>
           {% endif %}
         {% endfor %}
       </select>
       {% if form.spacing.errors %}<span class="validation-message">{{form.spacing.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.discipline.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       Subject or Discipline
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Make sure to select the subject or discipline of your paper.">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <select name="discipline" class="form-control">
         {% for val in co.DISCIPLINES %}
           {% if forloop.first %}
             <option value="{{val.0}}" {% if not form.discipline.value %}selected {% endif %} disabled>{{val.1}}</option>
           {% else %}
             <option value="{{val.0}}" {% if form.discipline.value == val.0 %}selected{% endif %}>{{val.1}}</option>
           {% endif %}
         {% endfor %}
       </select>
       {% if form.discipline.errors %}<span class="validation-message">{{form.discipline.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.paper_title.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       Topic
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="If you have a topic, then make it clear and concise. If you don’t have any, then just write “Writer’s Choice”.">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <input name="paper_title" type="text" class="form-control" value="{{form.paper_title.value|default:''}}" autocomplete="off">
       {% if form.paper_title.errors %}<span class="validation-message">{{form.paper_title.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.instructions.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       Paper Instructions
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Please make sure to leave clear and detailed requirements.">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <textarea name="instructions" class="form-control" rows="2">{{form.instructions.value|default:''}}</textarea>
       {% if form.instructions.errors %}<span class="validation-message">{{form.instructions.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.source_number.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       Number of sources
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Please specify number of sources writer has to use for your paper.">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <input name="source_number" type="number"  min=1 class="form-control" value="{{form.source_number.value|default:1}}" autocomplete="off">
       {% if form.source_number.errors %}<span class="validation-message">{{form.source_number.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.style.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">Paper format or citation style</label>
      <div class="col-sm-5">
       <select name="style" class="form-control">
         {% for val in co.STYLES %}
           {% if forloop.first %}
             <option value="{{val.0}}" {% if not form.style.value %}selected {% endif %} disabled>{{val.1}}</option>
           {% else %}
             <option value="{{val.0}}" {% if form.style.value|to_int == val.0 %}selected{% endif %}>{{val.1}}</option>
           {% endif %}
         {% endfor %}
       </select>
       {% if form.style.errors %}<span class="validation-message">{{form.style.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.page_number.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       Pages
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Title page and bibliography are already included into the order for free. One page is approx. 275 words.">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <input min=1 name="page_number" type="number" class="form-control" value="{{form.page_number.value|default:1}}" onchange="displayPrice();" autocomplete="off">
       {% if form.page_number.errors %}<span class="validation-message">{{form.page_number.errors|striptags}}</span>{% endif %}
      </div>
     </div>

     <!--BEGIN TABS-->
     {% if not user.is_authenticated %}
     <ul class="nav nav-tabs margin3035350" role="tablist">
      <li class="active"><a href="#new_customer" role="tab" data-toggle="tab">New customer</a></li>
      <li><a href="#log_in" role="tab" data-toggle="tab">Log In</a></li>
     </ul>
     <div class="tab-content" style="border-left:2px #e6400c solid; border-top:0px; border-right:2px #e6400c solid; border-bottom:2px #e6400c solid; margin-left: 20px; margin-right: 20px; padding-bottom:20px;">
  
      <!-- Begin new_customer Tab -->
      <div class="tab-pane active" id="new_customer">
       <fieldset>
	   
		<legend>Your personal details</legend>
		
        <div class="form-group {% if request.usr_form.email.errors %}has-error{% endif %}">
         <label class="col-sm-4 control-label">Email <span class="require">*</span></label>
         <div class="col-sm-8">
          <input type="email" name="email" class="form-control" value="{{request.usr_form.email.value}}" autocomplete="off">
          {% if request.usr_form.email.errors %}<span class="validation-message">{{request.usr_form.email.errors|striptags}}</span>{% endif %}
         </div>
        </div>
    
        <div class="form-group {% if request.usr_form.first_name.errors %} has-error {% endif %}" title="{{request.usr_form.first_name.errors|striptags}}">
         <label class="col-sm-4 control-label">First Name <span class="require">*</span></label>
         <div class="col-sm-8">
          <input type="text" name="first_name" class="form-control" value="{{request.usr_form.first_name.value|default:''}}" autocomplete="off">
          {% if request.usr_form.first_name.errors %}<span class="validation-message">{{request.usr_form.first_name.errors|striptags}}</span>{% endif %}
         </div>
        </div>
    
        <div class="form-group {% if request.usr_form.last_name.errors %} has-error {% endif %}" title="{{request.usr_form.first_name.errors|striptags}}">
         <label class="col-sm-4 control-label">Last Name <span class="require">*</span></label>
         <div class="col-sm-8">
          <input type="text" name="last_name" class="form-control" value="{{request.usr_form.last_name.value|default:''}}" autocomplete="off">
          {% if request.usr_form.last_name.errors %}<span class="validation-message">{{request.usr_form.last_name.errors|striptags}}</span>{% endif %}
         </div>
        </div>
		
		<script type='application/javascript'>
		$.getJSON("http://api.hostip.info/get_json.php", function(data){
			CountryName = data.country_name;
			CountryName = CountryName.toLowerCase(); // нижній регістр
			CountryName = CountryName.slice(0, 1).toUpperCase() + CountryName.slice(1); // перва буква тексту з верхного регістру
			
			if("(unknown country?)" != CountryName)
			{
				$('#country').val(CountryName);
			}
		});  
		</script>
    
        <div class="form-group {% if request.usr_form.country.errors %}has-error{% endif %}">
         <label class="col-sm-4 control-label">Your country <span class="require">*</span></label>
         <div class="col-sm-8">
          <input type="text" name="country" class="form-control" id="country" value="" autocomplete="off">
          <input type="hidden" name="timezone" class="form-control" id="country" value="0" autocomplete="off">
          {% if request.usr_form.country.errors %}<span class="validation-message">{{request.usr_form.country.errors|striptags}}</span>{% endif %}
         </div>
        </div>
  
        <div class="form-group {% if request.usr_form.phone.errors %}has-error{% endif %}">
         <label class="col-sm-4 control-label">Your phone <span class="require">*</span></label>
         <div class="col-sm-8">
          {#<label class="control-label" style="float: left;padding-left: 5px;padding-right: 5px;padding-top: 8px;width: 8%;text-align: left;">+1 </label>#}
          <input name="phone" type="tel" class="form-control" value="{{request.usr_form.phone.value|default:''}}">
          {% if request.usr_form.phone.errors %}<span class="validation-message">{{request.usr_form.phone.errors|striptags}}</span>{% endif %}
         </div>
        </div>
		
		<legend>Your password</legend>
  
        <div class="form-group {% if request.usr_form.password.errors %}has-error{% endif %}" >
         <label class="col-sm-4 control-label">Password <span class="require">*</span></label>
         <div class="col-sm-8">
          <input type="password" name="password" class="form-control" autocomplete="off">
         </div>
        </div>
  
        <div class="form-group {% if request.usr_form.password.errors %}has-error{% endif %}">
         <label class="col-sm-4 control-label">Confirm password <span class="require">*</span></label>
         <div class="col-sm-8">
          <input type="password" name="password2" class="form-control" autocomplete="off">
          {% if request.usr_form.password.errors %}<span class="validation-message">{{request.usr_form.password.errors|striptags}}</span>{% endif %}
         </div>
        </div>
  
        <div class="form-group">
         <div class="col-sm-12 text-center">
          <p>Please note that in case your paper requires specific information/materials to be used, your writer will need additional time to retrieve them.</p>
         </div>
        </div>
  
       </fieldset>
      </div><!-- End new_customer Tab -->
   
      <!-- Begin log_in Tab -->
      <div class="tab-pane" id="log_in">
        <fieldset>
  
         <div class="form-group {% if form.errors.auth_error %}has-error{% endif %}">
          <label class="col-sm-4 control-label">Email <span class="require">*</span></label>
          <div class="col-sm-8">
           <input type="email" name="auth_email" class="form-control" autocomplete="off">
          </div>
         </div>

         <div class="form-group {% if form.errors.auth_error %}has-error{% endif %}">
          <label class="col-sm-4 control-label">Password <span class="require">*</span></label>
          <div class="col-sm-8">
           <input type="password" name="auth_password" class="form-control" autocomplete="off">
           {% if form.errors.auth_error %}<span class="validation-message">Incorrect password or email</span>{% endif %}
          </div>
         </div>
         
         <div class="form-group">
          <div class="col-sm-12 text-center">
           <a href="{% url 'forgot' %}" rel="nofollow">Forget Password?</a> 
          </div>
         </div>
         
        </fieldset>
      </div><!-- End log_in Tab -->
   
     </div>
     <!--END TABS-->
     {% endif %}
     </br>
     <div class="form-group">
      <label class="col-sm-5 control-label">
       Payment system
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Please, choose a suitable payment system.">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-6">
       <label class="radio-inline" style="border:1px #ddd solid; margin-right:10px; {% comment %}height:34px;{% endcomment %} padding:6px 12px; float:left;">
        <input type="radio" checked name="materials" autocomplete="off"><span><img {% comment %}style="width: 70px;"{% endcomment %} src="{{ STATIC_URL }}/images/2co.png" alt=""></span>
       </label>
       {% comment %}
       <label class="radio-inline" style="border:1px #ddd solid; height:34px; margin-left:0px;  margin-top:-1px; padding:6px 12px;">
        <input type="radio" name="materials" autocomplete="off" checked><span><img src="https://essayhave.com/img/common/cs/moneybookerssmall.png" alt=""></span>
       </label>
       {% endcomment %}
      </div>
     </div>
     <div class="form-group total">
      <label class="col-sm-5 control-label large-text">Total Price</label>
      <label class="js-total-price col-sm-5 control-label text-left">$0.00</label>
     </div>
     <div class="form-group">
      <div class="col-sm-12" style="text-align:center;">
       <p>By clicking "Proceed to safe payment" button you agree to the <a href="{% url 'terms-conditions' %}" rel="nofollow" target="_blank">Terms and Conditions</a>, <a href="{% url 'money-back-guarantee' %}" rel="nofollow" target="_blank">MoneyBack Policy</a> and <a href="{% url 'privacy-policy' %}" rel="nofollow" target="_blank">Privacy Policy</a></p> 
      </div>
     </div>
     </br>
     <div class="form-group">
      <div class="col-sm-8 col-md-offset-4 new-oreder-button">
       <button type="submit" name="send_auth" class="btn btn-primary">Proceed to safe payment</button>
      </div>
     </div>
     </br></br>
    </div><!--price-form-->
 
   </form>
  </div>
 </div>
 <!-- END PRICE FORM -->
 
</div>
<!-- END MIDDLE LAYOUT -->

<!-- BEGIN LEFT SIDEBAR LAYOUT -->
<div id="layout-left" class="col-md-3 col-sm-12">
 {% include 'html/sidebar-left.html' %}
</div>
<!-- END LEFT SIDEBAR LAYOUT -->

<script type="text/javascript">

{% autoescape off %}
var pricelist = {{co.PRICELIST}};
{% endautoescape %}

(function ($) {
	var assigment = $('select[name=assigment] option:selected').val();
	var levelSelect = $("select[name=level]"),
		urgencySelect = $("select[name=urgency]");
		
	if (assigment == "0")
	{
		levelSelect.prop("disabled", true);
		urgencySelect.prop("disabled", true);
	}else{
		levelSelect.prop("disabled", false);
		urgencySelect.prop("disabled", false);
	}
})(jQuery);


//
var getData = function(assigment)
{
	var foundItems = null;
	$.each(pricelist, function(key, val) {
	  if(val.assigments.indexOf(assigment) !== -1) {
		foundItems = val;
		return;
	  }
	})
	return foundItems;
};

//
var clearPrice = function() {
  $('label.js-total-price').html('$0.00');
};

//
var onAssigmentChange = function(onload) {
	var curItem = $('select[name=assigment] option:selected').text();
	var items = getData(curItem);
	
	if (items)
	{
		var levelSelect = $("select[name=level]"),
			urgencySelect = $("select[name=urgency]");
		var curLevelSelect = $("select[name=level] option:selected").val(),
			curUrgencySelect = $("select[name=urgency] option:selected").val();

		levelSelect.prop("disabled", false);
		urgencySelect.prop("disabled", false);

		levelSelect.empty();
		urgencySelect.empty();

		levelSelect.append($("<option disabled selected />").val('0').text('Please select'));
		urgencySelect.append($("<option disabled selected />").val('0').text('Please select'));

		$.each(items.urgencies, function(key, val) {
			urgencySelect.append($("<option />").val(key).text(val));
		});
		$.each(items.levels, function(key, val) {
			levelSelect.append($("<option />").val(key).text(val));
		});

	        if(onload) {	
		  // Restore prev values.
		  levelSelect.val(curLevelSelect);
	   	  urgencySelect.val(curUrgencySelect);
                }

	} else {
	  clearPrice();
	}
};

//
var displayPrice = function() {
	var assigment = $('select[name=assigment] option:selected').text(),
		level = $('select[name=level] option:selected').val(),
		urgency = $('select[name=urgency] option:selected').val(),
		spacing = $('select[name=spacing] option:selected').val(),
		pages = $('input[name=page_number]').val();

	try {
	  var pagePrice = getData(assigment).prices[urgency][level];
	  if (pagePrice === 0 || pagePrice === undefined) {
		$('label.js-total-price').html('Configuration is not correct.');
	  } else {
		if (pages < 1)
		{
			pages = -pages;
			$('input[name=page_number]').val(pages);
		}
		
		var totalPrice = pagePrice * (spacing == '2' ? 1 : 2) * pages;
		$('label.js-total-price').html('$' + Number(totalPrice ? totalPrice : 0).toFixed(2));
	  }
	} catch (e) {}
}

onAssigmentChange(true);
displayPrice();

</script>
{% endblock %}
