{% extends 'index.html' %}

{% block breadcrump %}
<div class="breadcrumbs">
 <a href="{% url 'home' %}">Home</a>
 <span class="separator"><i class="fa fa-angle-right"></i></span>
 <a href="{% url 'my-orders' %}">My Orders</a>
 <span class="separator"><i class="fa fa-angle-right"></i></span>
 <a href="{% url 'order-id' order.pk %}" class="active">#{{order.pk}}</a>
 {% if perm.can_edit %}
 <span class="separator"><i class="fa fa-angle-right"></i></span>
 <a href="{% url 'order-id-edit' order.pk %}" class="active">edit</a>
 {% endif %}
</div>
{% endblock %}

{% block sidebar_right %}
<!-- BEGIN RIGHT SIDEBAR LAYOUT -->
<div id="layout-right" class="col-md-3 col-sm-12">
 <section class="sibebar-section">
  <ul class="list-group">
   <li class="list-group-item active"><a href="{% url 'my-orders' %}">My Orders</a></li>
   <li class="list-group-item"><a href="{% url 'my-account' request.user.pk %}">My account</a></li>
   <li class="list-group-item"><a href="{% url 'password-change' %}">Password change</a></li>
   <li class="list-group-item"><a href="{% url 'logout' %}">Exit</a></li>
  </ul>
 </section>
</div>
<!-- END RIGHT SIDEBAR LAYOUT -->
{% endblock %}

{% block content %}
<!-- BEGIN MIDDLE LAYOUT -->
<div id="layout-middle" class="col-md-9 col-sm-12 col-xs-12">

 <h1 class="page-title pull-left">Order ID: #{{order.pk}}</h1>
 
 <div style="margin-top: 16px; margin-bottom: 24px;"><a href="#" class="btn btn-default pull-right btn-back"><i class="fa fa-angle-left"></i> Back</a></div>

 <div class="clearfix"></div>

 <!--BEGIN TABS-->
 <ul class="nav nav-tabs" role="tablist">
  <li class="{% if request.GET.details or not request.GET.files and not request.GET.messages%}active{% endif %}"><a href="#details" role="tab" data-toggle="tab">Order details</a></li>
  <li class="{% if request.GET.files %}active{% endif %}"><a href="#files" role="tab" data-toggle="tab">Files</a></li>
  <li class="{% if request.GET.messages %}active{% endif %}"><a href="#messages" role="tab" data-toggle="tab">Messages ({{msgs|length}})</a></li>
 </ul>

 <div class="tab-content">
  <!-- Begin Details Tab -->
  <div class="tab-pane {% if request.GET.details or not request.GET.files and not request.GET.messages%}active{% endif %}" id="details">
   <form action="{% url 'order-id-edit' order.pk %}" class="form-horizontal new-order-form-wrapper" method="post">
     {% csrf_token %}
     <div class="form-group {% if form.level.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">Academic Level</label>
      <div class="col-sm-5">
       <select name="level" class="form-control">
         {% for val in co.LEVELS %}
           <option value="{{val.0}}" {%if form.level.value == val.0%}selected {% endif %}{% if not val.0 %}disabled{% endif %}>{{val.1}}</option>
         {% endfor %}
       </select>
       {% if form.level.errors %}<span class="validation-message">{{form.level.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.spacing.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">Type of Paper Needed</label>
      <div class="col-sm-5">
       <select name="spacing" class="form-control">
         {% for val in co.SPACING %}
           <option value="{{val.0}}" {%if form.spacing.value == val.0%}selected {% endif %}{% if not val.0 %}disabled{% endif %}>{{val.1}}</option>
         {% endfor %}
       </select>
       {% if form.spacing.errors %}<span class="validation-message">{{form.spacing.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.discipline.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       Subject or Discipline
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Subject or Discipline tooltip">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <select name="discipline" class="form-control">
         {% for val in co.DISCIPLINES %}
           <option value="{{val.0}}" {%if form.discipline.value == val.0%}selected{% endif %}{% if not val.0 %}disabled{% endif %}>{{val.1}}</option>
         {% endfor %}
       </select>
       {% if form.discipline.errors %}<span class="validation-message">{{form.discipline.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.assigment.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       Assigment Type
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Assigment Type">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <select name="assigment" class="form-control">
         {% for val in co.ASSIGMENTS %}
           <option value="{{val.0}}" {%if form.assigment.value == val.0%}selected {% endif %}{% if not val.0 %}disabled{% endif %}>{{val.1}}</option>
         {% endfor %}
       </select>
       {% if form.assigment.errors %}<span class="validation-message">{{form.assigment.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.paper_title.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       Topic
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Topic tooltip">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <input name="paper_title" type="text" class="form-control" value="{{form.paper_title.value|default:''}}">
       {% if form.paper_title.errors %}<span class="validation-message">{{form.paper_title.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.instructions.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       Paper Instructions
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Paper Instructions tooltip">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <textarea name="instructions" class="form-control" rows="2">{{form.instructions.value|default:''}}</textarea>
       {% if form.instructions.errors %}<span class="validation-message">{{form.instructions.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.source_number.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       Number of sources
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Number of sources">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <input name="source_number" type="number" class="form-control" value="{{form.source_number.value|default:1}}">
       {% if form.source_number.errors %}<span class="validation-message">{{form.source_number.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.style.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">Paper format or citation style</label>
      <div class="col-sm-5">
       <select name="style" class="form-control">
         {% for val in co.STYLES %}
           <option value="{{val.0}}" {%if form.style.value == val.0%}selected{% endif %}{% if not val.0 %}disabled{% endif %}>{{val.1}}</option>
         {% endfor %}
       </select>
       {% if form.style.errors %}<span class="validation-message">{{form.style.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.page_number.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       Pages
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Pages">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <input name="page_number" type="number" class="form-control" value="{{form.page_number.value|default:1}}">
       {% if form.page_number.errors %}<span class="validation-message">{{form.page_number.errors|striptags}}</span>{% endif %}
      </div>
     </div>
     <div class="form-group {% if form.urgency.errors %}has-error{% endif %}">
      <label class="col-sm-5 control-label">
       First Draft Deadline
       <span class="tooltip-wrapper">
        <a href="#" class="custom-tooltip" data-toggle="tooltip" data-placement="top" title="Pages tooltip">
         <i class="icon-info-popup"></i>
        </a>
       </span>
      </label>
      <div class="col-sm-5">
       <select name="urgency" class="form-control">
         {% for val in co.URGENCY %}
           <option value="{{val.0}}" {%if form.urgency.value == val.0%}selected {% endif %}{% if not val.0 %}disabled{% endif %}>{{val.1}}</option>
         {% endfor %}
       </select>
       {% if form.urgency.errors %}<span class="validation-message">{{form.urgency.errors|striptags}}</span>{% endif %}
      </div>
     </div>
	 
     <div class="row text-center order-actions">
       <a href="{% url 'order-id-delete' order.pk %}" class="btn btn-default" data-toggle="modal" data-target="#modalDelete">Delete</a> 
       <button type="submit" class="btn btn-primary">Save changes</button>
     </div>
	 
   </form>

   <!-- begin Delete modal-->
   <div class="modal fade order-modal" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
     <div class="modal-content">
      <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true"></span><span class="sr-only">Close</span>
       </button>
       <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
       <button type="button" class="btn btn-primary">Delete</button>
     </div>
     </div>
    </div>
   </div>
   <!-- end Delete modal-->

  </div><!-- End Details Tab -->

  {% include "orders/files_tab.html" %}
  {% include "orders/msgs_tab.html" %}

 </div>
 <!--END TABS-->

 <!-- BEGIN MODALS -->
 
 {% comment %}
 Ми цей функціонал ще неалізований
 <!-- begin Extend modal-->
 <div class="modal fade order-modal" id="modalExtend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true"></span><span class="sr-only">Close</span>
     </button>
     <h4 class="modal-title" id="myModalLabel">Extend Deadline</h4>
    </div>

    <div class="modal-body">
     <form class="form-inline">
      <div class="form-group">
       <label>Add</label>
       <input type="text" class="form-control" placeholder="1">
      </div>
      <div class="form-group">
       <label>day(s) and</label>
       <input type="text" class="form-control" placeholder="0">
       <label>hours</label>
      </div>
      <div class="submit-group">
       <button class="btn btn-primary">Extend</button>
      </div>
     </form>
    </div>
   </div>
  </div>
 </div>
 <!-- end Extend modal-->
 {% endcomment %}
 
 <!-- begin Delete modal-->
 <div class="modal fade order-modal" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true"></span><span class="sr-only">Close</span>
     </button>
     <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
    </div>
    <div class="modal-footer">
     <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
     <button type="button" class="btn btn-primary">Delete</button>
   </div>
   </div>
  </div>
 </div>

 <!-- begin Upload File modal-->
 <div class="modal fade order-modal" id="modalUploadFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true"></span><span class="sr-only">Close</span>
     </button>
     <h4 class="modal-title" id="myModalLabel">Upload file</h4>
    </div>
    <div class="modal-body">
     <form class="form-horizontal">
      <div class="form-group">
       <label class="col-sm-4 control-label">File input</label>
       <div class="col-sm-8">
        <input type="file" class="form-control">
       </div>
      </div>
      <div class="form-group">
       <label class="col-sm-4 control-label">Comment</label>
       <div class="col-sm-8">
        <textarea class="form-control" rows="3"></textarea>
       </div>
      </div>
      <div class="submit-group">
       <button type="button" data-toggle="modal" data-target="#modalUploadSuccess" class="btn btn-primary">Upload</button>
      </div>
     </form>
    </div>

   </div>
  </div>
 </div>
 <!-- end Delete modal-->
 
 <!-- begin Upload Success modal-->
 <div class="modal fade order-modal" id="modalUploadSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
   <div class="modal-content">
    <div class="modal-body">File uploaded successfull</div>
   </div>
  </div>
 </div>
 <!-- end Upload Success modal-->
 <!-- END MODALS -->
</div>
<!-- END MIDDLE LAYOUT -->
{% endblock %}