{% extends 'index.html' %}
{% load render_status %}

{% block breadcrump %}
<div class="breadcrumbs">
 <a href="{% url 'home' %}">Home</a>
 <span class="separator"><i class="fa fa-angle-right"></i></span>
 <a href="{% url 'my-orders' %}">My Orders</a>
 <span class="separator"><i class="fa fa-angle-right"></i></span>
 <a href="{% url 'order-id' order.pk %}" class="active">#{{order.pk}}</a>
</div>
{% endblock %}

{% block sidebar_right %}
	{% include 'html/sidebar-account.html' %}
{% endblock %}

{% block content %}
<!-- BEGIN MIDDLE LAYOUT -->
<div id="layout-middle" class="col-md-9 col-sm-12 col-xs-12">

 <h1 class="page-title pull-left">Order ID: {{order.pk}}</h1>
 
 <div style="margin-top: 16px; margin-bottom: 24px;"><a href="javascript:history.back(-1);" class="btn btn-default pull-right btn-back"><i class="fa fa-angle-left"></i> Back</a></div>

 <div class="clearfix"></div>

 <!--BEGIN TABS-->
 <ul class="nav nav-tabs" role="tablist">
  <li class="{% if request.GET.details or not request.GET.files and not request.GET.messages%}active{% endif %}"><a href="#details" role="tab" data-toggle="tab">Order details</a></li>
  <li class="{% if request.GET.files %}active{% endif %}"><a href="#files" role="tab" data-toggle="tab">Files ({{uploads|length}})</a></li>
  <li class="{% if request.GET.messages %}active{% endif %}"><a href="#messages" role="tab" data-toggle="tab">Messages ({{msgs|length}})</a></li>
 </ul>
 
 <div class="tab-content">

  <!-- Begin Details Tab -->
  <div class="tab-pane {% if request.GET.details or not request.GET.files and not request.GET.messages %}active{% endif %}" id="details">
   <div class="table-responsive">
    <table class="table table-striped">
     <tbody>
      <tr>
       <th width="155px">Order</th>
       <td>{{order.pk}}</td>
      </tr>
      <tr>
       <th width="155px">Status</th>
       <td>{{order.get_status}}</td>
      </tr>

      <tr>
       <th>Topic</th>
       <td>{{order.paper_title}}</td>
      </tr>

      <tr>
       <th>Type of assignment</th>
       <td>{{order.get_assigment}}</td>
      </tr>

      <tr>
       <th>First Draft Deadline</th>
       <td>{{order.get_urgency}}</td>
      </tr>

      {% comment %}
      <tr>
       <th>Writer level</th>
       <td>Master's</td>
      </tr>
      {% endcomment %}

      <tr>
       <th>Style</th>
       <td>{{order.get_style}}</td>
      </tr>

      {% comment %}
      <tr>
       <th>Sources</th>
       <td>5</td>
      </tr>
      <tr>
       <th>Language</th>
       <td>English</td>
      </tr>
      {% endcomment %}
      
      <tr>
       <th>Description</th>
       <td>{{order.instructions}}</td>
      </tr>

      <tr>
       <th>Added</th>
       <td>{{order.created}}</td>
      </tr>

      <tr>
       <th>Delivery</th>
       <td class="momdl">{{order.admin_deadline}}
        {% comment %}
        <a href="#" class="btn-extend" data-toggle="modal" data-target="#modalExtend">
         <span class="fa-stack">
          <i class="fa fa-circle-thin fa-stack-2x"></i>
          <i class="fa fa-plus fa-stack-1x"></i>
         </span>
         Extend
        </a>
        {% endcomment %}
       </td>
      </tr>

      <tr>
       <th>Spacing</th>
       <td>{{order.get_spacing}}</td>
      </tr>

      <tr>
       <th>Page price</th>
       <td>{{order.get_page_price}}$</td>
      </tr>

      <tr>
       <th>Pages</th>
       <td>{{order.page_number}}</td>
      </tr>

      {% comment %}
      <tr>
       <th>Additional services</th>
       <td>5</td>
      </tr>
      <tr>
       <th>Discount</th>
       <td>0%</td>
      </tr>
      {% endcomment %}

      <tr>
       <th>Price</th>
       <td>{{order.get_price}}$</td>
      </tr>

      {% comment %}
      <tr>
       <th>Payment details</th>
       <td>&nbsp;</td>
      </tr>
      {% endcomment %}
      <tr>
       <th>Writer ID</th>
       <td>{{order.assignee.pk}}</td>
      </tr>
     </tbody>
    </table>
   </div>

   <div class="row text-center order-actions">
    {% if perm.can_delete %}
      <a href="#" class="btn btn-default" data-toggle="modal" data-target="#modalDelete">Delete</a>
    {% endif %}
    {% if perm.can_edit %}
      <a href="{% url 'order-id-edit' order.pk %}" class="btn btn-default">Edit</a>
    {% endif %}
    {% if not payments|is_bought:order.pk %}
     <form action="{% url 'order-id-buy' order.pk %}" method="POST" class="btn">
        {% csrf_token %}
        <input type="hidden" name="status" value="{{co.DRAFT}}">
        <button class="btn btn-primary" >Buy ({{order.get_price}}$)</button>
     </form>
    {% endif %}
   </div>
   
  </div><!-- End Details Tab -->

  {% include "orders/files_tab.html" %}
  {% include "orders/msgs_tab.html" %}

 </div>
 <!--END TABS-->

<!-- begin Delete modal-->
 <div class="modal fade order-modal" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true"></span><span class="sr-only">Close</span>
     </button>
     <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
    </div>
     <form action="{% url 'order-id-delete' order.pk %}" method="post">
       {% csrf_token %}
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
         <button type="submit" data-toggle="modal" class="btn btn-primary">Delete</button>
       </div>
     </form>
   </div>
  </div>
 </div>

 <!-- begin Upload File modal-->
 <div class="modal fade order-modal" id="modalUploadFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
   <div class="modal-content">
    <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true"></span><span class="sr-only">Close</span>
     </button>
     <h4 class="modal-title" id="myModalLabel">Upload file</h4>
    </div>
    <div class="modal-body">
     <form action="{% url 'order-upload' order.pk %}" class="form-horizontal" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
       <label class="col-sm-3 control-label">File input</label>
       <div class="col-sm-8">
        <input type="file" name="attach" class="form-control" required>
        <input type="hidden" name="access_level" value="0">
       </div>
      </div>
      <div class="submit-group">
       <button type="submit" class="btn btn-primary">Upload</button>
      </div>
     </form>
    </div>

   </div>
  </div>
 </div>
 <!-- end Upload File modal-->
</div>
<!-- END MIDDLE LAYOUT -->
{% endblock %}
