{% extends "index.html" %}

{% block head_meta %}<meta name="robots" content="nofollow" />{% endblock %}

{% block meta_title %}Restore Password{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block breadcrump %}
<div class="breadcrumbs">
  <a href="{% url 'home' %}">Home</a>
  <span class="separator"><i class="fa fa-angle-right"></i></span>
  <a href="{% url 'password-change' %}" class="active">Restore Password</a>
</div>
{% endblock %}

{% block sidebar_right %}
<div id="layout-right" class="col-md-3 col-sm-12">
  <section class="sibebar-section">
	<ul class="list-group">
	  <li class="list-group-item"><a href="{% url 'login' %}">Log In</a></li>
	  <li class="list-group-item"><a href="{% url 'registration' %}">Registration</a></li>
	  <li class="list-group-item active"><a href="{% url 'forgot' %}">Restore Password</a></li>
	</ul>
  </section>
</div>
{% endblock %}

{% block content %}
  <!-- BEGIN MIDDLE LAYOUT -->
  <div id="layout-middle" class="col-md-9 col-sm-9">
      <h1 class="page-title">Enter new password</h1>
      <div class="col-md-8 col-sm-8">
          {% if validlink %}
            <p>Please enter your new password twice so we can verify you typed it incorrectly.</p>
            <form action="" method="post">{% csrf_token %}
              {{ form.new_password1.errors }}
              <p class="aligned wide"><label for="id_new_password1">New password:</label><input id="id_new_password1" class="form-control" type="password" name="new_password1"/></p>
              {{ form.new_password2.errors }}
              <p class="aligned wide"><label for="id_new_password2">Confirm password:</label><input id="id_new_password2" class="form-control" type="password" name="new_password2"/></p>
              <p><button class="btn btn-primary" type="submit">Change my password</button></p>
            </form>
          {% else %}
            <h1>Password reset unsuccessful.</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
          {% endif %}
      </div>
  </div>
  <!-- END MIDDLE LAYOUT -->
{% endblock %}
