{% extends "index.html" %}

{% block head_meta %}<meta name="robots" content="nofollow" />{% endblock %}

{% block meta_title %}Restore Password{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block breadcrump %}
<div class="breadcrumbs">
  <a href="{% url 'home' %}">Home</a>
  <span class="separator"><i class="fa fa-angle-right"></i></span>
  <a href="{% url 'password-change' %}" class="active">Update Password</a>
</div>
{% endblock %}

{% block sidebar_right %}
<div id="layout-right" class="col-md-3 col-sm-12">
	<section class="sibebar-section">
		<ul class="list-group">
			<li class="list-group-item"><a href="{% url 'my-orders' %}">My Orders</a></li>
			<li class="list-group-item"><a href="{% url 'my-account' request.user.pk %}">My account</a></li>
			<li class="list-group-item active"><a href="{% url 'password-change' %}">Password change</a></li>
			<li class="list-group-item"><a href="{% url 'logout' %}">Exit</a></li>
		</ul>
	</section>
</div>
{% endblock %}

{% block content %}
  <!-- BEGIN MIDDLE LAYOUT -->
  <div id="layout-middle" class="col-md-9 col-sm-9">
      <h1 class="page-title">Password update complete</h1>
      <div class="col-md-8 col-sm-8">
        <p>Your password has been updated.</p>
      </div>
  </div>
  <!-- END MIDDLE LAYOUT -->
{% endblock %}
