{% extends "index.html" %}

{% block head_meta %}<meta name="robots" content="nofollow" />{% endblock %}

{% block meta_title %}Restore Password{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% load attr %}
{% block breadcrump %}
<div class="breadcrumbs">
  <a href="{% url 'home' %}">Home</a>
  <span class="separator"><i class="fa fa-angle-right"></i></span>
  <a href="{% url 'password-change' %}" class="active">Restore Password</a>
</div>
{% endblock %}

{% block sidebar_right %}
<div id="layout-right" class="col-md-3 col-sm-12">
  <section class="sibebar-section">
	<ul class="list-group">
	  <li class="list-group-item"><a href="{% url 'login' %}">Log In</a></li>
	  <li class="list-group-item"><a href="{% url 'registration' %}">Registration</a></li>
	  <li class="list-group-item active"><a href="{% url 'forgot' %}">Restore Password</a></li>
	</ul>
  </section>
</div>
{% endblock %}

{% block content %}
  <!-- BEGIN MIDDLE LAYOUT -->
  <div id="layout-middle" class="col-md-9 col-sm-9">
      <h1 class="page-title">Forgot Your Password?</h1>
      <div class="col-md-8 col-sm-8">
          <form action="{% url "forgot" %}" method="post" id="forgot-form" class="form-horizontal form-without-legend">
              {% csrf_token %}
              <div class="form-group">
                  <label class="col-sm-4 control-label">Email</label>
                  <div class="col-sm-8">
                      <input type="email" name="email" class="form-control" required>
                  </div>
              </div>
              <div class="form-group">
                  <label class="col-sm-4 control-label">&nbsp;</label>
                  <div class="col-sm-8">
                      <button type="submit" class="btn btn-primary">
                          Send
                      </button>
                  </div>
              </div>
          </form>
      </div>
  </div>
  <!-- END MIDDLE LAYOUT -->
{% endblock %}
