{% extends "index.html" %}

{% block breadcrump %}
<div class="breadcrumbs">
  <a href="{% url 'home' %}">Home</a>
  <span class="separator"><i class="fa fa-angle-right"></i></span>
  <a href="{% url 'password-change' %}" class="active">Restore Password</a>
</div>
{% endblock %}

{% block sidebar_right %}
<div id="layout-right" class="col-md-3 col-sm-12">
  <section class="sibebar-section">
    <ul class="list-group">
      <li class="list-group-item"><a href="{% url 'my-orders' %}">My orders</a></li>
      <li class="list-group-item"><a href="{% url 'password-change' %}">Restore Password</a></li>
    </ul>
  </section>
</div>
{% endblock %}

{% block content %}
  <!-- BEGIN MIDDLE LAYOUT -->
  <div id="layout-middle" class="col-md-9 col-sm-9">
      <h1 class="page-title">Password reset complete</h1>
      <div class="col-md-8 col-sm-8">
        <p>Your password has been set. You may go ahead and log in now.</p>
        <p><a href="{% url "login" %}"><bold>Log in</bold></a></p>
      </div>
  </div>
  <!-- END MIDDLE LAYOUT -->
{% endblock %}
