{% load i18n render_status %}
<thead>
    <tr>
        <!--
        id
        order name
        ass type
        status
        marks *****
        site (url)
        owner
        admin
        writer
        editor
        Local time
        Created
        Urgency
        Full Deadline
        Writer's deadline
        Updated
        Order type priv/public
        in review 1/0
        Discount (%)
        Payment status
        Price
        Priority hi/md/lo
        -->
        <th class="sorter-digit" valign="middle">{% trans 'ID' %}</th>
        <th class="sorter-text" style="white-space: nowrap">{% trans 'Order name' %}</th>
        {% if action_label == 'all' %}
          <th class="sorter-text">{% trans 'Status' %}</th>
        {% endif %}
        <th class="sorter-text">{% trans 'Assignment' %}</th>
        <th class="sorter-text">{% trans 'Mark' %}</th>
        <th class="sorter-text">{% trans 'Site' %}</th>
        <th class="sorter-text">{% trans 'Owner' %}</th>
        <th class="sorter-text">{% trans 'Manager' %}</th>
        <th class="sorter-text">{% trans 'Writer' %}</th>
        <th class="sorter-text">{% trans 'Editor' %}</th>
        <th class="sorter-text">{% trans 'Created' %}</th>
        <!-- <th class="sorter-text">{% trans 'Updated' %}</th> -->
        <th class="sorter-text">{% trans 'Urgency' %}</th>
        <!--th class="sorter-text">{% trans 'Loc. time' %}</th-->
        <th class="sorter-text">{% trans 'Full DL' %}</th>
        <th class="sorter-text">{% trans 'Writer DL' %}</th>
        <th class="sorter-text">{% trans 'Access' %}</th>
        <th class="sorter-text">{% trans 'Revision' %}</th>
        <!-- <th class="sorter-text">{% trans 'Discount (%)' %}</th> -->
        <th class="sorter-text">{% trans 'Payment status' %}</th>
        <th class="sorter-text">{% trans 'Price / Discount' %}</th>
        <th class="sorter-text">{% trans 'Priority' %}</th>
    </tr>
</thead>
<tbody>
    {% for task in tasks %}
    <tr>
        <td>{{task.id}}</td>
        <td><a href="{% url 'task_view' task.id %}">{{task.paper_title}}</a></td>
        {% if action_label == 'all' %}
          <td data-status="{{task.status}}" style="font-size:1.4em;line-height:100%">{{task.status|render_status}}</td>
        {% endif %}
        <td>{{task.get_assigment}}</td>
        <td>{{task.mark}}</td>
        <td>{{task.site}}</td>
        <td>{% if task.owner %}<a href="{% url 'user_edit' task.owner.id %}">{{task.owner}}</a>{% endif  %}</td>
        <td>{% if task.manager %}<a href="{% url 'user_edit' task.manager.id %}">{{task.manager}}</a>{% endif  %}</td>
        <td>{% if task.assignee %}<a href="{% url 'user_edit' task.assignee.id %}">{{task.assignee}}</a>{% endif  %}</td>
        <td>{% if task.editor %}<a href="{% url 'user_edit' task.editor.id %}">{{task.editor}}</a>{% endif  %}</td>
        <td>{{task.created}}</td>
        <td>{{task.get_urgency}}</td>
        <!--td>loc.time not implemented</td-->
        <td class="momdl">{{task.admin_deadline}}</td>
        <td class="momdl">{{task.writer_deadline}}</td>
        <td>{{task.get_access_level}}</td>
        <td>{{task.revision}}</td>
        <td>{{task.get_payment_status}}</td>
        <td>{{task.price}}/{{task.discount}} %</td>
        <td>{{task.priority}}</td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr></tr>
</tfoot>
