{% extends "layout.html" %}
{% load i18n render_status %}
{% block pagetitle %}
  {% if object and object.status == co.DRAFT %}
    {% trans "Order Draft Details" %}
  {% else %}
    {% trans "Order Details" %}
  {% endif %}
{% endblock %}

{% block info_block %}
<section class="info">
    <h2><i class="fa fa-list-alt irm"></i>
    {% if object and object.status == co.DRAFT %}
      {% trans "Order Draft Details" %}
    {% else %}
      {% trans "Order Details" %}
    {% endif %}
    {% if perm.can_edit %} <a href="{% url "task_edit" object.id %}" title="{% trans "Edit task" %}"><i class="fa fa-pencil-square-o" style="margin-left:.5em"></i></a></h2>
    {% endif  %}
</section>
{% endblock %}
{% block content %}
<section class="container-fluid task-details" style="margin: 0 auto">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="pull-right attr-ctrl" href="javascript:void(0)"><i class="fa fa-toggle-up"></i></a>
                    Attributes
                </div>
                <div class="panel-body attr-body" style="line-height: 160%">
                    <i class="fa fa-info-circle fa-fw irm"></i><strong>{% trans "ID" %}</strong>: <em>{{object.id}}</em>
                    <br>
                    {% if site == 'admin' %}
                    <i class="fa fa-globe fa-fw irm"></i><strong>{% trans "Site" %}</strong>: <em>{{object.site}}</em>
                    <br>
                    <i class="fa fa-user fa-fw irm"></i><strong>{% trans "Owner" %}</strong>: <em><a href="{% url 'user_edit' object.owner.id %}">{{object.owner}}</a></em>
                    <br>
                    <i class="fa fa-user fa-fw irm"></i><strong>{% trans "Manager" %}</strong>: <em> {% if object.manager %} <a href="{% url 'user_edit' object.manager.id %}">{{object.manager}}</a> {% endif %} </em>
                    <br>
                    <i class="fa fa-user fa-fw irm"></i><strong>{% trans "Writer" %}</strong>: <em> {% if object.assignee %} <a href="{% url 'user_edit' object.assignee.id %}">{{object.assignee}}</a> {% endif %} </em>
                    <br>
                    <i class="fa fa-user fa-fw irm"></i><strong>{% trans "Editor" %}</strong>: <em>{{object.writer}}</em>
                    <br>
                    <i class="fa fa-clock-o fa-fw irm"></i><strong>{% trans "Local time" %}</strong>: <em>{{object.local_time}}</em>
                    <br>
                    <i class="fa fa-star-half-o fa-fw irm"></i><strong>{% trans "Mark" %}</strong>: <em>{{object.mark}}</em>
                    <br>
                    <i class="fa fa-eye fa-fw irm"></i><strong>{% trans "Access" %}</strong>: <em>{{object.get_access_level}}</em>
                    <br>
                    <i class="fa fa-lock fa-fw irm"></i><strong>{% trans "Revision" %}</strong>: <em>{{object.revision}}</em>
                    <br>
                    <i class="fa fa-barcode fa-fw irm"></i><strong>{% trans "Discount" %}</strong>: <em>{{object.discount}}</em>
                    <br>
                    <i class="fa fa-credit-card fa-fw irm"></i><strong>{% trans "Payment" %}</strong>: <em>{{object.get_payment_status}}</em>
                    <br>
                    <i class="fa fa-money fa-fw irm"></i><strong>{% trans "Price" %}</strong>: <em>{{object.get_price}}$</em>
                    <br>
                    <i class="fa fa-exclamation-circle fa-fw irm"></i><strong>{% trans "Priority" %}</strong>: <em>{{object.priority}}</em>
                    {% elif site == 'editor' %}
                    <i class="fa fa-user fa-fw irm"></i><strong>{% trans "Writer" %}</strong>: <em> {% if object.assignee %} <a href="{% url 'user_edit' object.assignee.id %}">{{object.assignee}}</a> {% endif %} </em>
                    <br>
                    <i class="fa fa-user fa-fw irm"></i><strong>{% trans "Editor" %}</strong>: <em> {% if object.editor %} <a href="{% url 'user_edit' object.editor.id %}">{{object.editor}}</a> {% endif %} </em>
                    <br>
                    <i class="fa fa-clock-o fa-fw irm"></i><strong>{% trans "Local time" %}</strong>: <em>{{object.local_time}}</em>
                    <br>
                    <i class="fa fa-star-half-o fa-fw irm"></i><strong>{% trans "Mark" %}</strong>: <em>{{object.mark}}</em>
                    <br>
                    <i class="fa fa-lock fa-fw irm"></i><strong>{% trans "Revision" %}</strong>: <em>{{object.revision}}</em>
                    <br>
                    <i class="fa fa-exclamation-circle fa-fw irm"></i><strong>{% trans "Priority" %}</strong>: <em>{{object.priority}}</em>
                    <br>
                    {% elif site == 'customer' %}
                    <i class="fa fa-user fa-fw irm"></i><strong>{% trans "Writer" %}</strong>: <em>{{object.assignee}}</em>
                    <br>
                    <i class="fa fa-lock fa-fw irm"></i><strong>{% trans "Revision" %}</strong>: <em>{{object.revision}}</em>
                    <br>
                    <i class="fa fa-credit-card fa-fw irm"></i><strong>{% trans "Payment" %}</strong>: <em>{{object.get_payment_status}}</em>
                    <br>
                    <i class="fa fa-money fa-fw irm"></i><strong>{% trans "Price" %}</strong>: <em>{{object.get_price}}$</em>
                    <br>
                    {% elif site == 'writer' %}
                    <i class="fa fa-star-half-o fa-fw irm"></i><strong>{% trans "Mark" %}</strong>: <em>{{object.mark}}</em>
                    <br>
                    <i class="fa fa-lock fa-fw irm"></i><strong>{% trans "Revision" %}</strong>: <em>{{object.revision}}</em>
                    <br>
                    <i class="fa fa-exclamation-circle fa-fw irm"></i><strong>{% trans "Priority" %}</strong>: <em>{{object.priority}}</em>
                    <br>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="row small highlight">
                        <div class="col-md-2 col-md-offset-1">
                            <span style="font-size:1.6em">
                              {% if site == "customer" and object.status == co.SENT  %}
                                {{co.PROCESSING|render_status}}
                              {% else %}
                                {{object.status|render_status}}
                              {% endif %}
                              </span><strong class="ilm">{% trans "Status" %}</strong>
                            <div style="margin-left:2.5em">
                              {% if site == "customer" and object.status == co.SENT  %}
                                PROCESSING
                              {% else %}
                                {{object.get_status}}
                              {% endif %}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-calendar irm" style="font-size:1.5em;"></i><strong>{% trans "Created" %}</strong>
                            <div style="margin-left:2.5em">
                                {{object.created}}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-clock-o irm" style="font-size:1.6em;"></i><strong>{% trans "Updated" %}</strong>
                            <div style="margin-left:2.5em">
                                {{object.updated}}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-clock-o irm" style="font-size:1.6em;"></i><strong>{% trans "Writer Deadline" %}</strong>
                            <div style="margin-left:2.5em" class="momdl">
                                {{object.writer_deadline}}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-clock-o irm" style="font-size:1.6em;color:#800"></i><strong>{% trans "Full Deadline" %}</strong>
                            <div style="margin-left:2.5em" class="momdl">
                                {{object.admin_deadline}}
                            </div>
                        </div>
                    </div>
                    <form action="javascript:void(0)" method="post"  id="lock_form">
                        <div id="lock_buttons">
                            {% csrf_token %}
                            {% if perm.can_lock %}
                            <button type="button" data-url="{% url 'task_lock' object.pk %}" class="btn btn-primary pull-right" role="button">
                                {% trans "Lock" %}<i class='fa fa-lock' style="margin-left:.5em"></i>
                            </button>
                            {% endif %}
                            {% if perm.can_unlock %}
                            <button type="button" data-url="{% url 'task_unlock' object.pk %}" class="btn btn-primary pull-right" role="button">
                                {% trans "Unlock" %}<i class='fa fa-check-circle' style="margin-left:.5em"></i>
                            </button>
                            {% endif %}
                            <i class="fa fa-tag fa-fw irm"></i><strong>{% trans "Paper Title" %}</strong>
                            <h2 style="padding-left:1em;font-family: Georgia, 'Times New Roman', serif;text-align:justify">{{object.paper_title}}</h2>
                            <hr>
                        </div>
                    </form>
                    <i class="fa fa-file-text fa-fw irm"></i><strong>{% trans "Instructions" %}</strong>
                    <br>
                    <p style="white-space:pre-line;color:#555;padding-left:2em;padding-top:1em;text-align:justify;font-style:italic;line-height: 160%">
                        {{object.instructions}}
                    </p>
                </div>
            </div>
            <hr>
            <div class="row" style="line-height: 160%">
                <div class="col-md-4">
                    <i class="fa fa-list-alt fa-fw irm"></i><strong>{% trans "Assigment" %}</strong>: <em>{{object.get_assigment}}</em>
                    <br>
                    <i class="fa fa-clock-o fa-fw irm"></i><strong>{% trans "Urgency" %}</strong>: <em>{{object.get_urgency}}</em>
                    <br>
                    <i class="fa fa-files-o fa-fw irm"></i><strong>{% trans "Page Number" %}</strong>: <em>{{object.page_number}}</em>
                    <br>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-arrows-v fa-fw irm"></i><strong>{% trans "Spacing" %}</strong>: <em>{{object.get_spacing}}</em>
                    <br>
                    <i class="fa fa-book fa-fw irm"></i><strong>{% trans "Discipline" %}</strong>: <em>{{object.get_discipline}}</em>
                    <br>
                    <i class="fa fa-certificate fa-fw irm"></i><strong>{% trans "Level" %}</strong>: <em>{{object.get_level}}</em>
                    <br>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-building-o fa-fw irm"></i><strong>{% trans "Style" %}</strong>: <em>{{object.get_style}}</em>
                    <br>
                    <i class="fa fa-bars fa-fw irm"></i><strong>{% trans "Sources Number" %}</strong>: <em>{{object.source_number}}</em>
                </div>
            </div>
            <hr>
            <!-- buttons -->
            {% if site == "admin" %}
            <form action="{% url 'task_force_status' object.pk %}" method="post" id="admin_actions" class="pull-right">
                {% csrf_token %}
                <div class="btn-group dropup">
                    <button id="admin_actions_button" type="button" style="min-width:190px" class="btn btn-default btn-lg" data-status="">
                        Select status
                    </button>
                    <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="admin_actions_list" style="min-width:190px">
                        <li>
                            <a href="javascript:void(0)" data-status="{{co.UNPROCESSED}}">{{co.UNPROCESSED|render_status}}<span class="ilm">{% trans "Unprocessed" %}</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-status="{{co.PROCESSING}}">{{co.PROCESSING|render_status}}<span class="ilm">{% trans "Processing" %}</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-status="{{co.COMPLETED}}">{{co.COMPLETED|render_status}}<span class="ilm">{% trans "Completed" %}</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-status="{{co.REJECTED}}">{{co.REJECTED|render_status}}<span class="ilm">{% trans "Rejected" %}</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-status="{{co.SUSPICIOUS}}">{{co.SUSPICIOUS|render_status}}<span class="ilm">{% trans "Suspicious" %}</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-status="{{co.SENT}}">{{co.SENT|render_status}}<span class="ilm">{% trans "Sent" %}</span></a>
                        </li>
                    </ul>
                </div>
            </form>
            {% endif %}
            <form action="javascript:void(0)" method="post"  id="admin_flat_form">
                {% csrf_token %}
                <div class="btn-group" id="admin_flat_buttons">
                    {% if perm.can_delete %}
                    <button type="submit" data-status="1000" data-url="{% url 'task_remove'  object.pk %}" class="btn btn-primary btn-lg" role="button">
                        {% trans "Delete" %}<i class='fa fa-check-circle' style="margin-left:.5em"></i>
                    </button>
                    {% endif %}
                    {% if perm.can_submit %}
                    <button type="submit" data-status="{{co.UNPROCESSED}}" data-url="{% url 'task_status' object.pk %}" class="btn btn-primary btn-lg" role="button">
                        {% trans "Buy" %}  {{object.get_price}}$<i class='fa fa-check-circle' style="margin-left:.5em"></i>
                    </button>
                    {% endif %}
                    {% if perm.can_complete %}
                    <button type="button" data-status="{{co.COMPLETED}}" data-url="{% url 'task_status' object.pk %}" class="btn btn-primary btn-lg" role="button">
                        {% trans "Complete Task" %}<i class='fa fa-check-circle' style="margin-left:.5em"></i>
                    </button>
                    {% endif %}
                    {% if perm.can_send and object|locked_by_user:request.user %}
                    <button type="button" data-status="{{co.SENT}}" data-url="{% url 'task_status' object.pk %}" class="btn btn-primary btn-lg" role="button">
                        {% trans "Send" %}<i class='fa fa-share-square-o' style="margin-left:.5em"></i>
                    </button>
                    {% endif %}
                    {% if perm.can_reject %}
                    <button type="button" data-status="{{co.REJECTED}}" data-url="{% url 'task_status' object.pk %}" class="btn btn-danger btn-lg" role="button">
                        {% trans "Reject" %} <i class="fa fa-thumbs-o-down" style="margin-left:.5em"></i>
                    </button>
                    {% endif %}
                    {% if perm.can_suspect %}
                    <button type="button" data-status="{{co.SUSPICIOUS}}" data-url="{% url 'task_status' object.pk %}" class="btn btn-default btn-lg" role="button">
                        {% trans "Suspect" %} <i class="fa fa-warning" style="margin-left:.5em"></i>
                    </button>
                    {% endif %}
                    {% if perm.can_approve %}
                    <button type="button" data-status="{{co.PROCESSING}}"  data-url="{% url 'task_status' object.pk %}" class="btn btn-primary btn-lg">
                        {% trans "Approve" %} <i class="fa fa-thumbs-o-up" style="margin-left:.5em"></i>
                    </button>
                    {% endif %}
                </div>
            </form>
            <!-- .buttons -->
        </div>
    </div>
</section>
<!-- messages modal dialog -->
<div class="modal fade" id="write-a-message">
    <form action="{% url "msg_add" object.pk %}" method="post">
        {% csrf_token %}
        <div class="modal-dialog modal-dialog-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fa fa-times-circle"></i>
                    </button>
                    <h4 class="modal-title">Send a message&hellip;</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                            <input class="form-control" type="text" title="Title" name="title" required placeholder="Enter a title">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="8" required placeholder="Enter a message text" name="body"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <button class="btn btn-primary" disabled>
                                Send to
                            </button>
                            {% if site == 'customer' %}
                            <label class="btn btn-default">
                                <input type="radio" value="{{co.MSGS_ADM}}" name="visibility" class="vtoggler" checked="checked">
                                Admin &amp; Editor </label>
                            <label class="btn btn-default">
                                <input type="radio" value="{{co.MSGS_WRITER}}" name="visibility">
                                Writer </label>
                            {% elif site == 'writer' %}
                            <label class="btn btn-default">
                                <input type="radio" value="{{co.MSGS_ADM}}" name="visibility" class="vtoggler" checked="checked">
                                Admin &amp; Editor </label>
                            <label class="btn btn-default">
                                <input type="radio" value="{{co.MSGS_CUSTOMER}}" name="visibility">
                                Customer </label>
                            {% else %}
                            <label class="btn btn-default">
                                <input type="radio" value="{{co.MSGS_WRITER}}" name="visibility" class="vtoggler" checked="checked">
                                Writer </label>
                            <label class="btn btn-default">
                                <input type="radio" value="{{co.MSGS_CUSTOMER}}" name="visibility">
                                Customer </label>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: -1em">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Send <i class="fa fa-share ilm"></i>
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </form>
</div><!-- /.modal -->
{% if site == 'admin' %}
<div id="eventsRight" class="{title:' history '}">
    <table class="table table-hover table-condensed small" style="background-color:#fff;">
        <caption class="my">
            <i class="fa fa-history fa-lg irm"></i>History
        </caption>
        <thead>
            <tr>
                <th>Owner</th>
                <th>Type</th>
                <th>Action</th>
                <th>Created</th>
                <th>Values old/new</th>
            </tr>
        </thead>
        <tbody>
            {% for h in history %}
            <tr>
                <td><a href="{% url "user_edit" h.howner_id %}">{{h.howner.username}}</a></td>
                <td>{% if h.object_type == "Message" %}<a href="{% url "msg_detail" h.object_id %}">{{h.object_type}}</a>{% else %}{{h.object_type}} [id:{{h.object_id}}]{% endif %}</td>
                <td>{{h.action_type}}</td>
                <td>{{h.created}}</td>
                <td> {% if not h.old_values and not h.new_values %}
                &nbsp;
                {% else %}
                <div>
                    <span style="font-variant:small-caps">old</span>: {{h.old_values}}
                </div>
                <div>
                    <span style="font-variant:small-caps">new</span>: {{h.new_values}}
                </div> {% endif %} </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="my">
            <tr></tr>
        </tfoot>
    </table>
</div>
{% endif %}
<div id="messagesRight" class="{title:'messages &middot; {{msgs|length}} '}">
    {% if perm.can_message %}
    <div class="well well-sm">
        <a class="pull-right messages-add" href="javascript:void(0)"><i class="fa fa-plus-circle"></i></a>
        <i class="fa fa-envelope-o fa-lg irm"></i><strong style="font-size:1.2em">{% trans "Write a message" %}</strong>
        <div id="messages-form" style="display:none;margin-top:1em">
            <form action="{% url "msg_add" object.pk %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                        <input class="form-control" type="text" title="Title" name="title" required placeholder="Enter a title">
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="8" required placeholder="Enter a message text" name="body"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">
                        Send <i class="fa fa-share ilm"></i>
                    </button>
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-primary" disabled>
                            Send to
                        </button>
                        {% if site == 'customer' %}
                        <label class="btn btn-default">
                            <input type="radio" value="{{co.MSGS_ADM}}" name="visibility" class="vtoggler" checked="checked">
                            Admin &amp; Editor </label>
                        <label class="btn btn-default">
                            <input type="radio" value="{{co.MSGS_WRITER}}" name="visibility">
                            Writer </label>
                        {% elif site == 'writer' %}
                        <label class="btn btn-default">
                            <input type="radio" value="{{co.MSGS_ADM}}" name="visibility" class="vtoggler" checked="checked">
                            Admin &amp; Editor </label>
                        <label class="btn btn-default">
                            <input type="radio" value="{{co.MSGS_CUSTOMER}}" name="visibility">
                            Customer </label>
                        {% else %}
                        <label class="btn btn-default">
                            <input type="radio" value="{{co.MSGS_WRITER}}" name="visibility" class="vtoggler" checked="checked">
                            Writer </label>
                        <label class="btn btn-default">
                            <input type="radio" value="{{co.MSGS_CUSTOMER}}" name="visibility">
                            Customer </label>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    <table class="table table-hover table-condensed small" style="background-color:#fff;">
        <caption class="my">
            Messages <span class="badge pull-right" style="margin-right:8px;background-color:#555">{{msgs|length}}</span>
        </caption>
        <thead>
            <tr>
                <th width="16">&nbsp;</th>
                <th>{% trans 'Title' %}</th>
                <th>{% trans 'Created' %}</th>
                <th>{% trans 'Creator' %}</th>
                <th>{% trans 'Sent To' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for m in msgs %}
            <tr>
                <td><i class="fa fa-envelope{% if not m|is_msg_new:request.user %}-o{% endif %}" title="{% if m|is_msg_new:request.user %}New message{% else %}Old message{% endif %}"></i></td>
                <td><a href="{% url 'msg_detail' m.id %}">{{m.title}}</a></td>
                <td>{{m.created}}</td>
                <td><a href="{% url 'user_edit' m.mowner.id %}">{{m.mowner.username}}</a></td>
                <td>{{m.get_visibility}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="my">
            <tr></tr>
        </tfoot>
    </table>
</div>
<div id="uploadsRight" class="{title:'uploads &middot; {{uploads|length}}'}">
    {% if perm.can_upload %}
    <div class="well well-sm">
        <a class="pull-right uploads-add" href="javascript:void(0)"><i class="fa fa-plus-circle"></i></a>
        <i class="fa fa-upload fa-lg irm"></i><strong>{% trans "Upload a file" %}&hellip;</strong>
        <div id="uploads-form" style="display:none; margin-top:-10px">
            <form action="{% url "upload_file" object.pk %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group{% if form.attach.errors %} has-error{% endif %}">
                    <div class="file-input form-control">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-file fa-fw"></i></span>
                            <input id="id_attach" class="upload-file" type="file" title="Browse" name="attach" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="btn-group btn-group-xs" data-toggle="buttons">
                            {% if site == 'admin' or site == 'editor'  %}
                            <label class="btn btn-default flat-btn">
                                <input class="vtoggler" type="radio" name="access_level" value="{{co.PUBLIC_ACCESS}}" checked="checked">
                                Public </label>
                            <label class="btn btn-default flat-btn">
                                <input class="vtoggler" type="radio" name="access_level" value="{{co.PRIVATE_ACCESS}}">
                                Private </label>
                            {% else %}
                              <input type="hidden" name="access_level" value="{{co.PUBLIC_ACCESS}}">
                            {% endif  %}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-primary pull-right">
                            Upload<i class="fa fa-upload ilm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif  %}
    <div id="uploads-holder">
        <form id="uploads_manage" action="" method="post" style="display:none">
            {% csrf_token %}
        </form>
        {% include "tasks/uploads_list.html" with accid="my" list_title="My uploads" %}
    </div>
</div>
{% if site == 'admin' or site = 'editor' %}
  {% if reports or perm.can_report %}
  <div id="reportsRight" class="{title:' reports &middot; {{reports|length}} '}">
    <div class="admin-reports">
        {% if perm.can_report %}
        <div class="well well-sm">
            <a class="pull-right adm-report-add" href="javascript:void(0)"><i class="fa fa-plus-circle"></i></a>
            <i class="fa fa-th-large fa-lg irm"></i><strong>{% trans "Admin reports"%}</strong><span class="ilm badge">{{reports|length}}</span>
            <div id="report-form" style="display:none">
                <form action="{% url "report_new" object.pk %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="title" class="form-control" required placeholder="Report title">
                    <textarea row="4" name="body" class="form-control" required placeholder="Report text"></textarea>
                    <div style="text-align:right">
                        <button type="submit" class="btn btn-primary">
                            Post<i class="fa fa-check-square-o ilm"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        <div id="adm-report-holder">
            {% for report in reports %}
            <div class="panel panel-info">
                <!--form id="report_remove" action="{# url "report_remove" report.pk #}" method="post">
                    {# csrf_token #}
                </form-->
                <div class="panel-heading">
                    <h3 class="panel-title"><a class="pull-right adm-report-ctrl" data-body-id="{{report.pk}}" href="javascript:void(0)"><i class="fa fa-caret-square-o-down"></i></a><!--a class="pull-right adm-report-del" id="rep-del-{{report.pk}}" onclick="$('#report_remove').submit();" href="javascript:void(0)" style="display:none"--> <i class="fa fa-times-circle"></i> </a> {{report.title}}</h3>
                </div>
                <div id="body-id-{{report.pk}}" class="panel-body small" style="display:none">
                    {{report.body}}
                </div>
                <div class="panel-footer small">
                    by <a href="{% url "user_details" report.rowner.pk %}">{{report.rowner}}</a><span class="pull-right"><i class="fa fa-1 fa-calendar irm"></i>{{report.created}}</span>
                </div>
            </div>
            {% endfor  %}
        </div>
    </div>
  </div>
  {% endif %}
{% endif %}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/mbExtruder.css" type="text/css">
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}js/lib/jquery.hoverIntent.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/lib/jquery.mb.flipText.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/lib/mbExtruder.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/panels.js" type="text/javascript"></script>
{% endblock %}
