{% extends "layout.html" %}
{% load i18n attr %}
{% block pagetitle %}
  {% if object and object.status == co.DRAFT %}
    {% trans "Order Draft Edit" %}
  {% else  %}
    {% trans "Order Edit" %}
  {% endif %}
{% endblock %}
{% block content %}
<section class="container-fluid panel panel-default{% if form.errors %} panel-danger{% endif %}">
    <div class="panel-heading">
        <h3 class="panel-title">{% if object %}<i class="fa fa-edit fa-lg" style="margin-right:1em"></i>{% if object and object.status == co.DRAFT %}
          {% trans "Order Draft Edit" %}{% else %}{% trans "Order Edit" %}{% endif %} { Id: {{object.id}} }{% else %}<i class="fa fa-asterisk fa-lg" style="margin-right:1em"></i>{% trans "New Order" %}{% endif %}</h3>
    </div>
    <div class="panel-body">
        <form role="form" action="{% if object %}{% url "task_edit" object.pk %}{% else %}{% url "task_new" %}{% endif %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--
            {% if form.errors  %}
            {{form.errors}}
            {% endif  %}
            -->
            {% if site == "admin" or site == "editor" %}
            <div class="row">
                <div class="col-md-8">
                    {% endif %}
                    <div class="row">
                        <!-- pass some hidden fields to a customer -->
                        {% if site == 'customer' %}
                        <input type="hidden" name="access_level" value="{{co.PRIVATE_ACCESS}}">
                        {% endif %}
                        <!-- left column -->
                        <div class="{% if site == 'customer' or site == 'writer' %}col-md-5 col-md-offset-1{% else %}col-md-6{% endif %}">
                            <div class="form-group{% if form.assigment.errors %} has-error{% endif %}">
                                <label>{% trans "Assigment Type" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-list-alt fa-fw"></i></span>
                                    {{form.assigment|attr:"class:form-control,autocomplete:off,placeholder:Assigment Type"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.urgency.errors %} has-error{% endif %}">
                                <label>{% trans "Urgency" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                                    {{form.urgency|attr:"class:form-control,autocomplete:off,placeholder:Urgency"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.page_number.errors %} has-error{% endif %}">
                                <label>{% trans "Number of pages" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-files-o fa-fw"></i></span>
                                    {{form.page_number|attr:"class:form-control,autocomplete:off,placeholder:Number of pages"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.spacing.errors %} has-error{% endif %}">
                                <label>{% trans "Spacing" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-arrows-v fa-fw"></i></span>
                                    {{form.spacing|attr:"class:form-control,autocomplete:off,placeholder:Spacing"}}
                                </div>
                            </div>
                        </div>
                        <div class="{% if site == 'customer'%}col-md-5{% else %}col-md-6{% endif %}">
                            <div class="form-group{% if form.discipline.errors %} has-error{% endif %}">
                                <label>{% trans "Discipline" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-book fa-fw"></i></span>
                                    {{form.discipline|attr:"class:form-control,autocomplete:off,placeholder:Discipline"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.level.errors %} has-error{% endif %}">
                                <label>{% trans "Level" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-certificate fa-fw"></i></span>
                                    {{form.level|attr:"class:form-control,autocomplete:off,placeholder:Level"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.style.errors %} has-error{% endif %}">
                                <label>{% trans "Academic Styles" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-building-o fa-fw"></i></span>
                                    {{form.style|attr:"class:form-control,autocomplete:off,placeholder:Styles"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.source_number.errors %} has-error{% endif %}">
                                <label>{% trans "Number of sources/references" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-bars fa-fw"></i></span>
                                    {{form.source_number|attr:"class:form-control,autocomplete:off,placeholder:Number of sources/references"}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="{% if site == 'customer' or site == 'writer' %}col-md-10 col-md-offset-1{% else %}col-md-12{% endif %}">
                            {% if not object.pk %}
                            <div class="form-group{% if form.attach.errors %} has-error{% endif %}">
                                <div class="file-input form-control">
                                    <div class="input-group margin-bottom-sm">
                                        <span class="input-group-addon"><i class="fa fa-paperclip fa-fw"></i></span>
                                        <input id="id_attach" class="upload-file" type="file" title="Attachment" name="attach" required>
                                        {% if form.attach.value %}
                                        <a href="{{ MEDIA_URL }}{{ form.attach.value }}" style="margin:0 10px">{{ form.attach.value }}</a>
                                        <input id="attach-clear_id" type="checkbox" name="attach-clear" style="virtual-align:middle">
                                        <label for="attach-clear_id">{% trans "Delete" %}</label>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endif  %}
                            <div class="form-group{% if form.paper_title.errors %} has-error{% endif %}">
                                <label>{% trans "Paper Title" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-tag fa-fw"></i></span>
                                    {{form.paper_title|attr:"class:form-control,autocomplete:off,placeholder:Paper Title"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.instructions.errors %} has-error{% endif %}">
                                <label>{% trans "Paper Instructions" %}</label>
                                {{form.instructions|attr:"class:form-control,rows:4,autocomplete:off,placeholder:Paper Instructions"}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="{% if site == 'customer' or site == 'writer' %}col-md-5 col-md-offset-1{% else %}col-md-6{% endif %}">
                            <div class="form-group input-group margin-bottom-sm {% if form.accept_terms.errors %} has-error{% endif %}">
                                <span class="input-group-addon"> {{form.accept_terms|attr:"class:accept-chk"}} </span>
                                <span class="form-control" style="overflow:auto">{% trans "I accept terms and conditions" %}</span>
                            </div>
                            <div class="form-group input-group margin-bottom-sm">
                                <span class="input-group-addon"><i class="fa fa-barcode fa-fw"></i></span>
                                {{form.discount|attr:"class:form-control,autocomplete:off,placeholder:Discount Code"}}
                            </div>
                        </div>
                        <div class="form-group col-md-5" style="text-align:right;padding-top:1em">
                            {% if not object or perm.can_edit %}
                            <a href="#" class="btn-cancel btn btn-default btn-lg" data-back-to="/" role="button" style="width:40%"> <i class='fa fa-times-circle-o fa-lg' style="margin-right:.5em"></i>{% trans "Cancel" %} </a>
                            <button type="submit" class="btn btn-primary btn-lg" role="button" style="width:40%">
                                {% trans "Next" %}<i class='fa fa-check-circle-o fa-lg' style="margin-left:.5em"></i>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    {% if site == "admin" or site == "editor" %}
                </div>
                <div class="col-md-4">
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Attributes
                        </div>
                        <div class="panel-body">
                            <div class="form-group{% if form.assignee.errors %} has-error{% endif %}">
                                <label>{% trans "Writer" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                    {{form.assignee|attr:"class:form-control,autocomplete:off,placeholder:Writer"}}
                                </div>
                            </div>
                            <div class="form-group{% if form.mark.errors %} has-error{% endif %}">
                                <label>{% trans "Mark" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-star-half-o fa-fw"></i></span>
                                    {{form.mark|attr:"class:form-control,autocomplete:off,placeholder:Mark"}}
                                </div>
                            </div>
                            {% if site == "admin" %}
                            <div class="form-group{% if form.access_level.errors %} has-error{% endif %}">
                                <label>{% trans "Access Level" %}</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-eye fa-fw"></i></span>
                                    {{form.access_level|attr:"class:form-control,autocomplete:off,placeholder:Access Level"}}
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group{% if form.priority.errors %} has-error{% endif %}">
                                <label>&nbsp;</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"> {{form.priority|attr:"class:accept-chk"}} </span>
                                    <span class="form-control" style="overflow:auto;width:100%">{% trans "Priority" %}</span>
                                </div>
                            </div>
                            <div class="form-group{% if form.revision.errors %} has-error{% endif %}">
                                <label>&nbsp;</label>
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"> {{form.revision|attr:"class:accept-chk"}} </span>
                                    <span class="form-control" style="overflow:auto;width:100%">{% trans "Revision" %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</section>
{% endblock %}
{% block info_block %}
{% endblock %}
