{% extends "layout.html" %}
{% load i18n %}
{% block pagetitle %}Tasks{% endblock %}
{% block info_block %}
<section class="info">
    <h2><i class="fa fa-tasks irm"></i> {% trans "Tasks List" %} <small style="color:#333;margin-left:0.5em">{{action_label}} <sup><span class="badge" style="font-size:.6em;text-shadow:none;margin-left:.5em;background-color:#08F">{{tasks|length}}</span></sup></small></h2>
</section>
{% endblock %}
{% block content %}
{% if tasks %}
<div class="row">
    {{ PATH_IFNO }}
    <div class="col-md-12">
        <table class="tablesorter tablesorter-default table table-hover table-condensed">
            {% with "tasks/"|add:site|add:"-tasks.html" as template %}
            {% include template %}
            {% endwith %}
        </table>
    </div>
</div>
{% endif  %}
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/theme.default.css" type="text/css">
{% endblock %}

