<table class="table table-hover table-condensed small" style="background-color:#fff;">
    <caption class="my">
        Uploads <span class="badge pull-right" style="margin-right:8px;background-color:#555">{{uploads|length}}</span>
    </caption>
    <thead>
        <tr>
            <th>File</th>
            <th>Owner</th>
            <th>Created/Updated</th>
            {% if perm.can_ch_visibility %}
              <th>&nbsp;</th>
            {% endif %}
            {% if perm.can_rm_upload %}
              <th>&nbsp;</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for u in uploads  %}
        <tr>
            <td><a href="{% url "upload_download" u.pk %}">{{u.get_filename}}</a></td>
            <td><a href="{% url "user_edit" u.fowner.pk %}">{{u.fowner}}</a></td>
            <td>
            <div>
                {{u.created}}
            </div>
            <div>
                {{u.updated}}
            </div></td>
            {% if perm.can_ch_visibility %}
            <td><a href="javascript:void()" data-url="{% url "upload_visibility" u.pk %}" class="set-public" style="font-size:1.5em"><i class="fa fa-eye{% if u.access_level == co.PRIVATE_ACCESS %}-slash text-danger{% endif %}"></i></a></td>
            {% endif %}
            {% if perm.can_rm_upload %}
            <td><a href="javascript:void()" data-file-name="{{u.attach.name}}" data-url="{% url "upload_remove" u.pk %}" class="upload-delete"  style="font-size:1.5em;color:#a00"><i class="fa fa-times-circle"></i></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    <tfoot class="my">
        <tr></tr>
    </tfoot>
</table>
