{% load i18n  render_status %}
<thead>
    <tr>
        <th class="sorter-digit">{% trans 'ID' %}</th>
        <th>{% trans 'Order name' %}</th>
        <th>{% trans 'Assigment' %}</th>
        <th class="sorter-status">{% trans 'Status' %}</th>
        <th>{% trans 'Mark' %}</th>
        <th>{% trans 'Deadline' %}</th>
        <th>{% trans 'Updated' %}</th>
        <th>{% trans 'Revision' %}</th>
        <th>{% trans 'Price' %}</th>
    </tr>
</thead>
<tbody>
    {% for task in tasks %}
    <tr>
        <td>{{task.id}}</td>
        <td><a href="{% url 'task_view' task.id %}">{{task.paper_title}}</a></td>
        <td>{{task.get_assigment}}</td>
        <td data-status="{{task.status}}" style="font-size:1.4em;line-height:100%">{{task.status|render_status}}</td>
        <td>{{task.mark}}</td>
        <td class="momdl">{{task.writer_deadline}}</td>
        <td>{{task.updated}}</td>
        <td>{{task.revision}}</td>
        <td>{{task.price}}</td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr></tr>
</tfoot>
